<h4>Danh sách văn bản triển khai kế hoạch năm học</h4>

<div class="card">
  <p-table
    #dt
    [value]="issues"
    dataKey="id"
    [rowHover]="true"
    [rows]="7"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[7, 10, 15]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0"
    [globalFilterFields]="['name', 'school', 'role']"
  >
    <ng-template pTemplate="caption">
      <div class="table-header">
        <span class="p-input-icon-left">
          <i class="bi bi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Tìm kiếm"
          />
        </span>
        <p-button (click)="navigateToCreateIssue()" class="btn-purple"
          >Tạo mới</p-button
        >
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="th-id">
          <div>Id</div>
        </th>
        <th pSortableColumn="docName">
          <div>
            Tên
            <p-sortIcon field="docName"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="createdBy">
          <div>
            Người đăng
            <p-sortIcon field="createdBy"></p-sortIcon>
          </div>
        </th>
        <th class="th-small" pSortableColumn="createdDate">
          <div>
            Ngày đăng
            <p-sortIcon field="createdDate"></p-sortIcon>
          </div>
        </th>
        <!-- <th pSortableColumn="docNum">
          <div class="flex justify-content-between align-items-center">
            Số văn bản
            <p-sortIcon field="docNum"></p-sortIcon>
          </div>
        </th> -->
        <th class="th-small" pSortableColumn="inspectorNum">
          <div>
            Số người
            <p-sortIcon field="inspectorNum"></p-sortIcon>
          </div>
        </th>
        <th class="th-small"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-issue>
      <tr class="p-selectable-row">
        <td>
          <span class="p-column-title">Id</span>
          {{ issue.issueId }}
        </td>
        <td>
          <span class="p-column-title">Tên văn bản</span>
          {{ issue.issueName }}
        </td>
        <td class="td-createdby">
          <span class="p-column-title">Người đăng</span>
          {{ issue.account.user.fullName }}
        </td>
        <td>
          <span class="p-column-title">Date</span>
          {{ issue.createdDate | date : "MM/dd/yyyy" }}
        </td>
        <!-- <td>
          <span class="p-column-title">Số lượng văn bản</span>
          {{ issue.docNum }}
        </td> -->
        <td>
          <span class="p-column-title">Số lượng BKTNB</span>
          {{ issue.inspectorGroupSize }}
        </td>
        <td
          style="text-align: center"
          class="d-flex td-action justify-content-center align-items-center"
        >
          <div
            class="action-item d-flex justify-content-center align-items-center mx-2"
          >
            <i
              class="bi bi-info-circle-fill"
              (click)="navigateToDetail(issue.issueId)"
            ></i>
          </div>
          <div
            class="action-item d-flex justify-content-center align-items-center mx-2"
          >
            <i
              class="bi bi-pencil-fill"
              (click)="navigateToUpdate(issue.issueId)"
            ></i>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">Không tìm thấy kế hoạch nào</td>
      </tr>
    </ng-template>
  </p-table>
</div>
