@import "../../../../assets/scss/base";

:host ::ng-deep {
    table {
        table-layout: fixed;
        width: 100%;
    }
    th,
    td {
        font-size: 16px;
        white-space: wrap; /* Prevent text from wrapping */
        overflow: hidden; /* Hide overflowing text */
        text-overflow: ellipsis; /* Display ellipsis for overflowing text */
    }
    td {
        padding: 16px;
    }
    //  {
    //     width: 100px;
    //     overflow: hidden;
    //     font-size: 16px;
    // }
    .p-datatable > .p-datatable-wrapper {
        overflow: hidden;
    }
    .p-paginator {
        .p-paginator-current {
            border-radius: 50%;
        }
    }

    .table-header {
        display: flex;
        justify-content: space-between;
        .p-input-icon-left {
            input {
                border: 1px solid $primary;
            }
            i {
                color: $primary;
            }
        }
        button {
            font-size: 16px;
            background-color: $primary;
            border-radius: 8px;
            &:hover,
            &:active {
                background-color: $primary-hover;
                border-color: $primary-hover;
            }
        }
    }

    .p-w-100 {
        width: 100%;
    }

    /* Responsive */
    .p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
        display: none;
    }
    .th-id {
        width: 60px;
    }
    .th-small {
        width: 200px;
    }
    .td-action {
        .action-item {
            width: 40px;
            height: 40px;
            background-color: $primary;
            border-color: $primary;
            border-radius: 50%;
            font-size: 16px;
            &:hover {
                background-color: $primary-hover;
                border-color: $primary-hover;
            }
            i {
                color: #fff;
                align-items: center;
            }
        }
    }
    .p-highlight {
        color: $primary;
        .p-sortable-column-icon {
            color: $primary;
        }
    }
    .p-element .p-sortable-column .p-highlight {
        color: $primary;
    }
    .p-paginator .p-paginator-pages .p-paginator-page {
        background-color: $primary-hover;
        border-radius: 50%;
        color: #fff;
    }
    .p-paginator .p-paginator-pages .p-paginator-page .p-highlight {
        background-color: $primary;
        color: #fff;
    }
    ul {
        padding: 0;
    }
}

@media screen and (max-width: 960px) {
    :host ::ng-deep {
        .p-datatable {
            &.p-datatable-customers {
                .p-datatable-thead > tr > th,
                .p-datatable-tfoot > tr > td {
                    display: none !important;
                }

                .p-datatable-tbody > tr {
                    border-bottom: 1px solid var(--layer-2);

                    > td {
                        text-align: left;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        border: 0 none;

                        .p-column-title {
                            min-width: 30%;
                            display: inline-block;
                            font-weight: bold;
                        }

                        p-progressbar {
                            width: 100%;
                        }

                        &:last-child {
                            border-bottom: 1px solid var(--surface-d);
                        }
                    }
                }
            }
        }
    }
}
