<app-record-detail
  [canUploadDocument]="true"
  [recordId]="recordId"
  [detailRecordPopupVisible]="detailRecordPopupVisible"
  (detailRecordPopupVisibleChange)="changeDetailRecordVisible()">
</app-record-detail>
<div class="container-fluid">
  <p-table
    #dt
    *ngIf="taskList"
    [value]="taskList"
    dataKey="taskId"
    [rowHover]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [paginator]="true"
    currentPageReportTemplate="Hiển thị từ {first} tới {last} trên tổng {totalRecords} bản ghi"
    [filterDelay]="0"
    [globalFilterFields]="['name', 'role', 'school']"
  >
    <ng-template pTemplate="caption">
      <div class="table-header d-flex justify-content-between flex-row align-items-center">
            <span class="p-input-icon-left">
              <i class="fa-solid fa-search"></i>
              <input
                pInputText
                type="text"
                (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Tìm kiếm"
              />
            </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="th-id">
          <div>STT</div>
        </th>
        <th pSortableColumn="taskName">
          <div>
            Tên
            <p-sortIcon field="taskName"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="assigneeName">
          <div>
            Người thực hiện
            <p-sortIcon field="assigneeName"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="deadline">
          <div>
            Hạn nộp
            <p-sortIcon field="deadline"></p-sortIcon>
          </div>
        </th>
        <th class="th-small"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-taskList let-index="index" >
      <tr class="p-selectable-row">
        <td>
          <span class="p-column-title">STT</span>
          {{ index + 1 }}
        </td>
        <td>
          <span class="p-column-title">Tên</span>
          {{ taskList.taskName }}
        </td>
        <td>
          <span class="p-column-title">Người thực hiện</span>
          {{ taskList.assigneeName }}
        </td>
        <td>
          <span class="p-column-title">Ngày nộp</span>
          {{ taskList.deadline | date: "dd/MM/yyyy" }}
        </td>
        <td style="text-align: center"
            class="d-flex td-action justify-content-center align-items-center action-button">
          <div class="action-item d-flex justify-content-center align-items-center mx-2">
            <button type="button" (click)="initDetailRecordData(taskList.taskId)">
              <i class="bi bi-info-circle-fill"></i>
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">Không tìm thấy biên bản kiểm tra</td>
      </tr>
    </ng-template>
  </p-table>
</div>
