@import "../../../../../assets/scss/base";
*{
  font-size: 16px;
}

.th-small{
  width: 30px;
}

.action-button{
  button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background: $primary;
    i{
      color: white;
    }
  }
}
