<h2>Assignment list</h2>
<p-dialog
  header="Chi tiết công việc"
  [(visible)]="assVisible"
  [style]="{ width: '90vw', height: '100vh' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="row">
    <div class="col-md-8">
      <div>
        <span>Tên công việc</span>
        <br />
        <input pInputText type="text" />
      </div>
      <div>
        <span>Chi tiết công việc công việc</span>
        <br />
        <textarea pInputTextarea cols="60" rows="3"></textarea>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <span>Người làm</span>
        <br />
        <p-dropdown formControlName="city" [options]="assigneelist" optionLabel="name"></p-dropdown>
      </div>
    </div>
  </div>
</p-dialog>
<p-table
  #dt
  [value]="assignments"
  dataKey="id"
  [rowHover]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 15, 20]"
  [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
>
  <ng-template pTemplate="header">
    <tr>
      <th>
        <div>Id</div>
      </th>
      <th>
        <div>Teen</div>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-assignment>
    <tr>
      <td>
        {{ assignment.assignmentId }}
      </td>
      <td>
        {{ assignment.assignmentName }}
      </td>
      <td>
        <button pButton (click)="assVisible = true">Chi tiết</button>
      </td>
    </tr>
  </ng-template>
</p-table>
