$primary: #4253f0;
$primary-hover: #9aa3ff;


// space table evenly
table.table-fit {
  width: auto !important;
  table-layout: auto !important;
}
table.table-fit thead th,
table.table-fit tbody td,
table.table-fit tfoot th,
table.table-fit tfoot td {
  width: auto !important;
}

:host ::ng-deep .tui-date{
  input{
    font-size: 16px !important;
    padding-top: 0 !important;
  }
}
