<p-dialog
  header="Danh sách đoàn kiểm tra"
  [(visible)]="popupInspectorVisible"
  [modal]="true"
  [style]="{ width: '80vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="resetInspectorListVisible()"
>
  <p-table
    #dt
    [value]="inspectorList"
    [(selection)]="selectedInspectors"
    dataKey="accountId"
    [rowHover]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0"
    [globalFilterFields]="['name', 'role', 'school']"
  >
    <ng-template pTemplate="caption">
      <div class="table-header">
          <span class="p-input-icon-left">
            <i class="fa-solid fa-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Tìm kiếm"
            />
          </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th class="th-id">
          <div>Id</div>
        </th>
        <th pSortableColumn="name">
          <div>
            Tên
            <p-sortIcon field="name"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="role">
          <div>
            Chức vụ
            <p-sortIcon field="role"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="school">
          <div>
            Tên trường
            <p-sortIcon field="school"></p-sortIcon>
          </div>
        </th>
        <!-- <th class="th-small"></th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-inspector>
      <tr class="p-selectable-row">
        <td>
          <p-tableCheckbox [value]="inspector"></p-tableCheckbox>
        </td>
        <td>
          <span class="p-column-title">Id</span>
          {{ inspector.accountId }}
        </td>
        <td>
          <span class="p-column-title">Tên</span>
          {{ inspector.user.fullName }}
        </td>
        <td>
          <span class="p-column-title">Chức vụ</span>
          {{ inspector.roles[0].roleName }}
        </td>
        <td>
          <span class="p-column-title">Đơn vị</span>
          {{ inspector.school.schoolName }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">Không tìm thấy người nào</td>
      </tr>
    </ng-template>
  </p-table>
  <button
    pButton
    (click)="addInspector()"
    [disabled]="!selectedInspectors || !selectedInspectors.length"
  >
    Lưu
  </button>
</p-dialog>
