<p-dialog
  header="Xem tài liệu"
  [(visible)]="pdfPreviewVisibility"
  [style]="{ width: '90vw', height: '100vh' }"
  [draggable]="false"
  [resizable]="false"
  appendTo="body"
>
  <div *ngIf="!pdfLoaded; else pdfIsLoaded" class="spinner">
    <div class="spinner-border text-center" role="status"></div>
    <p>Đang tải...</p>
  </div>
  <ng-template #pdfIsLoaded>
    <iframe [src]="safePdfUrl" width="100%" height="105%"></iframe>
  </ng-template>
</p-dialog>

<div class="file-item py-1 d-flex" *ngIf="document; else documentEmpty" (click)="openNewTab(document.documentLink)">
  <div class="file-item-icon d-flex justify-content-center align-items-center">
    <img src="assets/img/pdf_logo.svg" alt=""/>
  </div>
  <div class="row col-md-10 d-flex align-items-end mb-3">
    <div class="col-md-8">
      <label pTooltip="{{document.documentName}}" tooltipPosition="top"
             class="fw-medium w-100 overflow-text">{{ document.documentName}} {{ document.documentName}}</label>
      <p class="mb-0 w-100">
        <label pTooltip="{{document.documentType.documentTypeName}}" tooltipPosition="right" class="fw-medium w-100 overflow-text"> <span class="fw-normal">Loại tài liệu: </span>{{ document.documentType.documentTypeName}}</label>
      </p>
      <p class="mb-0 w-100">
        <label pTooltip="{{document.documentCode}}" tooltipPosition="bottom" class="fw-medium w-100 overflow-text"><span class="fw-normal">Mã tài liệu: </span> {{ document.documentCode}}</label>
      </p>
    </div>
    <div class="col-md-4 text-end">
      <p class="mb-0">
        <span>Kích thước: </span>
        <span class="fw-medium">{{ document.size  | fileSizePipe:'MB' }}</span>
      </p>
      <p class="mb-0">
        <span>Ngày tạo: </span>
        <span class="fw-medium">{{ document.uploadedDate | date : "dd/MM/yyyy" }}</span>
    </div>
  </div>
</div>
<ng-template #documentEmpty>
  <div class="file-item-empty mt-2 py-3 d-flex flex-column justify-content-around align-items-center">
    <i class="bi bi-file-earmark-x-fill"></i>
    <p class="fw-bolder mt-2">Tài liệu hiện đang không tồn tại</p>
  </div>
</ng-template>
