<h2>Tạo trường</h2>
<form [formGroup]="saveSchoolForm"
      class="row"
      (ngSubmit)="onSubmit()"
>
    <div class="col-md-6">
        <h5 class="m-3">Thông tin trường</h5>
        <div class="col-md-10">
            <div class="m-3">
                <label>Tên trường</label>
            </div>
            <div class="m-3">
                <input
                        class="form-control"
                        type="text"
                        formControlName='schoolName'
                        placeholder="(VD): Trường mầm non Ánh sao"
                >
                <span *ngIf="isBlank('schoolName')" class="p-error">Không được để trống mục này</span>
                <span *ngIf="saveSchoolForm.get('schoolName')?.hasError('notUnique')" class="p-error">Tên trường này đã tồn tại</span>

            </div>
        </div>
        <div class="col-md-10">
            <div class="m-3">
                <label>Địa chỉ</label>

            </div>
            <div class="m-3">
                <input
                        class="form-control"
                        type="text"
                        formControlName='exactAddress'
                        placeholder="(VD): Số 32, Phường A, Quận Cầu Giấy"
                >
                <span *ngIf="isBlank('exactAddress')" class="p-error">Không được để trống mục này</span>

            </div>

        </div>
        <button class="m-3 btn btn-primary" type="submit">Tạo</button>

    </div>
    <div class="col-md-6">
        <h5 class="m-3">Thông tin về hiệu trưởng</h5>
        <div class="col-md-10">
            <div class="m-3">
                <label>Email</label>
            </div>
            <div class="m-3">
                <input
                        class="form-control"
                        type="text"
                        formControlName='email'
                        placeholder="(VD): nguyenvan-a@mamnon.edu.vn"
                >
                <span class="p-error"
                      *ngIf="isBlank('email')">Không được để trống mục này</span>
                <span class="p-error"
                      *ngIf="saveSchoolForm.get('email')?.hasError('email')">Sai định dạng gmail</span>
                <span class="p-error"
                      *ngIf="saveSchoolForm.get('email')?.hasError('notUnique')">
      Email này đã tồn tại vui lòng chọn email khác
    </span>
            </div>
        </div>
    </div>


</form>
<div class="overlay" *ngIf="isLoading">
    <div class="spinner-container">
        <div class="spinner-border" role="status"></div>
    </div>
</div>

<p-toast position="top-right" key="error"></p-toast>
