@import "../../../../../assets/scss/base";
@import "../../../../../assets/scss/prime-custom";

.plan {
    height: 100%;
    font-size: 16px;
}
.plan-content {
    // border-bottom: solid 1px $primary;
}
.plan-file-item {
    cursor: pointer;
    height: 160px;
    border-radius: 15px;
    background-color: #f0f3f5;
    transition: all 0.6s ease;
    .font-weight-bold {
        color: #686f73;
    }
    &:hover {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        cursor: pointer;
    }
    .plan-file-item-img {
        width: 30%;
        border-radius: 15px 0 0 15px;
    }
    .plan-file-item-content {
        width: 70%;
        // background-color: #ffd4cf;
        font-size: 16px;
        border-radius: 0px 15px 15px 0px;
        margin: 0;
        .delete-icon {
            i {
                font-size: 30px;
                color: rgb(172, 172, 172);
            }
            &:hover {
                i {
                    transition: all 0.3s ease;
                    color: rgb(220, 220, 220);
                }
            }
        }
    }
}
.upload {
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 100%;
    border-radius: 15px;
    height: 100%;
    .header {
        background-color: $primary;
        color: #fff;
        border-radius: 15px 15px 0px 0px;
    }
}
p {
    font-size: 16px;
}
.input-file {
    height: 100%;
    width: 100%;
    button {
        width: 200px;
        background-color: $primary;
        border-radius: 8px;
        &:hover,
        &:active {
            background-color: $primary-hover;
            border-color: $primary-hover;
        }
    }
}
.btn-upload {
    button {
        width: 200px;
        margin: 0;
    }
}
.button-bottom {
    button {
        font-size: 16px;
        padding: 15px 20px;
        border-radius: 30px;
        border: none;
        width: 200px;
        transition: all 0.5s ease;
        &.p-tag-danger {
            &:hover {
                background-color: #ffd4cf;
            }
        }
        &.p-tag-success {
            &:hover {
                background-color: #cdf8e3;
            }
        }
    }
}
.font-weight-bold {
    font-weight: 500;
}
p-calendar.p-calendar-inline {
    width: 300px; /* Adjust the width as needed */
}
input {
    border-radius: 8px;
    width: 800px;
}
.input-file-popup {
    width: 800px;
    input {
        width: 600px;
        border-radius: 8px 0 0 8px;
    }
    button {
        border-radius: 0 8px 8px 0;
        margin: 0px;
    }
}
:host ::ng-deep {
    .p-button {
        background-color: $primary;
        border-radius: 8px;
        border: solid 1px $primary;
        transition: all 0.5s ease;
        margin-right: 20px;
        &:hover {
            background-color: $primary-hover;
            border-color: $primary-hover;
        }
    }
    // .p-confirm-dialog-reject {
    //     background-color: #fff;
    //     color: $primary;
    //     &:hover {
    //         color: #fff;
    //     }
    // }
}
.font-size-20 {
    font-size: 20px;
}
.his-file-name {
    cursor: pointer;
    color: blue;
    &:hover {
        text-decoration: underline;
    }
}
.calendar {
    height: 400px;
    width: 400px;
}
