@import "../../../../../assets/scss/base";
@import "../../../../../assets/scss/prime-custom";

.plan {
    height: 100%;
    font-size: 16px;
}
.plan-content {
    // border-bottom: solid 1px $primary;
}
.file-item {
    background-color: #f9fafb;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    .file-item-icon {
        img {
            width: 100%;
            height: 100px;
        }
    }

    .file-item-content {
    }

    &:hover {
        cursor: pointer;
        background-color: rgb(244, 244, 244);
    }
}
.upload {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 100%;
    border-radius: 15px;
    height: 100%;
    .header {
        background-color: $primary;
        color: #fff;
        border-radius: 15px 15px 0px 0px;
    }
}
.input-file {
    height: 100%;
    width: 100%;
    button {
        width: 200px;
        background-color: $primary;
        border-radius: 8px;
        &:hover,
        &:active {
            background-color: $primary-hover;
            border-color: $primary-hover;
        }
    }
}
.btn-upload {
    button {
        width: 200px;
        margin: 0;
    }
}
.button-bottom {
    button {
        font-size: 16px;
        padding: 15px 20px;
        border-radius: 30px;
        border: none;
        width: 200px;
        transition: all 0.5s ease;
        &.p-tag-danger {
            &:hover {
                background-color: #ffd4cf;
            }
        }
        &.p-tag-success {
            &:hover {
                background-color: #cdf8e3;
            }
        }
    }
}
.font-weight-bold {
    font-weight: 500;
}
p-calendar.p-calendar-inline {
    width: 300px; /* Adjust the width as needed */
}
input {
    border-radius: 8px;
    width: 100%;
}
.input-file-popup {
    width: 100%;
    .col-md-3 {
        padding: 0;
        button {
            width: 100%;
        }
    }
    .col-md-9 {
        padding-right: 0;
    }
    input {
        border-radius: 8px 0 0 8px;
    }
    button {
        border-radius: 0 8px 8px 0;
        margin: 0px;
    }
}
:host ::ng-deep {
    // table {
    //     font-size: 16px;
    // }
    .p-button {
        background-color: $primary;
        border-radius: 8px;
        border: solid 1px $primary;
        transition: all 0.5s ease;
        margin-right: 20px;
        &:hover {
            background-color: $primary-hover;
            border-color: $primary-hover;
        }
    }
    .p-table {
        tr {
            height: 100px;
        }
        td {
            font-size: 16px;
        }
    }
    .history-search-box {
        width: 300px;
    }
    .th-id {
        width: 80px;
    }
    // for icon sort
    .p-highlight {
        .p-sortable-column-icon {
            color: $primary;
        }
    }
    // for active th
    .p-highlight {
        div {
            color: $primary;
        }
        .p-dropdown-item {
            color: white;
        }
    }
    // FILTER ICON
    .p-column-filter-menu-button-active {
        border-radius: 50%;
        // background-color: #cfd3ff;
        background-color: $primary;
        color: #fff;
    }
    .p-column-filter-clear-button,
    .p-column-filter-menu-button {
        border-radius: 50%;
    }
    .p-paginator .p-paginator-pages .p-paginator-page {
        border-radius: 50%;
        &.p-highlight {
            background-color: $primary-hover !important;
            color: #fff !important;
        }
    }
    table {
        table-layout: fixed;
        width: 100%;
    }
    .p-checkbox .p-checkbox-box {
        border-color: $primary-hover;
        &.p-highlight {
            background-color: $primary-hover;
        }
    }

    .search-input {
        width: 400px;
    }

    // .p-confirm-dialog-reject {
    //     background-color: #fff;
    //     color: $primary;
    //     &:hover {
    //         color: #fff;
    //     }
    // }
}
.font-size-20 {
    font-size: 20px;
}
.his-file-name {
    cursor: pointer;
    color: blue;
    &:hover {
        text-decoration: underline;
    }
}
.calendar {
    height: 400px;
    width: 400px;
}
// .height-80 {
//     height: 80px;
// }
