<p-dialog
  header="{{header}}"
  [(visible)]="visible"
  [style]="{ 'width.%': width, 'height.%': height }"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
  [modal]="true"
>
  <div *ngIf="!completed && !failed" class="spinner">
    <div class="spinner-border text-center" role="status"></div>
    <p class="mt-4 fw-medium">{{progress}}</p>
  </div>
  <div *ngIf="completed" class="d-flex flex-column justify-content-center align-items-center mt-5">
    <i class="bi bi-check-circle-fill icon"></i>
    <p class="mt-4 icon-text fw-medium">{{complete}}</p>
  </div>
  <div *ngIf="failed" class="d-flex flex-column justify-content-center align-items-center mt-5">
    <i class="bi bi-x-circle-fill icon"></i>
    <p class="mt-4 icon-text fw-medium">{{fail}}</p>
  </div>
</p-dialog>
