@import "../../../assets/scss/base";
.searchbar {
    .col-md-9 {
        input {
            padding: 20px 40px;
            width: 800px;
            border-radius: 40px;
            border: none;
            box-shadow:
                rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }
        i {
            margin-right: 5%;
            color: $primary;
        }
    }
}

.notification {
    i {
        color: $primary;
        font-size: 30px;
        padding: 10px;
        border-radius: 50%;
    }
    &:hover {
        i {
            background-color: $primary-hover;
            color: #fff;
            transition: all 0.5s ease;
        }
    }
    .primary-badge {
        background-color: $primary;
    }
}
.user {
    &:hover {
        i {
            background-color: $primary-hover;
            color: #fff;
            transition: all 0.5s ease;
        }
    }
    i {
        color: $primary;
        font-size: 30px;
        padding: 10px;
        border-radius: 50%;
        margin: 0 20px;
    }
}
.top-nav {
  a {
    padding: 0 20px;
  }

  i {
    color: $primary;
    font-size: 30px;
    border-radius: 100%;

    &:hover {
      color: $primary-hover;
    }
  }

  .primary-badge {
    background-color: $primary;
  }
}

