<div class="row searchbar mb-2">
  <div class="col-md-6 search">
    <!-- <span class="p-input-icon-right">
      <input class="ps-3" pInputText type="text" />
      <i class="fa fa-search" aria-hidden="true"></i>
    </span> -->
  </div>
  <div
    class="col-md-6 d-flex flex-row justify-content-end align-items-center top-nav"
  >
    <app-notification-list
    ></app-notification-list>
    <a>
      <i class="bi bi-person-circle" (click)="onClickUserProfile()"></i>
    </a>
  </div>
</div>

<app-user-profile [visible]="isVisible" (visibleChange)="onClickUserProfile()">
</app-user-profile>
