<div class="row searchbar mb-2">
  <div class="col-md-6 search">
  </div>
  <div
    class="col-md-6 d-flex flex-row justify-content-end align-items-center top-nav"
  >
    <app-notification-list
      [badgeValue]="badgeValue"
      [notificationListDtos]="notificationListDtos"
      [unseenNotificationDtos]="unseenNotificationDtos"
      [unseen]="unseen"
      [all]="all"
      [notificationPageSize]="notificationPageSize"
      [notificationAllIsLoaded]="notificationAllIsLoaded"
      [notificationUnSeenIsLoaded]="notificationUnSeenIsLoaded"
      (notificationListClosed)="onNotificationListClose()"
    ></app-notification-list>
    <a>
      <i class="bi bi-person-circle" (click)="onClickUserProfile()"></i>
    </a>
  </div>
</div>
<app-user-profile [visible]="isVisible" (visibleChange)="onClickUserProfile()">
</app-user-profile>
