<span>breadcumb here</span>
<!-- {{ issue | json }} -->
<h4>Chi tiết kế hoạch kiểm tra</h4>
<br />
<div class="row" *ngIf="issue">
  <div class="row col-md-8">
    <div class="col-6 mb-5">
      <h5>Tên kế hoạch</h5>
      <span class="text-black-50 mb-5">{{ issue.issueName }}</span>
    </div>
    <div class="col-6 mb-5">
      <h5>Người tạo</h5>
      <span class="text-black-50 mb-5">{{ issue.account.user.fullName }}</span>
    </div>
    <div class="col-6 mb-5">
      <h5>Chi tiết</h5>
      <span class="text-black-50">{{ issue.description }}</span>
    </div>
    <div class="col-6 mb-5">
      <h5>Ngày tạo</h5>
      <span class="text-black-50">{{
        issue.createdDate | date : "MM/dd/yyyy"
      }}</span>
    </div>
    <div class="mb-5">
      <h5 class="mb-3">Tài liệu công văn</h5>
      <ng-container *ngFor="let item of issue.documentDtos">
        <div class="file-item p-3 mb-2 d-flex">
          <div class="file-item-icon">
            <i class="bi bi-file-earmark"></i>
          </div>
          <div class="file-item-content ps-3">
            <p class="text-d">
              {{ item.documentName }}<br />
              {{ item.sizeFormat }}<br />
              {{ item.uploadedDate | date : "MM/dd/yyyy" }}
            </p>
          </div>
          <div class="mx-auto" *ngIf="item.status">
            <p-tag class="status" severity="success" [rounded]="true">
              {{ item.status.statusName }}
            </p-tag>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="col-md-4">
    <div class="list-inspector">
      <div class="list-inspector-header p-3 text-center">
        <h5 class="mx-auto">Danh sách thanh tra</h5>
        <div class="total">
          <span class="text-secondary mx-auto"
            >Tổng số: {{ issue.inspector.length }}</span
          >
        </div>
      </div>

      <div class="card">
        <ng-template pTemplate="header">Header Content</ng-template>
        <p-virtualScroller
          [value]="issue.inspector"
          class="border-1 surface-border border-round"
          scrollHeight="540px"
          [itemSize]="120"
        >
          <ng-template pTemplate="item" let-item>
            <div class="scrollview-item d-flex p-3 ms-2 h-full">
              <div
                class="scrollview-item-icon d-flex justify-content-center align-items-center"
              >
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                <!-- <span class="index">{{
                  issue.inspector.indexOf(item) + 1
                }}</span> -->
              </div>
              <div class="scrollview-item-content ms-4">
                <span class="font-weight-bold">{{ item.name }}</span>
                <br />
                <span
                  >{{ item.role }}<br />
                  {{ item.school }}
                </span>
              </div>
            </div>
          </ng-template>
        </p-virtualScroller>
      </div>
    </div>
  </div>
</div>
