@import "../../../../assets/scss/base";

:host ::ng-deep .p-tabmenu-nav{
  border: none;
}

:host ::ng-deep .p-tabmenu-nav{
  .p-highlight{
    border-bottom: 2px solid !important;
    border-bottom-color: $primary !important;
  }
  .p-menuitem-link{
    text-decoration: none;
    color: $primary !important;
  }
  .p-menuitem-link-active{
    border-bottom: 2px solid !important;
    border-bottom-color: $primary !important;
  }
}
