@import "../../../assets/scss/base";

*{
  font-size: 14px;
}

.notification{
  border-radius: 10px;
  button{
    margin-right: 1.5rem;
    padding: 0 20px;
    border: none;
    background: none;
    i {
      color: $primary;
      font-size: 30px;
      border-radius: 100%;

      &:hover {
        color: $primary-hover;
      }
    }

    .primary-badge {
      background-color: $primary;
    }
  }

  .notification-heading{
    font-size: 20px;
  }

  .notification-list{
    width: 370px;
    max-height: 450px;
    .notification-change-view{
      .button-active{
        background-color: $primary-hover;
        color: white;
      }

      button{
        font-size: 16px;
        margin-right: 10px;
        padding: 0;
        border-radius: 25px;


        &:hover {
          background-color: $primary-hover;
          color: white;
        }
      }
    }
  }
  .dropdown-toggle::after {
    display: none;
  }
}

