<div ngbDropdown (openChange)="onNotificationClose($event)" class="d-inline-block notification" placement="bottom-right">
  <button type="button" id="dropdownBasic1" ngbDropdownToggle>
    <i class="bi bi-bell" pBadge [value]="badgeValue" severity="danger"></i>
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="notification-list">
    <div class="notification-heading fw-bolder text-center mb-2">Thông báo</div>
    <div class="notification-change-view ms-2 mb-2">
      <button type="button" class="fw-medium px-3 py-1" [class.button-active]="showAllNotification"
              (click)="onClickAllNotification()">Toàn bộ
      </button>
      <button type="button" class="fw-medium px-3 py-1" [class.button-active]="!showAllNotification"
              (click)="onClickUnseenNotification()">Chưa xem
      </button>
    </div>
    <div class="dropdown-divider mb-0"></div>
    <div class="notification-item-list" (scroll)="onNotificationListScroll($event)">
      <app-notification-list-all
        [allNotificationLoaded]="notificationAllIsLoaded"
        *ngIf="showAllNotification"
        [notificationListDtos]="notificationListDtos">
      </app-notification-list-all>
      <app-notification-list-unseen
        [allNotificationLoaded]="notificationUnSeenIsLoaded"
        *ngIf="!showAllNotification"
        [unseenNotificationDtos]="unseenNotificationDtos">
      </app-notification-list-unseen>
    </div>
    <div class="dropdown-divider mt-0"></div>
    <div class="notification-footer"></div>
  </div>
</div>
