@import "../../../assets/scss/base";
.no-gutter-row {
  margin-right: 0;
  margin-left: 0;
}
.side-bar {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.searchbar {
  padding-top: 30px;
  padding-bottom: 10px;
  // position: sticky;
  // border-bottom: 1px solid $primary;
}
.container {
  border: 1px solid;
  height: 100%;
  margin-left: 15% !important;
}
