<p-confirmDialog
  [style]="{width: '50vw'}"
  acceptLabel="Xác nhận"
  rejectLabel="Hủy bỏ"
></p-confirmDialog>
<p-dialog
  header="Xem tài liệu"
  [(visible)]="pdfPreviewVisibility"
  [style]="{ width: '90vw', height: '100vh' }"
  [draggable]="false"
  [resizable]="false"
>
  <div *ngIf="!pdfLoaded; else pdfIsLoaded" class="spinner">
    <div class="spinner-border text-center" role="status"></div>
    <p>Đang tải...</p>
  </div>
  <ng-template #pdfIsLoaded>
    <iframe [src]="safePdfUrl" width="100%" height="105%"></iframe>
  </ng-template>
</p-dialog>
<app-inspection-plan-inspector-popup
  (popupInspectorVisibleChange)="changeInspectorVisible()"
  [popupInspectorVisible]="popupInspectorVisible"
  [inspectorList]="nonInspectorList"
  [chiefList]="chiefList"
  (selectedInspectorsList)="getInspectorIds($event)"
  [inspectorListIsValid]="inspectorListIsValid"
></app-inspection-plan-inspector-popup>
<div class="container-fluid">
  <h5 class="mat-headline-5 fw-medium">Cập nhật quyết định kiểm tra</h5>
  <div class="row update-inspection-plan">
    <form class="row" [formGroup]="inspectionPlanForm" (ngSubmit)="onSubmit()">
      <div class="form-content col-md-8">
        <div class="inspection-plan-name mb-2">
          <label class="fw-medium mb-1">Tên quyết định kiểm tra<span class="p-error">*</span></label>
          <input
            type="text"
            pInputText
            class="w-100"
            formControlName="inspectionPlanName"
          />
          <div
            *ngIf="inspectionPlanForm.controls?.['inspectionPlanName']?.invalid && (inspectionPlanForm.controls?.['inspectionPlanName']?.touched ||inspectionPlanForm.controls?.['inspectionPlanName']?.dirty)">
            <span
              *ngIf="inspectionPlanForm.controls?.['inspectionPlanName']?.errors?.['required']" class="p-error">
              Vui lòng điền tên quyết định kiểm tra
            </span>
            <span *ngIf="inspectionPlanForm.controls?.['inspectionPlanName']?.errors?.['maxLength']" class="p-error">
              Tên quyết định kiểm tra quá dài
            </span>
          </div>
        </div>
        <div class="inspection-plan-description mb-2">
          <label class="fw-medium mb-1">Chi tiết<span class="p-error">*</span></label>
          <textarea
            type="text"
            pInputTextarea
            rows="5"
            class="w-100"
            formControlName="description"
          ></textarea>
          <div
            *ngIf="inspectionPlanForm.controls?.['description']?.invalid && (inspectionPlanForm.controls?.['description']?.touched ||inspectionPlanForm.controls?.['description']?.dirty)">
            <span *ngIf="inspectionPlanForm.controls?.['description']?.errors?.['required']" class="p-error">
              Vui lòng điền chi tiết quyết định kiểm tra
            </span>
          </div>
        </div>
        <div class="inspection-plan-school mb-3 row">
          <div class="col-md-6 mb-2">
            <label class="fw-medium mb-1">Trường kiểm tra</label>
            <select title="schoolList" class="form-select" disabled>
              <option selected value="0">{{inspectionPlanDetail?.inspectionPlan?.school?.schoolName}}</option>
            </select>
          </div>
          <div class="col-md-6 mb-2">
            <label class="fw-medium mb-1">Trưởng đoàn kiểm tra<span class="p-error">*</span></label>
            <p-dropdown class="full-width-dropdown" [options]="eligibleChiefList" formControlName="chiefId"
                        optionLabel="user.fullName"
                        [filter]="true" filterBy="user.fullName" optionValue="accountId" [showClear]="true">
            </p-dropdown>
            <div
              *ngIf="inspectionPlanForm.controls?.['chiefId']?.invalid && (inspectionPlanForm.controls?.['chiefId']?.touched ||inspectionPlanForm.controls?.['chiefId']?.dirty)">
            <span *ngIf="inspectionPlanForm.controls?.['chiefId']?.errors?.['required']" class="p-error">
              Vui lòng chọn trưởng đoàn kiểm tra
            </span>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3 mb-2">
            <label class="fw-medium mb-1">Ngày bắt đầu<span class="p-error">*</span></label>
            <input class="form-control" type="date" formControlName="startDate" [min]="minStartDate" [max]="maxStartDate" (change)="onStartDateChange()"/>
          </div>
          <div class="col-md-3 mb-2">
            <label class="fw-medium mb-1">Ngày kết thúc<span class="p-error">*</span></label>
            <input class="form-control" type="date" formControlName="endDate"  [min]="minEndDate" (change)="onEndDateChange()"/>
          </div>
        </div>
        <div>
          <h6 class="mat-headline-6 fw-medium mb-1">Tài liệu công văn</h6>
          <div class="file-item py-1 d-flex"
               (click)="openNewTab(inspectionPlanDetail.inspectionPlan.documents[0]?.documentLink)">
            <div class="file-item-icon d-flex justify-content-center align-items-center">
              <img src="../../../../../assets/img/pdf_logo.svg" alt=""/>
            </div>
            <div class="row col-md-10 d-flex align-items-end mb-3">
              <div class="col-md-8">
                <p class="mb-0">
                  <span>Tên tài liệu: </span>
                  <span class="fw-bold">{{ inspectionPlanDetail?.inspectionPlan?.documents[0]?.documentName}}</span>
                </p>
                <p class="mb-0">
                  <span>Loại tài liệu: </span>
                  <span
                    class="fw-bold">{{ inspectionPlanDetail?.inspectionPlan?.documents[0]?.documentType.documentTypeName}}</span>
                </p>
                <p class="mb-0">
                  <span>Mã tài liệu: </span>
                  <span class="fw-bold">{{ inspectionPlanDetail?.inspectionPlan?.documents[0]?.documentCode}}</span>
                </p>
              </div>
              <div class="col-md-4 text-end">
                <p class="mb-0">
                  <span>Kích thước: </span>
                  <span
                    class="fw-bold">{{ inspectionPlanDetail?.inspectionPlan?.documents[0]?.size  | fileSizePipe:'MB' }}</span>
                </p>
                <p class="mb-0">
                  <span>Ngày tạo: </span>
                  <span
                    class="fw-bold">{{ inspectionPlanDetail?.inspectionPlan?.documents[0]?.uploadedDate | date : "MM/dd/yyyy" }}</span>
              </div>
            </div>
          </div>
          <div class="update-file-item d-flex justify-content-center mx-4"
               [@slideInOut]="documentUpdated ? 'out' :'in'">
            <button type="button" class="d-flex flex-column align-items-center" (click)="changeDocumentUpdate()">
              <i class="bi bi-cloud-plus"></i>
              Cập nhật tài liệu
            </button>
          </div>
          <div [@slideInOut]="documentUpdated ? 'in' :'out'" class="document-item px-2 pt-2 mx-4"
               formGroupName="documentInspectionPlanDto">
            <ng-template ngIf="documentUpdated === 'in'">
              <div class="col-md-12 d-flex flex-row mb-2">
                <div class="col-md-8 pe-3">
                  <label class="fw-medium mb-1">Tên tài liệu<span class="p-error">*</span></label><br/>
                  <input
                    pInputText
                    placeholder="Điền tên tài liệu"
                    formControlName="documentName"
                  />
                  <div class="mt-1"
                       *ngIf="documentUpdated && documentNameControls?.invalid && (documentNameControls?.touched || documentNameControls?.dirty)">
                <span *ngIf="documentUpdated && documentNameControls?.errors?.['required']" class="p-error">
                  Vui lòng điền tên tài liệu
                </span>
                    <span *ngIf="documentUpdated && documentNameControls?.errors?.['maxLength']" class="p-error">
                  Tên tài liệu quá dài
                </span>
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="fw-medium mb-1">Mã tài liệu<span class="p-error">*</span></label><br/>
                  <input
                    pInputText
                    placeholder="Điền mã tài liệu"
                    formControlName="documentCode"
                  />
                  <div class="mt-1"
                       *ngIf="documentUpdated && documentCodeControls?.invalid && (documentCodeControls?.touched || documentCodeControls?.dirty)">
                <span *ngIf="documentUpdated && documentCodeControls?.errors?.['required']" class="p-error">
                  Vui lòng điền mã tài liệu
                </span>
                    <span *ngIf="documentUpdated && documentCodeControls?.errors?.['maxLength']" class="p-error">
                  Mã tài liệu quá dài
                </span>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <label class="fw-medium mb-1">Tài liệu<span class="p-error">*</span></label><br/>
                <div class="input-file">
                  <input
                    type="file"
                    #fileInput
                    style="display: none"
                    (change)="handleFileInputChange(fileInput)"
                  />
                  <input pInputText readonly class="col-md-9"
                         placeholder="{{fileInputPlaceholders ? fileInputPlaceholders : 'Chọn file để tải lên'}}"/>
                  <button
                    type="button"
                    pButton
                    label="Chọn tệp"
                    (click)="fileInput.click()"
                    class="col-md-3"
                  ></button>
                </div>
                <div class="mt-1"
                     *ngIf="documentFileControls?.invalid && (documentFileControls?.touched || documentFileControls?.dirty)">
                <span *ngIf="documentFileControls?.errors?.['required']" class="p-error">
                  Vui lòng tải tài liệu lên
                </span>
                </div>
              </div>
            </ng-template>
            <div class="close-document-update d-flex justify-content-center">
              <button type="button" class="w-100" (click)="changeDocumentUpdate()">
                <i class="bi bi-x-circle"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-start">
        <app-inspection-plan-inspector-list class="w-100"
                                            (toggleIssueListPopup)="changeInspectorVisible()"
                                            [listEditable]="true"
                                            [selectedInspectors]="inspectorList"
                                            (resetList)="onResetList()"
                                            (inspectorList)="getInspectorIds($event)"
                                            [chiefList]="chiefList"
                                            (recreateInspectorList)="resetInspectorList()"
        ></app-inspection-plan-inspector-list>
      </div>
      <div class="mt-5 row w-100 mb-3">
        <div class="col-12 save-button d-flex w-100 justify-content-center">
          <button type="submit" class="btn text-white">Cập nhật</button>
        </div>
      </div>
    </form>
  </div>
</div>
