<div class="container-fluid">
  <h5 class="mat-headline-5 fw-medium">Trang chủ</h5>
  <!-- DIRECTOR -->
  <ng-container *ngIf="isDirector || isViceDirector">
    <div class="row">
      <div class="col-md-4" *ngIf="isDirector">
        <div class="card mb-0 p-4">
          <div class="row">
            <div class="col-md-10">
              <h6 class="mat-headline-6 fs-18 mb-2">Số trường chưa kiểm tra</h6>
              <label class="fs-24 fw-medium mb-2" *ngIf="!issue">0</label>

              <label class="fs-24 fw-medium mb-2">{{
                numberOfInspectedSchool
              }}</label>
              <br />
            </div>
            <div class="col-md-2 d-flex justify-content-end">
              <div
                class="icon-1 d-flex justify-content-center align-items-center"
              >
                <i class="bi bi-list-check"></i>
              </div>
            </div>
            <div class="col-md-6">
              <span class="color-gray"
                >trên tổng số {{ totalSchool }} trường</span
              >
            </div>
            <div class="col-md-6 d-flex justify-content-end">
              <span class="redirect-link" (click)="createInspectionPlan()"
                >Tạo quyết định kiểm tra</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-0 p-4">
          <div class="row">
            <div class="col-md-10">
              <h6 class="mat-headline-6 fs-18 mb-2">
                Kế hoạch thực hiện cần duyệt
              </h6>
              <label class="fs-24 fw-medium mb-2" *ngIf="!issue">0</label>
              <label class="fs-24 fw-medium mb-2">{{
                numberOfIniPlanWait
              }}</label>
              <br />
            </div>
            <div class="col-md-2 d-flex justify-content-end">
              <div
                class="icon-2 d-flex justify-content-center align-items-center"
              >
                <i class="bi bi-calendar2-check-fill"></i>
              </div>
            </div>
            <div class="col-md-7">
              <span class="color-gray"
                >trên tổng số {{ totalSchool }} kế hoạch</span
              >
            </div>
            <div class="col-md-5 d-flex justify-content-end">
              <span class="redirect-link" (click)="viewInitiationPlanList()"
                >Xem chi tiết</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" *ngIf="isDirector">
        <div class="card mb-0 p-4">
          <div class="row">
            <div class="col-md-10">
              <h6 class="mat-headline-6 fs-18 mb-2">Số trường đã nộp hồ sơ</h6>
              <label class="fs-24 fw-medium mb-2" *ngIf="!issue">0</label>
              <label class="fs-24 fw-medium mb-2">{{
                numberOfSchoolCompletedAssignment
              }}</label>
              <br />
            </div>
            <div class="col-md-2 d-flex justify-content-end">
              <div
                class="icon-3 d-flex justify-content-center align-items-center"
              >
                <i class="bi bi-building-check"></i>
              </div>
            </div>
            <div class="col-md-6">
              <span class="color-gray"
                >trên tổng số {{ totalSchool }} trường</span
              >
            </div>
            <div class="col-md-6 d-flex justify-content-end redirect">
              <span
                class="redirect-link"
                (click)="viewCompletedSchoolAssignmentList()"
                >Xem chi tiết</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4 height-row-director">
      <div class="col-md-4" *ngIf="isDirector">
        <ng-container *ngIf="issueNotFound">
          <div class="card p-3 h-100">
            <label class="fw-medium mb-3">
              Chưa có kế hoạch kiểm tra được khởi tạo, không thể thống kê thực
              trạng kế hoạch thanh tra
            </label>
            <div
              class="d-flex justify-content-center align-items-center no-img"
            >
              <img src="../../../../assets/img/not-found-data.svg" alt="" />
            </div>
          </div>
        </ng-container>

        <div class="card p-3 h-100" *ngIf="inspectionPlanDataChart">
          <h6 class="mat-headline-6">Thực trạng kế hoạch thanh tra</h6>
          <div class="row">
            <div class="col-md-6">
              <tui-ring-chart
                size="l"
                [value]="inspectionPlanDataChart?.data"
                [(activeItemIndex)]="index_inspection"
              >
                {{ sum(inspectionPlanDataChart, index_inspection) }}
                <div>
                  {{ label(inspectionPlanDataChart, index_inspection) }}
                </div>
              </tui-ring-chart>
            </div>
            <div class="row col-md-6">
              <div
                *ngFor="
                  let item of inspectionPlanDataChart?.labels;
                  let i = index
                "
              >
                <div class="row">
                  <div class="col-md-2">
                    <div class="box-color" [ngClass]="'bg-color-' + i"></div>
                  </div>
                  <div class="col-md-10">
                    <label class="fw-medium">{{ item }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <p-chart
            type="pie"
            [data]="inspectionPlanDataChart"
            [options]="inspectionPlanOptionsChart"
          ></p-chart> -->
        </div>
      </div>
      <div class="col-md-4" *ngIf="issueNotFound">
        <div class="card p-3 h-100">
          <label class="fw-medium mb-3"
            >Chưa có kế hoạch kiểm tra được khởi tạo, không thể thống kê thực
            trạng kế hoạch thực hiện nhiệm vụ</label
          >
          <div class="d-flex justify-content-center align-items-center no-img">
            <img src="../../../../assets/img/not-found-data.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-md-4" *ngIf="initiationPlanDataChart">
        <div class="card p-3 h-100">
          <h6 class="mat-headline-6">Thực trạng kế hoạch thực hiện</h6>
          <div class="row">
            <div class="col-md-6">
              <tui-ring-chart
                size="l"
                [value]="initiationPlanDataChart?.data"
                [(activeItemIndex)]="index_init"
              >
                {{ sum(initiationPlanDataChart, index_init) }}
                <div>{{ label(initiationPlanDataChart, index_init) }}</div>
              </tui-ring-chart>
            </div>
            <div class="row col-md-6">
              <!-- app.component.html -->
              <div
                *ngFor="
                  let item of initiationPlanDataChart.labels;
                  let i = index
                "
              >
                <div class="row">
                  <div class="col-md-2">
                    <div class="box-color" [ngClass]="'bg-color-' + i"></div>
                  </div>
                  <div class="col-md-10">
                    <label class="fw-medium">{{ item }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card p-3 h-100">
          <h6 class="mat-headline-6">Truy cập nhanh</h6>
          <div>
            <div
              class="card mb-2 shortcut-item"
              (click)="createGuidanceDocument()"
            >
              <div
                class="p-3 d-flex justify-content-between align-items-center"
              >
                <div>
                  <span>Tạo văn bản bổ sung</span>
                </div>
                <div class="shortcut-icon">
                  <i class="bi bi-caret-right-fill"></i>
                </div>
              </div>
            </div>
            <div class="card mb-2 shortcut-item" (click)="viewMyInspection()">
              <div
                class="p-3 d-flex justify-content-between align-items-center"
              >
                <div>
                  <span>Cuộc thanh tra của tôi</span>
                </div>
                <div class="shortcut-icon">
                  <i class="bi bi-caret-right-fill"></i>
                </div>
              </div>
            </div>
            <div
              *ngIf="isDirector"
              class="card mb-2 shortcut-item"
              (click)="viewTreeList()"
            >
              <div
                class="p-3 d-flex justify-content-between align-items-center"
              >
                <div>
                  <span>Xem văn bản các trường</span>
                </div>
                <div class="shortcut-icon">
                  <i class="bi bi-caret-right-fill"></i>
                </div>
              </div>
            </div>
            <div
              *ngIf="isDirector"
              class="card mb-2 shortcut-item"
              (click)="viewTemplate()"
            >
              <div
                class="p-3 d-flex justify-content-between align-items-center"
              >
                <div>
                  <span>Xem mẫu hồ sơ</span>
                </div>
                <div class="shortcut-icon">
                  <i class="bi bi-caret-right-fill"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p-toast position="top-right" key="dashboard-toast"></p-toast>
  </ng-container>
  <!-- SPECIALIST -->
  <ng-container *ngIf="isSpecialist">
    <div class="row">
      <div class="col-md-4">
        <div class="card p-3 h-100">
          <div class="row">
            <div class="col-md-6 mb-2">
              <label class="fw-medium fs-18">Phiên thanh tra của bạn</label>
            </div>
            <div class="col-md-6 mb-2">
              <!--              <label class="fw-medium">Trạng thái</label>-->
              <p-dropdown
                placeholder="Chọn 1 trạng thái"
                [options]="inspectionPlanStatuses"
                [(ngModel)]="inspectionPlanSelectedStatus"
                [showClear]="true"
                (onChange)="loadInspectionPlan()"
                dataKey="value"
                optionValue="value"
              >
                <ng-template let-status pTemplate="item">
                  <p-tag
                    [rounded]="true"
                    [severity]="getStatusSeverity(status.value)"
                    [value]="status.label"
                  ></p-tag>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="col-md-6">
              <label class="fw-medium">Tên</label>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
              <!-- <label class="fw-medium"
                >Tổng số: {{ totalNumberOfInspectionPlan }}</label
              > -->
              <span class="redirect-link" (click)="viewMyInspection()"
                >Xem thêm</span
              >
            </div>
            <div class="row">
              <ng-container
                *ngIf="
                  inspectionPlans && inspectionPlans.length > 0;
                  else noInspecPlan
                "
              >
                <ng-container
                  *ngFor="let plan of inspectionPlans; let i = index"
                >
                  <div class="col-md-6 td-content">
                    <span>{{ plan.inspectionPlanName }}</span>
                  </div>
                  <div class="col-md-4">
                    <p-tag
                      [rounded]="true"
                      [severity]="getStatusSeverity(plan?.status?.statusId)"
                      [value]="plan.statusName"
                    ></p-tag>
                  </div>
                  <div class="col-md-2">
                    <button
                      pButton
                      (click)="viewInspectionDetail(plan.inspectionPlanId)"
                    >
                      Xem chi tiết
                    </button>
                  </div>
                </ng-container>
              </ng-container>

              <ng-template #noInspecPlan>
                <div class="col-md-12 mt-2">
                  <label class="fw-medium color-gray"
                    >Không có phiên thanh tra
                  </label>
                </div>
              </ng-template>
            </div>
          </div>
          <div class="d-flex justify-content-end"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card p-3 h-100">
          <label class="fw-medium fs-18 mb-3">Truy cập nhanh</label>
          <div>
            <div class="card mb-2 shortcut-item" (click)="viewIssueDetail()">
              <div
                class="p-3 d-flex justify-content-between align-items-center"
              >
                <div>
                  <span>Xem kế hoạch kiểm tra năm</span>
                </div>
                <div class="shortcut-icon">
                  <i class="bi bi-caret-right-fill"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- PRINCIPAL -->
  <ng-container *ngIf="isPrincipal || isSchoolNormalEmp">
    <div class="row height-row-principal">
      <div class="col-md-4">
        <div class="card p-3 h-100">
          <div class="row">
            <div class="col-md-6 mb-2">
              <label class="fw-medium fs-18">Phiên thanh tra của bạn</label>
            </div>
            <div class="col-md-6 mb-2">
              <!--              <label class="fw-medium">Trạng thái</label>-->
              <p-dropdown
                placeholder="Chọn 1 trạng thái"
                [options]="inspectionPlanStatuses"
                [(ngModel)]="inspectionPlanSelectedStatus"
                [showClear]="true"
                (onChange)="loadInspectionPlan()"
                dataKey="value"
                optionValue="value"
              >
                <ng-template let-status pTemplate="item">
                  <p-tag
                    [rounded]="true"
                    [severity]="getStatusSeverity(status.value)"
                    [value]="status.label"
                  ></p-tag>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="col-md-6">
              <label class="fw-medium">Tên</label>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
              <!-- <label class="fw-medium"
                >Tổng số: {{ totalNumberOfInspectionPlan }}</label
              > -->
              <span class="redirect-link" (click)="viewMyInspection()"
                >Xem thêm</span
              >
            </div>
            <div class="row">
              <ng-container
                *ngIf="
                  inspectionPlans && inspectionPlans.length > 0;
                  else noInspecPlan
                "
              >
                <ng-container
                  *ngFor="let plan of inspectionPlans; let i = index"
                >
                  <div class="col-md-6 td-content">
                    <span>{{ plan.inspectionPlanName }}</span>
                  </div>
                  <div class="col-md-4">
                    <p-tag
                      [rounded]="true"
                      [severity]="getStatusSeverity(plan?.status?.statusId)"
                      [value]="plan.statusName"
                    ></p-tag>
                  </div>
                  <div class="col-md-2">
                    <button
                      pButton
                      (click)="viewInspectionDetail(plan.inspectionPlanId)"
                    >
                      Xem chi tiết
                    </button>
                  </div>
                </ng-container>
              </ng-container>

              <ng-template #noInspecPlan>
                <div class="col-md-12 mt-2">
                  <label class="fw-medium color-gray"
                    >Không có phiên thanh tra
                  </label>
                </div>
              </ng-template>
            </div>
          </div>
          <div class="d-flex justify-content-end"></div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card p-3 h-100">
          <div class="row">
            <div class="col-md-6 mb-2">
              <label class="fw-medium fs-18">Công việc hiện tại</label>
            </div>
            <div class="col-md-6 mb-2">
              <!--              <label class="fw-medium">Trạng thái</label>-->
              <p-dropdown
                placeholder="Chọn 1 trạng thái"
                [options]="statuses"
                [(ngModel)]="selectedStatus"
                [showClear]="true"
                (onChange)="loadAsm()"
                dataKey="value"
                optionValue="value"
              >
                <ng-template let-status pTemplate="item">
                  <p-tag
                    [rounded]="true"
                    [severity]="getStatusSeverity(status.value)"
                    [value]="status.label"
                  ></p-tag>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="col-md-6 mb-2">
              <label class="fw-medium">Tên</label>
            </div>
            <div class="col-md-6 mb-2 d-flex justify-content-end">
              <!-- <label class="fw-medium">Trạng thái</label> -->
              <span class="redirect-link" (click)="viewAsmTree()"
                >Xem thêm</span
              >
            </div>
            <ng-container *ngIf="taskTrees && taskTrees.length > 0">
              <ng-container *ngFor="let task of taskTrees; let i = index">
                <div class="row mb-2">
                  <div
                    class="col-md-5 td-content"
                    pTooltip="{{ task.rootAssignmentName }}"
                    tooltipPosition="top"
                  >
                    <span>{{ task.rootAssignmentName }}</span>
                  </div>
                  <div class="col-md-5">
                    <p-tag
                      [rounded]="true"
                      [severity]="
                        getStatusSeverity(task?.rootAssignmentStatus?.statusId)
                      "
                      [value]="task?.rootAssignmentStatus?.statusName"
                    ></p-tag>
                  </div>
                  <div class="col-md-2 d-flex justify-content-end">
                    <button
                      pButton
                      class="action-item d-flex justify-content-center align-items-center"
                      (click)="viewAsmDetail(task.rootAssignmentId)"
                    >
                      <i class="bi bi-info-circle-fill"></i>
                    </button>
                  </div>
                </div>
              </ng-container>
            </ng-container>

            <ng-template #noInspecPlan>
              <div class="col-md-12">
                <label class="fw-medium color-gray"
                  >Không có công việc nào
                </label>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card p-3 h-100">
          <label class="fw-medium fs-18 mb-3">Truy cập nhanh</label>
          <div>
            <div class="card mb-2 shortcut-item" (click)="viewIssueDetail()">
              <div
                class="p-3 d-flex justify-content-between align-items-center"
              >
                <div>
                  <span>Xem kế hoạch kiểm tra năm</span>
                </div>
                <div class="shortcut-icon">
                  <i class="bi bi-caret-right-fill"></i>
                </div>
              </div>
            </div>
            <div class="card mb-2 shortcut-item" (click)="viewAsmTree()">
              <div
                class="p-3 d-flex justify-content-between align-items-center"
              >
                <div>
                  <span>Xem danh sách công việc</span>
                </div>
                <div class="shortcut-icon">
                  <i class="bi bi-caret-right-fill"></i>
                </div>
              </div>
            </div>
            <div
              class="card mb-2 shortcut-item"
              (click)="viewSchoolInspection()"
              *ngIf="isPrincipal"
            >
              <div
                class="p-3 d-flex justify-content-between align-items-center"
              >
                <div>
                  <span>Xem thanh tra ở trường bạn</span>
                </div>
                <div class="shortcut-icon">
                  <i class="bi bi-caret-right-fill"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3 height-row-principal">
      <div class="col-md-4" *ngIf="isPrincipal">
        <div class="card p-3 h-100">
          <label class="fw-medium fs-18 mb-3"
            >Thống kê công việc toàn trường</label
          >
          <div class="row" *ngIf="asmChartData">
            <div class="col-md-6">
              <tui-ring-chart
                size="m"
                [value]="asmChartData.data"
                [(activeItemIndex)]="index_asm"
              >
                {{ sum(asmChartData, index_asm) }}
                <div>
                  {{ label(asmChartData, index_asm) }}
                </div>
              </tui-ring-chart>
            </div>
            <div class="row col-md-6" *ngIf="asmChartData">
              <div *ngFor="let item of asmChartData?.labels; let i = index">
                <div class="row">
                  <div class="col-md-2">
                    <div class="box-color" [ngClass]="'bg-color-' + i"></div>
                  </div>
                  <div class="col-md-10">
                    <label class="fw-medium">{{ item }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card p-3 h-100">
          <label class="fw-medium fs-18 mb-3">Thống kê công việc cá nhân</label>
          <div class="row" *ngIf="myAsmChartData">
            <div class="col-md-5">
              <tui-ring-chart
                size="m"
                [value]="myAsmChartData.data"
                [(activeItemIndex)]="myIndex_asm"
              >
                {{ sum(myAsmChartData, myIndex_asm) }}
                <div>
                  {{ label(myAsmChartData, myIndex_asm) }}
                </div>
              </tui-ring-chart>
            </div>
            <div class="row col-md-7" *ngIf="myAsmChartData">
              <div *ngFor="let item of myAsmChartData?.labels; let i = index">
                <div class="row">
                  <div class="col-md-2">
                    <div class="box-color" [ngClass]="'bg-color-' + i"></div>
                  </div>
                  <div class="col-md-10">
                    <label class="fw-medium">{{ item }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card p-3 h-100">
          <label class="fw-medium fs-18 mb-3"
            >Văn bản bổ sung vừa đăng tải</label
          >
          <ng-container
            *ngIf="guidanceDocuments && guidanceDocuments.length > 0"
          >
            <ng-container *ngFor="let doc of guidanceDocuments; let i = index">
              <div class="row mb-2">
                <div class="col-md-1 d-flex align-items-center file-icon">
                  <i class="bi bi-file-earmark-fill"></i>
                </div>
                <div
                  class="col-md-9 d-flex align-items-center"
                  pTooltip="{{ doc.guidanceDocumentName }}"
                  tooltipPosition="top"
                >
                  <div class="td-content">{{ doc.guidanceDocumentName }}</div>
                </div>
                <div class="col-md-2">
                  <button
                    pButton
                    class="action-item d-flex justify-content-center align-items-center"
                    (click)="viewGuidanceDocumentDetail(doc.guidanceDocumentId)"
                    pTooltip="Chi tiết"
                    tooltipPosition="top"
                  >
                    <i class="bi bi-info-circle-fill"></i>
                  </button>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>

  <p-toast position="top-right" key="dashboard-toast"></p-toast>
</div>
