@import "../../../../assets/scss/base.scss";
.color-gray {
    color: #9e9e9e;
}
.fs-18 {
    font-size: 18px;
}
.fs-22 {
    font-size: 22px;
}
.fs-24 {
    font-size: 24px;
}
.icon-1 {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    background-color: #d0e1fd;
    i {
        font-size: 20px;
        color: #3b82f6;
    }
}
.icon-2 {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    background-color: #feddc7;
    i {
        font-size: 20px;
        color: #f97316;
    }
}
.icon-3 {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    background-color: #ead6fd;
    i {
        font-size: 20px;
        color: #a855f7;
    }
}
.card {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
}
// .redirect {
//     border: 1px solid $primary;
// }
.redirect-link {
    color: $primary !important;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
.shortcut-item {
    transition: all 0.5s ease;
    cursor: pointer;
    &:hover {
        background-color: #eaeaea;
    }
}
:host {
    --tui-chart-0: #fc9e5b;
    --tui-chart-1: #9ad6ff;
    --tui-chart-2: #9ff7ab;
    --tui-chart-3: rgb(243, 146, 146);
    --tui-chart-4: #9795cd;
}
.bg-color-0 {
    background-color: var(--tui-chart-0);
}
.bg-color-1 {
    background-color: var(--tui-chart-1);
}
.bg-color-2 {
    background-color: var(--tui-chart-2);
}
.bg-color-3 {
    background-color: var(--tui-chart-3);
}
.bg-color-4 {
    background-color: var(--tui-chart-4);
}
.box-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.action-item {
    width: 35px;
    height: 35px;
    background-color: $primary;
    border-color: $primary;
    border-radius: 50%;
    font-size: 16px;
    &:hover {
        background-color: $primary-hover;
        border-color: $primary-hover;
        cursor: pointer;
    }
    i {
        color: #fff;
        align-items: center;
    }
}
// .p-dropdown-label {
//     font-size: 16px !important;
// }
