<div class="container-fluid">
  <h5 class="mat-headline-5 fw-medium">Chi tiết trường</h5>
  <div class="row">
    <div class="col-md-6" *ngIf="school">
      <h6 class="mat-headline-6 fw-medium">Thông tin trường</h6>
      <div class="col-md-10">
        <div class="mb-4">
          <label class="span-heading-color mb-2">Tên trường</label>
          <p class="fw-medium">{{ school.schoolName }}</p>
        </div>
        <div class="mb-4">
          <label class="span-heading-color mb-2">Địa chỉ</label>
          <p class="fw-medium">{{ school.exactAddress }}</p>
        </div>
        <div class="mb-4">
          <label class="span-heading-color mb-2">Trạng thái</label>
          <br />
          <p-tag
            [rounded]="true"
            [severity]="school.isActive ? 'success' : 'error'"
            >{{ school.isActive ? "Hoạt động" : "Ngưng hoạt động" }}</p-tag
          >
        </div>
      </div>

      <div class="mt-3" *ngIf="isAdmin">
        <button pButton (click)="onUpdate()">Cập nhật</button>
      </div>
    </div>
    <div class="col-md-6">
      <h6 class="mat-headline-6 fw-medium">Thông tin hiệu trưởng</h6>
      <ng-container *ngIf="!principal">
        <div class="mb-4">
          <div class="m-3">
            <p class="text-black-50">Email</p>
          </div>
          <div class="m-3">
            <p class="font-weight-bold">Chưa có hiệu trưởng</p>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="principal">
        <div class="mb-4">
          <label class="span-heading-color mb-2">Email</label>
          <p class="fw-medium">{{ principal.email }}</p>
        </div>
        <div class="mb-4 row">
          <div class="col-md-6">
            <label class="span-heading-color mb-2">Tên</label>
            <p class="fw-medium">{{ principal.user?.fullName }}</p>
          </div>
          <div class="col-md-6">
            <label class="span-heading-color mb-2">Giới tính</label>
            <p class="fw-medium">
              {{ principal.user?.gender ? "Nam" : "Nữ" }}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-4">
              <label class="span-heading-color mb-2">Số điện thoại</label>
              <p class="fw-medium">
                {{
                  principal.user?.phoneNumber == null
                    ? "Chưa nhập số điện thoại"
                    : principal.user?.phoneNumber
                }}
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-4">
              <label class="span-heading-color mb-2">Ngày sinh</label>
              <p class="fw-medium">
                {{
                  principal.user?.dob == null
                    ? "Chưa nhập ngày sinh"
                    : principal.user?.dob
                }}
              </p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <p-toast position="top-right" key="toastSchoolDetail"></p-toast>
</div>
