<h2>Chi tiết văn bản chỉ đạo</h2>

<div class="row">
    <div class="col-md-6 mt-5">
        <div class="m-3">
            <span class="text-black-50">Về việc</span>
        </div>
        <div class="m-3">
            <span class="font-weight-bold">{{guidanceDocument.guidanceDocumentName}}</span>
        </div>
    </div>
    <div class="col-md-6 mt-5">
        <div class="m-3">
            <span class="text-black-50">Người đăng</span>
        </div>
        <div class="m-3">
            <span class="font-weight-bold">{{guidanceDocument.accountDto?.user?.fullName}}</span>

        </div>
    </div>
    <div class="col-md-6 mt-2">
        <div class="m-3">
            <span class="text-black-50">Mô tả</span>
        </div>
        <div class="m-3">
            <textarea class="font-weight-bold form-control">{{guidanceDocument.description}}</textarea>
        </div>
    </div>
    <div class="col-md-6 mt-2">
        <div class="m-3">
            <span class="text-black-50">Ngày tạo</span>
        </div>
        <div class="m-3">
            <span class="font-weight-bold">{{guidanceDocument.createdDate}}</span>
        </div>
    </div>


</div>


<div class="card">
    <p-table [value]="guidanceDocument.documentDtos || []" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Mã tài liệu</th>
                <th>Tên tài liệu</th>
                <th>File</th>
                <th>Dung lượng</th>
                <th>Ngày tạo</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-document>
            <tr>
                <td>{{ document.documentCode }}</td>
                <td>{{ document.documentName }}</td>
                <td><img src="../../../../../assets/img/pdf.png" alt=""/></td>
                <td>{{ document.sizeFormat }}</td>
                <td>{{ document.uploadedDate | date : "MM/dd/yyyy" }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
