<div class="container-fluid">
  <tui-breadcrumbs
          size="l"
  >
    <ng-container *ngFor="let item of breadCrumb">
      <a
              *tuiItem
              tuiLink
              [routerLink]="item.routerLink"
      >
        {{ item.caption }}
      </a>
    </ng-container>
  </tui-breadcrumbs>
  <h5 class="mat-headline-5 fw-medium">Chi tiết người dùng</h5>
  <div class="row">
    <div class="col-md-5" *ngIf="user">
      <div class="mb-3">
        <label class="span-heading-color mb-2">Tên hiển thị</label>
        <p class="fw-medium">{{user.fullName == null ? "Chưa nhập tên" : user.fullName}}</p>
      </div>
      <div class="mb-3">
        <label class="span-heading-color mb-2">Email</label>
        <p class="fw-medium">{{user.email}}</p>
      </div>
      <div class="mb-3">
        <label class="span-heading-color mb-2">Số điện thoại</label>
        <p class="fw-medium">{{user.phoneNumber == null ? "Chưa nhập số điện thoại" : user.phoneNumber}}</p>
      </div>
      <div class="mb-3">
        <label class="span-heading-color mb-2">Giới tính</label>
        <p class="fw-medium">{{user.gender == "MALE" ? "Nam" : "Nữ"}}</p>
      </div>
      <div class="mb-3">
        <label class="span-heading-color mb-2">Ngày sinh</label>
        <p class="fw-medium">{{user.dob == null ? "Chưa nhập ngày sinh" : user.dob}}</p>
      </div>
    </div>
    <div class="col-md-5">
      <div class="mb-3">
        <label class="span-heading-color mb-2">Đơn vị</label>
        <p class="fw-medium">{{user.school?.schoolName}}</p>
      </div>
      <div class="mb-3">
        <label class="span-heading-color mb-2">Chức vụ</label>
        <p class="fw-medium">
          <ng-container *ngFor="let role of user.accountRoles; let last = last">
            {{ role.role?.roleName }}{{ last ? '' : ';' }}
          </ng-container>
        </p>
      </div>
      <div class="mb-3">
        <label class="span-heading-color">Trạng thái</label>
        <div class="mt-2">
          <p-tag
            [rounded]="true"
            [severity]="getStatusSeverity(user.isActive)"
            [value]="getStatusValue(user.isActive)"
          ></p-tag>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <button class="btn btn-primary"
              (click)="onUpdate()"
              *ngIf="isUpdatable(this.user)"
              pButton
      >Đi tới cập nhật
      </button>
    </div>
  </div>
</div>
