@import "../../../../../assets/scss/base";

.th-small{
  width: 100px;
}

.action-button{
  button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: $primary;
    i{
      color: white;
    }
  }
}

:host ::ng-deep {
  .p-button {
    background-color: $primary;
    border-radius: 8px;
    border: solid 1px $primary;
    transition: all 0.5s ease;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: $primary-hover;
      border-color: $primary-hover;
    }
  }
}

.create-button{
  width: auto;
}
