<app-create-record
  [inspectionPlanId]="inspectionId"
  [createRecordPopupVisible]="createRecordPopupVisible"
  (createRecordPopupVisibleChange)="changeCreateRecordVisible()">
</app-create-record>
<app-update-record
  [inspectionPlanId]="inspectionId"
  [updateRecordPopupVisible]="updateRecordPopupVisible"
  (updateRecordPopupVisibleChange)="changeUpdateRecordVisible()"
  [recordId]="recordId">
</app-update-record>
<app-record-detail
  [recordId]="recordId"
  [detailRecordPopupVisible]="detailRecordPopupVisible"
  (detailRecordPopupVisibleChange)="changeDetailRecordVisible()">
</app-record-detail>
<div class="container-fluid">
  <div class="row">
    <h4 class="mb-3">Chi tiết quyết định kiểm tra</h4>
    <div class="row">
      <div class="form-content col-md-9">
        <p-table
          #dt
          *ngIf="inspectionDocument"
          [value]="inspectionDocument.taskListDtos"
          dataKey="taskId"
          [rowHover]="true"
          [rows]="5"
          [showCurrentPageReport]="true"
          [paginator]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [filterDelay]="0"
          [globalFilterFields]="['name', 'role', 'school']"
        >
          <ng-template pTemplate="caption">
            <div class="table-header">
          <span class="p-input-icon-left">
            <i class="fa-solid fa-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Tìm kiếm"
            />
          </span>
              <button pButton (click)="changeCreateRecordVisible()">Tạo mới</button>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th class="th-id">
                <div>STT</div>
              </th>
              <th pSortableColumn="taskName">
                <div>
                  Tên
                  <p-sortIcon field="taskName"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="assigneeName">
                <div>
                  Người thực hiện
                  <p-sortIcon field="assigneeName"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="deadline">
                <div>
                  Hạn nộp
                  <p-sortIcon field="deadline"></p-sortIcon>
                </div>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-taskList let-rowIndex="rowIndex">
            <tr class="p-selectable-row">
              <td>
                <span class="p-column-title">STT</span>
                {{ rowIndex + 1 }}
              </td>
              <td>
                <span class="p-column-title">Tên</span>
                {{ taskList.taskName }}
              </td>
              <td>
                <span class="p-column-title">Người thực hiện</span>
                {{ taskList.assigneeName }}
              </td>
              <td>
                <span class="p-column-title">Ngày nộp</span>
                {{ taskList.deadline | date: "dd/MM/yyyy" }}
              </td>
              <td style="text-align: center"
                  class="d-flex td-action justify-content-center align-items-center">
                <div class="action-item d-flex justify-content-center align-items-center mx-2">
                  <button type="button" (click)="initDetailRecordData(taskList.taskId)">
                    <i class="bi bi-info-circle-fill"></i>
                  </button>
                </div>
                <div class="action-item d-flex justify-content-center align-items-center mx-2">
                  <button type="button" (click)="initUpdateRecordData(taskList.taskId)">
                  <i class="bi bi-pencil-fill"></i>
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="8">Không tìm thấy biên bản kiểm tra</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="col-md-3">
        <button></button>
      </div>
    </div>
  </div>
</div>
