<p-confirmDialog
  [style]="{width: '50%'}"
  acceptLabel="Xác nhận"
  rejectLabel="Hủy bỏ"
  key="deleteDocument"
></p-confirmDialog>
<p-toast position="top-right" key="deleteComplete"></p-toast>
<p-toast position="top-right" key="deleteInComplete"></p-toast>
<p-dialog header="Chi tiết mveục kiểm tra"
          [(visible)]="detailRecordPopupVisible"
          [modal]="true"
          [style]="{ width: '45%' }"
          [draggable]="false"
          [resizable]="false"
          (onHide)="resetDetailRecordPopupVisible()"
>
  <app-loading-complete-dialog
    [width]="80"
    [height]="70"
    [failed]="updateDocumentFailed"
    [visible]="updateDocumentSubmitted"
    [completed]="updateDocumentCompleted"
    [header]="'Cập nhật tài liệu'"
    [progress]="'Đang cập nhật tài liệu'"
    [complete]="'Cập nhật tài liệu thành công'"
    [fail]="'Cập nhật tài liệu không thành công'"
  >
  </app-loading-complete-dialog>
  <app-loading-complete-dialog
    [width]="80"
    [height]="70"
    [visible]="deleteDocumentSubmitted"
    [completed]="deleteDocumentCompleted"
    [header]="'Xóa tài liệu'"
    [progress]="'Đang đang xóa tài liệu'"
    [complete]="'Xóa tài liệu thành công'"
  >
  </app-loading-complete-dialog>
  <div class="container-fluid" *ngIf="task">
    <div class="row">
      <div class="record-name col-md-12 mb-2">
        <label class="span-heading-color mb-1">Mục kiểm tra</label>
        <p class="fw-medium">{{task.taskName}}</p>
      </div>
      <div class="record-description col-md-12 mb-2">
        <label class="span-heading-color mb-1">Chi tiết</label>
        <p class="fw-medium">{{task.description}}</p>
      </div>
      <div class="record-deadline col-md-4 mb-2">
        <label class="span-heading-color mb-1">Hạn nộp</label>
        <p class="fw-medium"> {{task.deadline | date: "dd/MM/yyyy"}}</p>
      </div>
      <div class="record-assignee col-md-4 mb-2">
        <label class="span-heading-color mb-1">Người thực hiện</label>
        <p class="fw-medium">{{task.assignee.user.fullName}}</p>
      </div>
      <div class="record-assignee col-md-4 mb-2">
        <label class="span-heading-color mb-1 w-100">Trạng thái</label>
        <p-tag
          [severity]="getStatusSeverity(task.status.statusId)"
          [value]="task.status.statusName"
        ></p-tag>
      </div>
      <form class="record-document col-md-12 mt-1" [formGroup]="documentForm" (ngSubmit)="onSubmit()">
        <h6 class="mat-headline-6 mb-1">Tài liệu</h6>
        <div *ngIf="canUploadDocument && task.document === null">
          <div class="row">
            <div class="col-md-8 mb-2">
              <label class="fw-medium mb-1">Tên tài liệu<span class="p-error">*</span></label><br/>
              <input
                pInputText
                placeholder="Điền tên tài liệu"
                formControlName="documentName"
              />
              <div
                *ngIf="documentForm.controls?.['documentName']?.invalid && (documentForm.controls?.['documentName']?.touched || documentForm.controls?.['documentName']?.dirty)">
                <span *ngIf="documentForm.controls?.['whitespace']?.errors?.['required'] || documentForm.controls?.['documentName']?.errors?.['required']" class="p-error">
                  Vui lòng điền tên tài liệu
                </span>
                <span *ngIf="documentForm.controls?.['documentName']?.errors?.['maxength']" class="p-error">
                  Tên tài liệu quá dài
                </span>
              </div>
            </div>
            <div class="col-md-4 mb-2">
              <label class="fw-medium mb-1">Mã tài liệu<span class="p-error">*</span></label><br/>
              <input
                pInputText
                placeholder="Điền mã tài liệu"
                formControlName="documentCode"
              />
              <div
                *ngIf="documentForm.controls?.['documentCode']?.invalid && (documentForm.controls?.['documentCode']?.touched || documentForm.controls?.['documentCode']?.dirty)">
                <span *ngIf="documentForm.controls?.['whitespace']?.errors?.['required'] || documentForm.controls?.['documentCode']?.errors?.['required']" class="p-error">
                  Vui lòng điền mã tài liệu
                </span>
                <span *ngIf="documentForm.controls?.['documentCode']?.errors?.['maxlength']" class="p-error">
                  Mã tài liệu quá dài
                </span>
              </div>
            </div>
            <div class="col-md-12 mb-2">
              <label class="fw-medium mb-1">Tài liệu<span class="p-error">*</span></label><br/>
              <div class="input-file">
                <input
                  type="file"
                  #fileInput
                  style="display: none"
                  (change)="handleFileInputChange(fileInput)"
                />
                <input pInputText readonly class="col-md-9"
                       placeholder="{{fileInputPlaceholders ? fileInputPlaceholders : 'Chọn file để tải lên'}}"/>
                <button
                  type="button"
                  pButton
                  label="Chọn tệp"
                  (click)="fileInput.click()"
                  class="col-md-3"
                ></button>
              </div>
              <div
                *ngIf="documentForm.controls?.['documentFile']?.invalid && (documentForm.controls?.['documentFile']?.touched || documentForm.controls?.['documentFile']?.dirty)">
                <span *ngIf="documentForm.controls?.['documentFile']?.errors?.['required']" class="p-error">
                  Vui lòng chọn tài liệu
                </span>
              </div>
            </div>
          </div>
          <div class="w-100 text-center mt-3">
            <button pButton type="submit">Lưu công việc</button>
          </div>
        </div>
        <div *ngIf="!canUploadDocument || task.document != null" class="d-flex flex-row justify-content-between">
          <div class="w-100">
            <app-file-item
              [document]="task.document"
            ></app-file-item>
          </div>
          <div *ngIf="canDeleteDocument" class="action-item d-flex justify-content-center align-items-center">
            <button type="button" (click)="handleOnClickDeleteDocument()">
              <i class="bi bi-trash-fill"></i>
            </button>
          </div>
        </div>
      </form>
    </div>

  </div>
</p-dialog>
