@import "../../../../../../assets/scss/base";

*{
  font-size: 16px;
}

.p-inputtext{
  border-radius: 8px;
}

:host ::ng-deep {
  .p-button {
    background-color: $primary;
    border-radius: 8px;
    border: solid 1px $primary;
    transition: all 0.5s ease;
    &:hover {
      background-color: $primary-hover;
      border-color: $primary-hover;
    }
  }
}

.record-document{
  .col-md-8, .col-md-4{
    input{
      width: 100%;
    }
  }

  .input-file {
    .p-inputtext {
      border-radius: 8px 0 0 8px;
    }

    button {
      background-color: $primary;
      border-radius: 0 8px 8px 0;

      &:hover,
      &:active {
        background-color: $primary-hover;
        border-color: $primary-hover;
      }
    }
  }
}

.action-item {
  button {
    border: none;
    background: none;
    i {
      font-size: 1.5rem;
      color: red;
    }
  }
}

:host ::ng-deep .p-dialog-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .p-button {
    margin-left: 30px;
  }
}

