<p-dialog header="Danh sách đoàn kiểm tra"
          [(visible)]="detailRecordPopupVisible"
          [modal]="true"
          [style]="{ width: '40%' }"
          [draggable]="false"
          [resizable]="false"
          (onHide)="resetDetailRecordPopupVisible()"
>
  <div class="container-fluid" *ngIf="task">
    <div class="row">
      <div class="record-name col-md-12 mt-1">
        <span>Mục kiểm tra</span>
        <p class="fw-bolder">{{task.taskName}}</p>
      </div>
      <div class="record-description col-md-12 mt-1">
        <span>Chi tiết</span>
        <p class="fw-bolder">{{task.description}}</p>
      </div>
      <div class="record-deadline col-md-12 mt-1">
        <span>Hạn nộp</span>
        <p class="fw-bolder"> {{task.deadline | date: "dd/MM/yyyy"}}</p>
      </div>
      <div class="record-assignee col-md-12 mt-1">
        <span>Người thực hiện</span>
        <p class="fw-bolder">{{task.assignee.user.fullName}}</p>
      </div>
      <div class="record-document col-md-12 mt-1">
        <span>Tài liệu</span>
        <div *ngIf="canUploadDocument && task.document === null">
          <div class="row">
            <div class="col-md-8">Tên</div>
            <div class="col-md-4">Mã</div>
            <div class="col-md-12">Tài liệu</div>
          </div>
        </div>
        <div *ngIf="!canUploadDocument">
          <app-file-item></app-file-item>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
