<p-dialog header="Thông tin cá nhân"
          [(visible)]="visible"
          [style]="{width: '60vw', height: '80vw'}"
          (onHide)="resetVisible()"
          [modal]="true"
>
  <div class="row" *ngIf="!isUpdate && this.currentUser">
    <div class="col-md-7">
      <div>
        <div>
          <label>Email</label>
        </div>
        <div>
          <p>{{this.currentUser.email}}</p>
        </div>

        <div>
          <label>Tên</label>
        </div>
        <div>
          <p>{{this.currentUser.fullName}}</p>
        </div>

        <div>
          <label>Số điện thoại</label>
        </div>
        <div>
          <p>{{this.currentUser.phoneNumber}}</p>
        </div>

        <div>
          <label>Giới tính</label>
        </div>
        <div>
          <p>{{this.currentUser.gender == "MALE" ?  "Nam" : "Nữ"}}</p>
        </div>

        <div>
          <label>Năm sinh</label>
        </div>
        <div>
          <p>{{this.currentUser.dob  | date : "dd/MM/yyyy"}}</p>
        </div>

      </div>
    </div>
    <div class="col-md-5">
      <div>
        <div>
          <label>Đơn vị</label>
        </div>
        <div>
          <p>{{this.currentUser.school?.schoolName}}</p>
        </div>
      </div>
      <div>
        <div>
          <label>Chức vụ</label>
        </div>
        <div>
          <p> <ng-container *ngFor="let role of this.currentUser.accountRoles; let last = last">
            {{ role.role?.roleName }}{{ last ? '' : ';' }}
          </ng-container></p>
        </div>
      </div>

    </div>
  </div>
  <div class="row" *ngIf="isUpdate && this.currentUser" [formGroup]="form">
    <div class="col-md-7">
      <div>
        <div>
          <label>Email</label>
        </div>
        <div>
          <p>{{this.currentUser.email}}</p>
        </div>

        <div>
          <label>Tên</label>
        </div>
        <div>
          <input type="text" formControlName = 'fullName' class="form-control">
          <span class="p-error" *ngIf="isError('fullName', 'whitespace')">Mục này không được trống</span>
        </div>

        <div>
          <label>Số điện thoại</label>
        </div>
        <div>
          <input type="text" formControlName = 'phoneNumber' class="form-control">
          <span class="p-error" *ngIf="isError('phoneNumber', 'pattern')">Sai định dạng số điện thoại</span>
          <span class="p-error" *ngIf="isBlank('phoneNumber')">Mục này không được trống</span>

        </div>

        <div>
          <label>Giới tính</label>
        </div>
        <div>
          <p-dropdown [options]="genders" formControlName = "gender" >

          </p-dropdown>
        </div>

        <div>
          <label>Năm sinh</label>
        </div>
        <div>
          <input type="date" formControlName = 'dob' class="form-control">
          <span class="p-error" *ngIf="isError('dob', 'invalidDate')">Ngày sinh không thể là tương lai</span>
        </div>

      </div>
    </div>
    <div class="col-md-5">
      <div>
        <div>
          <label>Đơn vị</label>
        </div>
        <div>
          <p>{{this.currentUser.school?.schoolName}}</p>
        </div>
      </div>
      <div>
        <div>
          <label>Chức vụ</label>
        </div>
        <div>
          <p> <ng-container *ngFor="let role of this.currentUser.accountRoles; let last = last">
            {{ role.role?.roleName }}{{ last ? '' : ';' }}
          </ng-container></p>
        </div>
      </div>

    </div>
  </div>
  <button class="btn btn-primary"
          (click)="confirm()"
          *ngIf="isUpdate"
  >Lưu</button>
<button class="btn btn-primary"
        (click)="onUpdate()"
        *ngIf="!isUpdate"
>Cập nhật</button>
<button class="btn btn-primary"
        *ngIf="!isUpdate"
        (click)="onClickChangePassword()"
>Thay mật khẩu</button>
  <button class="btn btn-primary"
          (click)="onUpdate()"
          *ngIf="isUpdate">Quay lại</button>

</p-dialog>
<p-toast position="top-right" key="error"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<app-change-password [visible] = "isVisible"
                     (visibleChange)="onClickChangePassword()"></app-change-password>
<app-loading-complete-dialog
  [visible]="isLoading"
  [completed]="submitCompleted"
  [header]="'Cập nhật người dùng'"
  [progress]="'Đang cập nhật người dùng'"
  [complete]="'Cập nhật người dùng thành công'"
></app-loading-complete-dialog>
