<div class="container-fluid">
  <span>breadcrumb</span>
  <h5 class="mat-headline-5 fw-medium mb-4">
    Kế hoạch thực hiện nhiệm vụ năm học
  </h5>
  <p-toast key="toastInitiationPlan"></p-toast>
  <p-confirmDialog
    [style]="{ width: '50vw' }"
    acceptLabel="Đồng ý"
    rejectLabel="Hủy"
    key="confirmInitiationplan"
  ></p-confirmDialog>
  <app-loading-complete-dialog
    [visible]="isLoading"
    [completed]="submitCompleted"
    [header]="'Nộp tài liệu'"
    [progress]="'Vui lòng đợi trong giây lát'"
    [complete]="'Nộp thành công'"
  ></app-loading-complete-dialog>
  <app-file-loading
    [visible]="isFileLoading"
    [progress]="''"
  ></app-file-loading>
  <!-- file preview -->
  <p-dialog
    header="Xem tài liệu"
    [(visible)]="pdfPreviewVisibility"
    [style]="{ width: '90vw', height: '100vh' }"
    [draggable]="false"
    [resizable]="false"
    [maximizable]="true"
    [modal]="true"
    (onHide)="onHideFilePreviewEvent()"
  >
    <div *ngIf="!pdfLoaded; else pdfIsLoaded" class="spinner">
      <div class="spinner-border text-center" role="status"></div>
      <p>Đang tải...</p>
    </div>
    <ng-template #pdfIsLoaded>
      <iframe [src]="safePdfUrl" width="100%" height="99%"></iframe>
    </ng-template>
  </p-dialog>
  <!--doc history -->
  <p-dialog
    header="Lịch sử phê duyệt"
    [(visible)]="docHistoryVisible"
    [modal]="true"
    [style]="{ width: '90vw', height: '900px' }"
    [draggable]="false"
    [resizable]="false"
  >
    <ng-container *ngIf="schoolinitiationplan?.documents">
      <p-table
        #dthistory
        [value]="schoolinitiationplan.documents"
        [tableStyle]="{ 'min-width': '50rem' }"
        [scrollable]="true"
        scrollHeight="580px"
        [paginator]="true"
        [rows]="5"
        [rowHover]="true"
        [globalFilterFields]="[
          'schoolDocument.documentName',
          'schoolDocument.documentCode',
          'schoolDocument.uploadedDate',
          'schoolDocument.createdBy',
          'schoolDocument.status.statusName',
          'departmentDocument.uploadedDate',
          'departmentDocument.account.user.fullName'
        ]"
      >
        <ng-template pTemplate="caption">
          <input
            class="history-search-box"
            type="text"
            pInputText
            placeholder="Tìm kiếm"
            (input)="
              dthistory.filterGlobal($any($event.target).value, 'contains')
            "
          />
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>STT</th>
            <th pSortableColumn="schoolDocument.documentName">
              Tài liệu<p-sortIcon
                field="schoolDocument.documentName"
              ></p-sortIcon>
            </th>
            <th pSortableColumn="schoolDocument.documentCode">
              Mã tài liệu<p-sortIcon
                field="schoolDocument.documentCode"
              ></p-sortIcon>
            </th>
            <th pSortableColumn="schoolDocument.uploadedDate">
              Ngày tạo<p-sortIcon
                field="schoolDocument.uploadedDate"
              ></p-sortIcon>
            </th>
            <th pSortableColumn="schoolDocument.createdBy">
              Người tạo<p-sortIcon
                field="schoolDocument.createdBy"
              ></p-sortIcon>
            </th>
            <th pSortableColumn="schoolDocument.status.statusName">
              Trạng thái
              <p-sortIcon field="schoolDocument.status.statusName"></p-sortIcon>
            </th>
            <th pSortableColumn="departmentDocument.uploadedDate">
              Ngày phê duyệt
              <p-sortIcon field="departmentDocument.uploadedDate"></p-sortIcon>
            </th>
            <th pSortableColumn="departmentDocument.account.user.fullName">
              Người đánh giá
              <p-sortIcon
                field="departmentDocument.account.user.fullName"
              ></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-plan let-i="rowIndex">
          <tr>
            <td>{{ i + 1 }}</td>
            <td
              class="his-file-name"
              (click)="openNewTab(plan.schoolDocument.documentLink)"
            >
              {{ plan.schoolDocument.documentName }}
            </td>
            <td>{{ plan.schoolDocument.documentCode }}</td>
            <td>
              {{ plan.schoolDocument.uploadedDate | date : "dd/MM/yyyy" }}
            </td>
            <td>{{ plan.schoolDocument.account.user.fullName }}</td>
            <td>
              <p-tag
                *ngIf="plan.schoolDocument.status.statusId == 10"
                class="status"
                [severity]="'warning'"
                [rounded]="true"
              >
                {{ plan.schoolDocument.status.statusName }}
              </p-tag>
              <p-tag
                *ngIf="plan.schoolDocument.status.statusId == 11"
                class="status"
                [severity]="'success'"
                [rounded]="true"
              >
                {{ plan.schoolDocument.status.statusName }}
              </p-tag>
              <p-tag
                *ngIf="plan.schoolDocument.status.statusId == 12"
                class="status"
                [severity]="'danger'"
                [rounded]="true"
              >
                {{ plan.schoolDocument.status.statusName }}
              </p-tag>
            </td>

            <td *ngIf="plan.departmentDocument">
              {{ plan.departmentDocument.uploadedDate | date : "dd/MM/yyyy" }}
            </td>
            <td *ngIf="plan.departmentDocument">
              {{ plan.departmentDocument.account.user.fullName }}
            </td>
            <td>
              <button
                pButton
                *ngIf="plan.departmentDocument"
                (click)="openNewTab(plan.departmentDocument.documentLink)"
              >
                Chi tiết
              </button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">Không có lịch sử phê duyệt</td>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
  </p-dialog>

  <form [formGroup]="inputFileForm">
    <!-- file upload -->
    <p-dialog
      header="Nộp tài liệu"
      [(visible)]="uploadFileVisible"
      [modal]="true"
      [style]="{ width: '50vw' }"
      [draggable]="false"
      [resizable]="false"
      (onHide)="hideUploadPopup()"
    >
      <div class="row">
        <div class="col-md-8">
          <div class="mb-2">
            <label class="fw-medium mb-1"
              >Tên tài liệu<span class="p-error">*</span></label
            >
            <br />
            <input
              class="w-100"
              pInputText
              formControlName="documentName"
              type="text"
              placeholder="Tên tài liệu"
            />
            <div
              *ngIf="inputFileForm.controls?.['documentName']?.invalid && (inputFileForm.controls?.['documentName']?.touched || inputFileForm.controls?.['documentName']?.dirty)"
            >
              <span
                *ngIf="inputFileForm.controls?.['documentName']?.errors?.['required'] || inputFileForm.controls?.['documentName']?.errors?.['whitespace']"
                class="p-error"
              >
                Vui lòng điền tên tài liệu
              </span>
              <span
                *ngIf="inputFileForm.controls?.['documentName']?.errors?.['maxlength']"
                class="p-error"
              >
                Tên tài liệu quá dài
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-2">
            <label class="mb-1 fw-medium"
              >Mã tài liệu<span class="p-error">*</span></label
            >
            <input
              class="w-100"
              pInputText
              formControlName="documentCode"
              type="text"
              placeholder="Mã tài liệu"
            />
            <div
              *ngIf="inputFileForm.controls?.['documentCode']?.invalid && (inputFileForm.controls?.['documentCode']?.touched || inputFileForm.controls?.['documentCode']?.dirty)"
            >
              <span
                *ngIf="inputFileForm.controls?.['documentCode']?.errors?.['required'] || inputFileForm.controls?.['documentCode']?.errors?.['whitespace']"
                class="p-error"
              >
                Vui lòng điền mã tài liệu
              </span>
              <span
                *ngIf="inputFileForm.controls?.['documentCode']?.errors?.['maxlength']"
                class="p-error"
              >
                Mã tài liệu quá dài
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-2">
            <label class="mb-1 fw-medium"
              >Tài liệu<span class="p-error">*</span></label
            >
            <div class="input-file row w-100">
              <div class="col-md-9 padding-none">
                <input
                  type="file"
                  accept="application/pdf"
                  #fileInput
                  style="display: none"
                  (change)="handleFileInputChange(fileInput)"
                  class="w-100"
                />
                <input
                  pInputText
                  readonly
                  placeholder="{{
                    fileInputPlaceholders
                      ? fileInputPlaceholders
                      : 'Chọn file để tải lên'
                  }}"
                />
              </div>
              <div class="col-md-3 padding-none">
                <button
                  class="upload-file w-100"
                  type="button"
                  pButton
                  label="Chọn tệp"
                  (click)="fileInput.click()"
                ></button>
              </div>
              <div
                class="padding-none"
                *ngIf="inputFileForm.controls?.['file']?.invalid && (inputFileForm.controls?.['file']?.touched || inputFileForm.controls?.['file']?.dirty)"
              >
                <span
                  *ngIf="inputFileForm.controls?.['file']?.errors?.['required']"
                  class="p-error"
                >
                  Vui lòng chọn tài liệu
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <button type="button" pButton (click)="upload()">Tải tài liệu</button>
      </div>
    </p-dialog>
  </form>

  <div class="row" *ngIf="schoolinitiationplan">
    <div class="col-md-7 plan">
      <div class="plan-content">
        <!-- dong 1 -->
        <div class="row mb-2">
          <div class="col-md-8">
            <div class="mb-1">
              <label class="mb-2 span-heading-color">Tên kế hoạch</label>
              <p class="fw-medium p-content-fs">
                {{ schoolinitiationplan.initiationPlanName }}
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-1">
              <span class="mb-2 span-heading-color">Người lên kế hoạch</span>
              <p class="fw-medium p-content-fs">
                {{ schoolinitiationplan.createdBy }}
              </p>
            </div>
          </div>
        </div>
        <!-- dong 2 -->
        <div class="row mb-2">
          <div class="col-md-8">
            <div class="mb-1">
              <span class="mb-2 span-heading-color">Trường</span>
              <p class="fw-medium p-content-fs">
                {{ schoolinitiationplan.school.schoolName }}
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-1">
              <span class="mb-2 span-heading-color">Trạng thái</span>
              <br />
              <p-tag
                *ngIf="
                  schoolinitiationplan?.status.statusId >= 6 &&
                  schoolinitiationplan?.status.statusId <= 9
                "
                class="status"
                [severity]="
                  getStatusSeverity(schoolinitiationplan?.status.statusId)
                "
                [rounded]="true"
              >
                {{ schoolinitiationplan?.status.statusName }}
              </p-tag>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-8">
            <div class="mb-1">
              <span class="mb-2 span-heading-color">Ngày tạo</span>
              <p class="fw-medium p-content-fs">
                {{ schoolinitiationplan.createdDate | date : "dd/MM/yyyy" }}
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-1">
              <span class="mb-2 span-heading-color">Hạn nộp</span>
              <p class="fw-medium p-error">
                {{ schoolinitiationplan?.deadline | date : "dd/MM/yyyy" }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="plan-file mt-3">
        <div class="row">
          <div class="col-md-8 d-flex align-items-center">
            <label class="mb-1 fw-medium p-content-fs">Tài liệu</label>
          </div>
          <div class="col-md-4">
            <button pButton class="mb-2" (click)="docHistoryVisible = true">
              Lịch sử phê duyệt
            </button>
          </div>
        </div>

        <br />

        <ng-container *ngIf="lastDocs?.departmentDocument; else noDeptFile">
          <div
            *ngIf="schoolinitiationplan?.status.statusId != 6"
            class="file-item py-1 d-flex"
            (click)="openNewTab(lastDocs.departmentDocument.documentLink)"
          >
            <div
              class="file-item-icon d-flex justify-content-center align-items-center"
            >
              <img src="assets/img/pdf_logo.svg" alt="" />
            </div>
            <div class="row col-md-10 d-flex align-items-center mb-3 file-item-content">
              <div class="col-md-8">
                <p class="mb-0">
                  <span class="fw-medium span-doc-name"
                    >{{ lastDocs.departmentDocument.documentName }}</span
                  ><span class="fw-medium">.pdf</span>
                </p>
                <p class="mb-0">
                  <span>Mã tài liệu: </span>
                  <span class="fw-medium">{{
                    lastDocs.departmentDocument.documentCode
                  }}</span>
                </p>
              </div>
              <div class="col-md-4 text-end">
                <p class="mb-0">
                  <!-- <span>Kích thước: </span> -->
                  <span class="fw-medium">{{
                    lastDocs.departmentDocument.sizeFormat
                  }}</span>
                </p>
                <p class="mb-0">
                  <!-- <span>Ngày tạo: </span> -->
                  <span class="fw-medium">{{
                    lastDocs.departmentDocument.uploadedDate
                      | date : "dd/MM/yyyy"
                  }}</span>
                </p>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #noDeptFile>
          <div
            class="file-item-empty mt-2 py-3 d-flex flex-column justify-content-around align-items-center"
          >
            <i class="bi bi-file-earmark-x-fill"></i>
            <p class="fw-medium mt-2">Tài liệu đánh giá phía phòng hiện chưa có</p>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="col-md-5">
      <div class="upload">
        <div class="py-4 header text-center">
          <h6 class="mat-headline-6 p-content-fs">Nộp tài liệu</h6>
        </div>
        <!--6 Đang thực thi và 9 không được phê duyệt-->
        <ng-container
          *ngIf="
            schoolinitiationplan?.status.statusId == 6 ||
            schoolinitiationplan?.status.statusId == 9
          "
        >
          <div *ngIf="!fileStatus" class="mt-2">
            <div
              class="img-upload d-flex justify-content-center align-items-center"
            >
              <img src="../../../../../../assets/img/add-file.svg" />
            </div>
            <!-- <div class="d-flex justify-content-center">
              <label class="fw-medium fs-18">Nộp tài liệu</label>
            </div> -->
            <div
              class="d-flex justify-content-center align-items-center btn-upload"
              (click)="uploadFileVisible = true"
            >
              <button type="button" pButton label="Nộp"></button>
            </div>
          </div>

          <div *ngIf="fileStatus" class="px-4 my-4">
            <div
              class="file-item py-1 d-flex"
              (click)="displayNewFileUpload(newFile)"
              pTooltip="{{ lastDocs?.schoolDocument?.documentName }}.pdf"
              tooltipPosition="top"
            >
              <div
                class="file-item-icon d-flex justify-content-center align-items-center"
              >
                <img src="assets/img/pdf_logo.svg" alt="" />
              </div>
              <div class="row col-md-10 d-flex align-items-center file-item-content">
                <div class="col-md-6 mb-3">
                  <p class="mb-0">
                    <span class="fw-medium span-doc-name"
                      >{{ inputFileForm.get("documentName")?.value }}</span
                    >
                    <span class="fw-medium">.pdf</span>
                  </p>
                  <p class="mb-0">
                    <span>Mã tài liệu: </span>
                    <span class="fw-medium">{{
                      inputFileForm.get("documentCode")?.value
                    }}</span>
                  </p>
                </div>
                <div class="col-md-4 mb-3 text-end">
                  <p class="mb-0">
                    <!-- <span>Kích thước: </span> -->
                    <span class="fw-medium">{{ getSize(newFile.size) }}</span>
                  </p>
                  <p class="mb-0">
                    <!-- <span>Ngày tạo: </span> -->
                    <span class="fw-medium">{{
                      today | date : "dd/MM/yyyy"
                    }}</span>
                  </p>
                </div>
                <div
                  class="align-self-center col-md-2 d-flex justify-content-center align-items-center"
                >
                  <div
                    *ngIf="iconStatus"
                    class="delete-icon d-flex justify-content-center align-items-center"
                    (click)="deleteFile($event, 0)"
                  >
                    <i class="bi bi-x-lg"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="buttonApproveStatus"
            class="button-bottom py-4 d-flex justify-content-around align-items-center"
          >
            <button
              type="button"
              pButton
              label="Xác nhận"
              (click)="confirmUpload()"
            ></button>
          </div>
        </ng-container>
        <!-- 7 đang chờ phê duyệt -->
        <ng-container *ngIf="schoolinitiationplan?.status.statusId == 7">
          <div *ngIf="fileStatus" class="px-4 my-4">
            <div class="d-flex justify-content-center align-items-center mb-2">
              <span *ngIf="!checkCanEdit()" class="p-error"
                ><span class="font-weight-bold">Thông báo: </span>Hiện tại đã
                hết hạn nên không thể chỉnh sửa</span
              >
            </div>
            <div
              class="file-item py-1 d-flex"
              (click)="openNewTab(lastDocs.schoolDocument?.documentLink)"
              pTooltip="{{ lastDocs.schoolDocument.documentName }}.pdf"
              tooltipPosition="top"
            >
              <div
                class="file-item-icon d-flex justify-content-center align-items-center"
              >
                <img src="assets/img/pdf_logo.svg" alt="" />
              </div>
              <div class="row col-md-10 d-flex align-items-center file-item-content">
                <div class="col-md-6 mb-3">
                  <p class="mb-0">
                    <span class="fw-medium span-doc-name"
                      >{{ lastDocs.schoolDocument.documentName }}</span
                    ><span class="fw-medium">.pdf</span>
                  </p>
                  <p class="mb-0">
                    <span>Mã tài liệu: </span>
                    <span class="fw-medium">{{
                      lastDocs.schoolDocument.documentCode
                    }}</span>
                  </p>
                </div>
                <div class="col-md-4 text-end mb-3">
                  <p class="mb-0">
                    <span class="fw-medium">{{
                      lastDocs.schoolDocument.sizeFormat
                    }}</span>
                  </p>
                  <p class="mb-0">
                    <span class="fw-medium">{{
                      lastDocs.schoolDocument.uploadedDate | date : "dd/MM/yyyy"
                    }}</span>
                  </p>
                </div>
                <div
                  class="align-self-center col-md-2 d-flex justify-content-center align-items-center"
                >
                  <div
                    *ngIf="iconStatus"
                    class="delete-icon d-flex justify-content-center align-items-center"
                    (click)="
                      deleteFile($event, lastDocs.schoolDocument.documentId)
                    "
                  >
                    <i class="bi bi-x-lg"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-2 btn-upload">
              <div class="d-flex justify-content-center align-items-center">
                <button
                  *ngIf="!iconStatus"
                  label="Chỉnh sửa"
                  pButton
                  [disabled]="!checkCanEdit()"
                  (click)="visibleIcon()"
                ></button>
                <button
                  *ngIf="iconStatus"
                  type="button"
                  pButton
                  label="Xác nhận"
                  (click)="confirmUpload()"
                ></button>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="schoolinitiationplan?.status.statusId == 8">
          <div class="px-4 my-4">
            <div
              class="file-item py-1 d-flex"
              (click)="openNewTab(lastDocs.schoolDocument?.documentLink)"
              pTooltip="{{ lastDocs.schoolDocument.documentName }}.pdf"
              tooltipPosition="top"
            >
              <div
                class="file-item-icon d-flex justify-content-center align-items-center"
              >
                <img src="assets/img/pdf_logo.svg" alt="" />
              </div>
              <div class="row col-md-10 d-flex align-items-center mb-3 file-item-content">
                <div class="col-md-8">
                  <p class="mb-0">
                    <span class="fw-medium span-doc-name"
                      >{{ lastDocs.schoolDocument.documentName }}</span
                    ><span class="fw-medium">.pdf</span>
                  </p>
                  <p class="mb-0">
                    <span>Mã tài liệu: </span>
                    <span class="fw-medium">{{
                      lastDocs.schoolDocument.documentCode
                    }}</span>
                  </p>
                </div>
                <div class="col-md-4 text-end">
                  <p class="mb-0">
                    <!-- <span>Kích thước: </span> -->
                    <span class="fw-medium">{{
                      lastDocs.schoolDocument.sizeFormat
                    }}</span>
                  </p>
                  <p class="mb-0">
                    <!-- <span>Ngày tạo: </span> -->
                    <span class="fw-medium">{{
                      lastDocs.schoolDocument.uploadedDate | date : "dd/MM/yyyy"
                    }}</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="mt-5 d-flex justify-content-center align-items-center">
              <span class="fw-medium p-content-fs">Kết quả đánh giá:</span>
              &nbsp;&nbsp;
              <p-tag
                *ngIf="
                  schoolinitiationplan.status.statusId >= 6 &&
                  schoolinitiationplan.status.statusId <= 9
                "
                class="status"
                [severity]="
                  getStatusSeverity(schoolinitiationplan.status.statusId)
                "
                [rounded]="true"
              >
                {{ schoolinitiationplan.status.statusName }}
              </p-tag>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
