<p-toast position="top-right" key="deleteComplete"></p-toast>
<p-toast position="top-right" key="deleteInComplete"></p-toast>
<app-inspection-plan-inspector-popup
  (popupInspectorVisibleChange)="changeInspectorVisible()"
  [popupInspectorVisible]="popupInspectorVisible"
  [inspectorList]="inspectorList"
  (selectedInspectorsList)="getInspectorIds($event)"
  [chiefList]="chiefList"
  [inspectorListIsValid]="inspectorListIsValid"
></app-inspection-plan-inspector-popup>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  acceptLabel="Xác nhận"
  rejectLabel="Hủy bỏ"
  key="changeTime"
></p-confirmDialog>
<app-loading-complete-dialog
  [visible]="createLoadingVisibility"
  [completed]="createComplete"
  [failed]="createFailed"
  [header]="'Tạo mới quyết định kiểm tra'"
  [progress]="'Đang tạo quyết định kiểm tra'"
  [complete]="'Tạo quyết định kiểm tra thành công'"
  [fail]="'Tạo quyết định kiểm tra không thành công'"
>
</app-loading-complete-dialog>
<div class="container-fluid">
  <tui-breadcrumbs
    size="l"
  >
    <ng-container *ngFor="let item of breadCrumb">
      <a
        *tuiItem
        tuiLink
        [routerLink]="item.routerLink"
      >
        {{ item.caption }}
      </a>
    </ng-container>
  </tui-breadcrumbs>
  <h5 class="mat-headline-5 fw-medium">Tạo mới quyết định kiểm tra</h5>
  <div class="row create-inspection-plan">
    <form class="row" [formGroup]="inspectionPlanForm" (ngSubmit)="onSubmit()">
      <div class="form-content col-md-8 mb-2">
        <div class="inspection-plan-name mb-2">
          <label class="fw-medium mb-1">Tên quyết định kiểm tra<span class="p-error">*</span></label>
          <input
            type="text"
            pInputText
            placeholder="Tên quyết định kiểm tra"
            class="w-100"
            formControlName="inspectionPlanName"
          />
          <div
            *ngIf="inspectionPlanForm.controls?.['inspectionPlanName']?.invalid && (inspectionPlanForm.controls?.['inspectionPlanName']?.touched ||inspectionPlanForm.controls?.['inspectionPlanName']?.dirty)"
          >
            <span
              *ngIf="inspectionPlanForm.controls?.['inspectionPlanName']?.errors?.['whitespace'] || inspectionPlanForm.controls?.['inspectionPlanName']?.errors?.['required']"
              class="p-error"
            >
              Vui lòng điền tên quyết định kiểm tra
            </span>
            <span
              *ngIf="inspectionPlanForm.controls?.['inspectionPlanName']?.errors?.['maxlength']"
              class="p-error"
            >
              Tên quyết định kiểm tra quá dài
            </span>
          </div>
        </div>
        <div class="inspection-plan-description mb-2">
          <label class="fw-medium mb-1">Chi tiết<span class="p-error">*</span></label>
          <textarea
            type="text"
            pInputTextarea
            placeholder="Chi tiết về kế hoạch quyết định kiểm tra"
            rows="5"
            class="w-100"
            formControlName="description"
          ></textarea>
          <div
            *ngIf="inspectionPlanForm.controls?.['description']?.invalid && (inspectionPlanForm.controls?.['description']?.touched ||inspectionPlanForm.controls?.['description']?.dirty)"
          >
            <span
              *ngIf="inspectionPlanForm.controls?.['description']?.errors?.['whitespace'] || inspectionPlanForm.controls?.['description']?.errors?.['required']"
              class="p-error"
            >
              Vui lòng điền chi tiết quyết định kiểm tra
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-2">
            <label class="fw-medium mb-1">Ngày bắt đầu<span class="p-error">*</span></label>
            <tui-input-date
              tuiUnfinishedValidator="Vui lòng chọn ngày bắt đầu"
              (tuiValueChanges)="onStartDateChange()"
              [min]="minStartDate"
              [max]="maxStartDate"
              class="tui-date"
              tuiTextfieldSize="m"
              formControlName="startDate">
            </tui-input-date>
          </div>
          <div class="col-md-6 mb-2">
            <label class="fw-medium mb-1">Ngày kết thúc<span class="p-error">*</span></label>
            <tui-input-date
              tuiUnfinishedValidator="Vui lòng chọn ngày kết thúc"
              (tuiValueChanges)="onEndDateChange()"
              [min]="minEndDate"
              class="tui-date"
              tuiTextfieldSize="m"
              formControlName="endDate"
            >
            </tui-input-date>
          </div>
        </div>
        <div class="inspection-plan-school row">
          <div class="col-md-6 mb-2">
            <label class="fw-medium mb-1">Trường kiểm tra<span class="p-error">*</span></label>
            <p-dropdown
              class="full-width-dropdown"
              [options]="schoolList"
              formControlName="schoolId"
              optionLabel="schoolName"
              [filter]="true"
              filterBy="schoolName"
              optionValue="schoolId"
              [showClear]="true"
              placeholder="Chọn trường kiểm tra"
            >
            </p-dropdown>
            <div
              *ngIf="inspectionPlanForm.controls?.['schoolId']?.invalid && (inspectionPlanForm.controls?.['schoolId']?.touched ||inspectionPlanForm.controls?.['schoolId']?.dirty)"
            >
              <span
                *ngIf="inspectionPlanForm.controls?.['schoolId']?.errors?.['required']"
                class="p-error"
              >
                Vui lòng chọn trường kiểm tra
              </span>
            </div>
          </div>
          <div class="col-md-6 mb-2" *ngIf="inspectionPlanForm.controls?.['inspectorIds']?.valid">
            <label class="fw-medium mb-1">Trưởng đoàn kiểm tra<span class="p-error">*</span></label>
            <p-dropdown
              class="full-width-dropdown"
              [options]="eligibleChiefList"
              formControlName="chiefId"
              optionLabel="user.fullName"
              [filter]="true"
              filterBy="user.fullName"
              optionValue="accountId"
              [showClear]="true"
              placeholder="Chọn trưởng đoàn kiểm tra"
            >
            </p-dropdown>
            <div
              *ngIf="inspectionPlanForm.controls?.['chiefId']?.invalid && (inspectionPlanForm.controls?.['chiefId']?.touched ||inspectionPlanForm.controls?.['chiefId']?.dirty)"
            >
              <span
                *ngIf="inspectionPlanForm.controls?.['chiefId']?.errors?.['required']"
                class="p-error"
              >
                Vui lòng chọn trưởng đoàn kiểm tra
              </span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-4 d-flex justify-content-start flex-column align-items-center"
      >
        <app-inspection-plan-inspector-list
          class="w-100"
          [listEditable]="true"
          [selectedInspectors]="selectedInspectorList"
          (toggleIssueListPopup)="changeInspectorVisible()"
          (resetList)="onResetList()"
          (inspectorList)="getInspectorIds($event)"
          [chiefList]="chiefList"
          (recreateInspectorList)="resetInspectorList()"
        ></app-inspection-plan-inspector-list>
        <div
          class="mt-1"
          *ngIf="inspectionPlanForm.controls?.['inspectorIds']?.invalid && (inspectionPlanForm.controls?.['inspectorIds']?.touched ||inspectionPlanForm.controls?.['inspectorIds']?.dirty)"
        >
          <span
            *ngIf="inspectionPlanForm.controls?.['inspectorIds']?.errors?.['required']"
            class="p-error"
          >
            Vui lòng chọn danh sách đoàn kiểm tra
          </span>
        </div>
      </div>
      <h6 class="mat-headline-6 fw-medium mb-1">Tài liệu công văn</h6>
      <div class="document col-md-8" formGroupName="documentInspectionPlanDto">
        <div class="row document-item">
          <div class="col-md-8 mb-2">
            <label class="fw-medium mb-1">Tên tài liệu<span class="p-error">*</span></label>
            <input
              pInputText
              class="w-100"
              placeholder="Điền tên tài liệu"
              formControlName="documentName"
            />
            <div
              *ngIf="
                  documentNameControls?.invalid &&
                  (documentNameControls?.touched || documentNameControls?.dirty)
                "
            >
                <span
                  *ngIf="documentNameControls?.errors?.['whitespace'] ||documentNameControls?.errors?.['required']"
                  class="p-error"
                >
                  Vui lòng điền tên tài liệu
                </span>
              <span
                *ngIf="documentNameControls?.errors?.['maxlength']"
                class="p-error"
              >
                  Tên tài liệu quá dài
                </span>
            </div>
          </div>
          <div class="col-md-4 mb-2">
            <label class="fw-medium mb-1">Mã tài liệu<span class="p-error">*</span></label>
            <input
              pInputText
              placeholder="Điền mã tài liệu"
              formControlName="documentCode"
            />
            <div *ngIf="duplicateDocumentCode">
              <span class="p-error">Mã tài liệu trùng lặp</span>
            </div>
            <div
              *ngIf="
                  documentCodeControls?.invalid &&
                  (documentCodeControls?.touched || documentCodeControls?.dirty)
                "
            >
                <span
                  *ngIf="documentCodeControls?.errors?.['whitespace'] || documentCodeControls?.errors?.['required']"
                  class="p-error"
                >
                  Vui lòng điền mã tài liệu
                </span>
              <span
                *ngIf="documentCodeControls?.errors?.['maxlength']"
                class="p-error">
                Mã tài liệu quá dài
                </span>
            </div>
          </div>
          <div class="col-md-12">
            <label class="fw-medium mb-1">Tài liệu<span class="p-error">*</span></label>
            <div class="input-file">
              <input
                type="file"
                #fileInput
                style="display: none"
                (change)="handleFileInputChange(fileInput)"
              />
              <input
                pInputText
                readonly
                class="col-md-9"
                placeholder="{{
                    fileInputPlaceholders
                      ? fileInputPlaceholders
                      : 'Chọn file để tải lên'
                  }}"
              />
              <button
                type="button"
                pButton
                label="Chọn tệp"
                (click)="fileInput.click()"
                class="col-md-3"
              ></button>
            </div>
            <div
              *ngIf="
                  documentFileControls?.invalid &&
                  (documentFileControls?.touched || documentFileControls?.dirty)
                "
            >
                <span
                  *ngIf="documentFileControls?.errors?.['required']"
                  class="p-error"
                >
                  Vui lòng chọn tài liệu công văn
                </span>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 mb-3 row w-100">
        <div class="col-12 save-button d-flex w-100 justify-content-center">
          <button class="btn text-white">Lưu quyết định</button>
        </div>
      </div>
    </form>
  </div>
</div>
