<p-dialog header="Thay đổi mật khẩu"
          [(visible)]="visible"
          [style]="{width: '30vw', height: '22vw'}"
          (onHide)="resetVisible()"
          [modal]="true"
>
<form [formGroup]="form">
  <div>
    <div>
      <label>Mật khẩu hiện tại</label>
    </div>
    <div>
      <input type="password" formControlName="password" class="form-control">
    </div>

    <div>
      <label>Mật khẩu</label>
    </div>
    <div>
      <input type="password" formControlName="changePassword" class="form-control">
    </div>

    <div>
      <label>Nhập lại mật khẩu</label>
    </div>
    <div>
      <input type="password" formControlName="confirmPassword" class="form-control">
    </div>

  </div>

</form>
  <button class="btn btn-primary">Thay mật khẩu</button>

</p-dialog>
