<span>breadcrumb here</span>
<!-- {{ issue | json }} -->
<h4>Cập nhật kế hoạch kiểm tra</h4>
<form
  [formGroup]="issueForm"
  class="row issue-content no-gutter-row"
  *ngIf="issue"
  (ngSubmit)="onSubmit()"
>
  <p-toast></p-toast>
  <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
  <p-dialog
    header="Danh sách đoàn kiểm tra"
    [(visible)]="popupInspectorVisible"
    [modal]="true"
    [style]="{ width: '80vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <p-table
      #dt
      [value]="inspectorLeftList"
      [(selection)]="selectedInspectors"
      dataKey="accountId"
      [rowHover]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [filterDelay]="0"
      [globalFilterFields]="['name', 'role', 'school']"
    >
      <ng-template pTemplate="caption">
        <div class="table-header">
          <span class="p-input-icon-left">
            <i class="fa-solid fa-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Tìm kiếm"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th class="th-id">
            <div>Id</div>
          </th>
          <th pSortableColumn="name">
            <div>
              Tên
              <p-sortIcon field="name"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="role">
            <div>
              Chức vụ
              <p-sortIcon field="role"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="school">
            <div>
              Tên trường
              <p-sortIcon field="school"></p-sortIcon>
            </div>
          </th>
          <!-- <th class="th-small"></th> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-inspector>
        <tr class="p-selectable-row">
          <td>
            <p-tableCheckbox [value]="inspector"></p-tableCheckbox>
          </td>
          <td>
            <span class="p-column-title">Id</span>
            {{ inspector.accountId }}
          </td>
          <td>
            <span class="p-column-title">Tên</span>
            {{ inspector.fullName || inspector.user.fullName }}
          </td>
          <td>
            <span class="p-column-title">Chức vụ</span>
            {{ inspector.roles[0].roleName }}
          </td>
          <td>
            <span class="p-column-title">Đơn vị</span>
            {{ inspector.school.schoolName }}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">Không tìm thấy người nào</td>
        </tr>
      </ng-template>
    </p-table>
    <button
      pButton
      (click)="addInspector()"
      [disabled]="!selectedInspectors || !selectedInspectors.length"
    >
      Lưu
    </button>
  </p-dialog>
  <!-- invalid doc popup -->
  <p-dialog
    header="Tài liệu không có hiệu lực"
    [modal]="true"  
    [(visible)]="popupInvalidDocVisible"
    [style]="{ width: '80vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <p-virtualScroller
      [value]="invalidDoc"
      class="border-1 surface-border border-round"
      scrollHeight="400px"
      [itemSize]="100"
    >
      <ng-template pTemplate="item" let-item>
        <div
          class="file-item p-3 d-flex"
          (click)="openNewTab(item.documentLink)"
        >
          <div
            class="file-item-icon d-flex justify-content-center align-items-center"
          >
            <i class="bi bi-file-earmark"></i>
          </div>
          <div class="file-item-content ps-3">
            <p class="text-d">
              {{ item.documentName }}<br />
              {{ item.sizeFormat }}<br />
              {{ item.uploadedDate | date : "MM/dd/yyyy" }}
            </p>
          </div>
          <div class="mx-auto d-flex justify-content-center align-items-center">
            <p-tag class="status" [severity]="'danger'" [rounded]="true">
              Không có hiệu lực
            </p-tag>
          </div>
        </div>
      </ng-template>
    </p-virtualScroller>
  </p-dialog>
  <!-- file upload popup -->
  <p-dialog
    header="Cập nhật tài liệu"
    [(visible)]="uploadFileVisible"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
    (onHide)="onHideEvent()"
  >
    <label for="">Tên tài liệu</label>
    <br />
    <input
      pInputText
      formControlName="documentName"
      type="text"
      placeholder="Tên tài liệu"
    />
    <br />
    <label for="">Mã tài liệu</label>
    <br />
    <input
      pInputText
      formControlName="documentCode"
      type="text"
      placeholder="Mã tài liệu"
    />
    <br />
    <label for="">Tài liệu</label>
    <div class="input-file mb-3">
      <input
        type="file"
        #fileInput
        style="display: none"
        (change)="handleFileInputChange(fileInput)"
      />
      <input
        pInputText
        readonly
        class="col-md-9"
        placeholder="{{
          fileInputPlaceholders ? fileInputPlaceholders : 'Chọn file để tải lên'
        }}"
      />
      <button
        type="button"
        pButton
        label="Chọn tệp"
        (click)="fileInput.click()"
        class="col-md-3"
      ></button>
    </div>
    <button type="button" pButton (click)="upload()">Lưu thay đổi</button>
  </p-dialog>
  <!-- file preview -->
  <p-dialog
    [(visible)]="pdfLoaded"
    [style]="{ width: '80vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <div *ngIf="pdfLoaded">
      <iframe [src]="safePdfUrl" width="100%" height="500px"></iframe>
    </div>
  </p-dialog>
  <div class="col-md-8">
    <div class="mb-2 issue-name">
      <h6>Tên kế hoạch</h6>
      <input
        pInputText
        class="text-black-50 w-100"
        value="{{ issue.issueName }}"
        formControlName="issueName"
      />
      <span
        *ngIf="issueForm.controls.issueName.errors?.['whitespace']"
        class="p-error"
        >Vui lòng điền tên kế hoạch</span
      >
      <!-- <pre>{{ issueForm.controls.name.errors | json }}</pre> -->
    </div>
    <div class="mb-2 issue-description">
      <h6>Chi tiết</h6>
      <textarea
        pInputTextarea
        class="text-black-50 w-100"
        value="{{ issue.description }}"
        rows="3"
        formControlName="description"
      ></textarea>
      <span
        *ngIf="issueForm.controls.description.errors?.['whitespace']"
        class="p-error"
        >Vui lòng điền chi tiết kế hoạch</span
      >
    </div>
    <div class="mb-2">
      <h5>Tài liệu công văn</h5>
      <button
        class="mb-2"
        type="button"
        pButton
        (click)="togglePopupInvalidDoc()"
      >
        Xem tài liệu không có hiệu lực
      </button>
      <ng-container *ngFor="let item of issue.documentDtos">
        <div
          *ngIf="item.status.statusId == 1"
          class="mb-2"
          (click)="openNewTab(item.documentLink)"
        >
          <div class="file-item p-3 d-flex">
            <div
              class="file-item-icon d-flex justify-content-center align-items-center"
            >
              <i class="bi bi-file-earmark"></i>
            </div>
            <div class="file-item-content ps-3">
              <p class="text-d">
                {{ item.documentName }}<br />
                {{ item.sizeFormat }}<br />
                {{ item.uploadedDate | date : "MM/dd/yyyy" }}
              </p>
            </div>
            <div
              class="mx-auto d-flex justify-content-center align-items-center"
            >
              <p-tag class="status" [severity]="'success'" [rounded]="true">
                {{ item.status.statusName }}
              </p-tag>
            </div>

            <div
              class="update-icon d-flex justify-content-center align-items-center"
            >
              <i
                class="bi bi-pencil-square"
                (click)="
                  togglePopupFileUpload(
                    $event,
                    item.documentType.documentTypeId,
                    item.documentId
                  )
                "
              ></i>
            </div>
          </div>
        </div>
      </ng-container>
      <!-- <button type="button" pButton>Thêm mới</button> -->
      <!-- <br /> -->
      <button
        pButton
        [disabled]="issueForm.invalid || issue.inspectors.length == 0"
      >
        Lưu
      </button>
    </div>
  </div>
  <div class="col-md-4">
    <div class="list-inspector">
      <div class="list-inspector-header p-3 text-center">
        <h5 class="mx-auto">Danh sách thanh tra</h5>
        <div class="total">
          <span class="text-secondary mx-auto"
            >Tổng số: {{ issue.inspectors.length }}</span
          >
          <div *ngIf="isChanged"></div>
        </div>
      </div>

      <div class="card">
        <div class="overflow-auto">
          <ng-container *ngFor="let item of issue.inspectors">
            <div *ngIf="issue.inspectors" class="mb-2">
              <div class="scrollview-item d-flex p-3 h-full">
                <div
                  class="scrollview-item-icon d-flex justify-content-center align-items-center"
                >
                  <i class="bi bi-person-circle"></i>
                </div>
                <div class="scrollview-item-content ms-5">
                  <span class="font-weight-bold">{{ item.user.fullName }}</span>
                  <br />
                  <span>
                    {{ item.roles[0].roleName }}
                    <br />
                    {{ item.school.schoolName }}
                  </span>
                </div>

                <div
                  class="trash-icon ml-5 d-flex justify-content-center align-items-center"
                >
                  <i
                    *ngIf="isChanged"
                    class="bi bi-trash-fill"
                    (click)="confirmDelete(item)"
                  ></i>
                </div>
              </div>
            </div>
          </ng-container>
          <div
            class="d-flex justify-content-center align-items-center p-error"
            *ngIf="issue.inspectors.length == 0"
          >
            <h6>Danh sách ban kiểm tra không được để trống</h6>
          </div>
        </div>
      </div>
      <div class="bottom p-2">
        <div
          class="bottom-item d-flex justify-content-center"
          *ngIf="!isChanged"
        >
          <button pButton (click)="toggleStatus()">Thay đổi</button>
        </div>
        <div
          class="bottom-item d-flex justify-content-between"
          *ngIf="isChanged"
        >
          <button pButton class="cancel" (click)="toggleCancel()">Hủy</button>
          <button pButton type="button" (click)="showInspectorPopup()">
            <i class="bi bi-plus-lg"></i>
          </button>
          <button pButton (click)="toggleStore()">Lưu</button>
        </div>
        <input
          hidden
          type="text"
          [(value)]="issue.inspector"
          formControlName="inspector"
        />
        <!-- <pre>{{issueF}}</pre> -->
      </div>
    </div>
  </div>
  <!-- <pre>{{ issueForm.value | json }}</pre> -->
</form>
