@import "../../../../../assets/scss/base";
@import "../../../../../assets/scss/prime-custom";
.no-gutter-row {
    margin-right: 0;
    margin-left: 0;
}
.col {
    margin: 0;
}
.col-md-8 {
    padding: 0;
}
input,
textarea {
    border-radius: 8px;
}
.issue-content {
    font-size: 16px;
}

.scrollview-item {
    height: 100%;
    border-radius: 10px;
    // border: 0.8px solid $primary;
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    .scrollview-item-icon {
        i {
            color: $primary;
            font-size: 40px;
        }
    }
    .trash-icon {
        color: rgb(255, 86, 86);
        font-size: 25px;
        transition: all 0.5s ease;

        &:hover {
            color: rgb(240, 136, 136);
        }
    }
    // .index {
    //     color: $primary;
    //     font-size: 30px;
    // }
    &:hover {
        background-color: $primary-hover;
        transition: all 0.5s ease;
        // cursor: pointer;
        color: #fff;
        .scrollview-item-icon {
            i {
                color: #fff;
            }
        }
        // .index {
        //     color: #fff;
        // }
    }
    .scrollview-item-content {
        width: 300px;
        font-size: 16px;
        .font-weight-bold {
            font-weight: bold;
        }
    }
}
.file-item {
    height: 100px;
    background-color: #f9fafb;
    // border: 0.8px solid rgb(169, 169, 169);
    border-radius: 10px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    .file-item-content {
        width: 400px;
    }
    .file-item-icon {
        i {
            color: $primary;
            font-size: 20px;
            padding: 10px;
        }
    }
    &:hover {
        cursor: pointer;
        background-color: rgb(244, 244, 244);
    }
}
.list-inspector {
    border-radius: 10px;
    // border: 0.8px solid $primary;
    box-shadow:
        rgba(9, 30, 66, 0.25) 0px 1px 1px,
        rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    font-size: 16px;
}
.p-tag {
    padding: 20px;
}
.bottom-item {
    button {
        &.cancel {
            background-color: white;
            color: $primary;
            border: $primary 1px solid;
            &:hover {
                background-color: $primary-hover;
                border-color: $primary-hover;
                color: #fff;
            }
        }
    }
}
.update-icon {
    i {
        color: $primary;
        font-size: 20px;
    }
}
:host ::ng-deep {
    .p-button {
        background-color: $primary;
        border-radius: 8px;
        border: solid 1px $primary;
        transition: all 0.5s ease;
        margin-right: 20px;
        &:hover {
            background-color: $primary-hover;
            border-color: $primary-hover;
        }
    }
}
.overflow-auto {
    height: 540px;
    overflow: auto;
}
.input-file {
    input {
        width: 60%;
        border-radius: 8px 0 0 8px;
    }
    button {
        border-radius: 0 8px 8px 0;
    }
}
