<p-toast position="top-right" key="createIssue"></p-toast>
<app-issue-inspector-popup
  (popupInspectorVisibleChange)="changeInspectorVisible()"
  [popupInspectorVisible]="popupInspectorVisible"
  [inspectorList]="inspectors"
  (selectedInspectorsList)="getInspectorIds($event)"
  [inspectorListIsValid]="inspectorListIsValid"
>
</app-issue-inspector-popup>
<app-loading-complete-dialog
  [visible]="formSubmitted"
  [completed]="formCompleted"
  [failed]="formFailed"
  [header]="'Tạo mới kế hoạch kiểm tra'"
  [progress]="'Đang tạo kế hoạch kiểm tra'"
  [complete]="'Tạo kế hoạch kiểm tra thành công'"
  [fail]="'Tạo kế hoạch kiểm tra không thành công'"
>
</app-loading-complete-dialog>
<div class="container-fluid">
  <tui-breadcrumbs
    size="l"
  >
    <ng-container *ngFor="let item of breadCrumb">
      <a
        *tuiItem
        tuiLink
        [routerLink]="item.routerLink"
      >
        {{ item.caption }}
      </a>
    </ng-container>
  </tui-breadcrumbs>
  <h5 class="mat-headline-5 mb-2">Tạo mới kế hoạch kiểm tra</h5>
  <div class="row create-issue">
    <form class="row" [formGroup]="issueForm" (ngSubmit)="onSubmit()">
      <div class="form-content col-md-8">
        <div class="issue-name mb-2">
          <label class="fw-medium mb-1">Tên kế hoạch kiểm tra<span class="p-error">*</span></label>
          <input
            type="text"
            pInputText
            placeholder="Tên kế hoạch kiểm tra"
            class="w-100"
            formControlName="issueName"
          />
          <div
            *ngIf="issueForm.controls?.['issueName']?.invalid && (issueForm.controls?.['issueName']?.touched ||issueForm.controls?.['issueName']?.dirty)"
          >
            <span
              *ngIf="issueForm.controls?.['issueName']?.errors?.['whitespace'] || issueForm.controls?.['issueName']?.errors?.['required']"
              class="p-error"
            >
              Vui lòng điền tên kế hoạch kiểm tra
            </span>
            <span
              *ngIf="issueForm.controls?.['issueName']?.errors?.['maxlength']"
              class="p-error"
            >
              Tên kế hoạch kiểm tra quá dài
            </span>
          </div>
        </div>
        <div class="issue-detail mb-2">
          <label class="fw-medium mb-1">Chi tiết<span class="p-error">*</span></label>
          <textarea
            type="text"
            pInputTextarea
            placeholder="Chi tiết kế hoạch kiểm tra"
            rows="5"
            class="w-100"
            formControlName="issueDetail"
          ></textarea>
          <div
            *ngIf="issueForm.controls?.['issueDetail']?.invalid && (issueForm.controls?.['issueDetail']?.touched ||issueForm.controls?.['issueDetail']?.dirty)"
          >
            <span
              *ngIf="issueForm.controls?.['issueDetail']?.errors?.['whitespace'] || issueForm.controls?.['issueDetail']?.errors?.['required']"
              class="p-error"
            >
              Vui lòng điền tên kế hoạch kiểm tra
            </span>
            <span
              *ngIf="issueForm.controls?.['issueDetail']?.errors?.['maxlength']"
              class="p-error"
            >
              Tên kế hoạch kiểm tra quá dài
            </span>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <label class="fw-medium mb-1">Hạn nộp kế hoạch thực hiện<span class="p-error">*</span></label>
          <tui-input-date
            tuiUnfinishedValidator="Vui lòng chọn hạn nộp"
            [min]="tomorrow"
            class="tui-date"
            tuiTextfieldSize="m"
            formControlName="endDate">
          </tui-input-date>
        </div>
        <h6 class="mat-headline-6">Tài liệu công văn</h6>
        <div class="document" formGroupName="issueDocList">
          <div class="row document-item mb-4 border-top rounded py-2 mx-0" formGroupName="issueDoc_1">
            <div class="col-md-12 d-flex flex-row">
              <div class="col-md-6 pe-3">
                <label class="fw-medium mb-1">Tên tài liệu<span class="p-error">*</span></label>
                <input
                  pInputText
                  placeholder="Điền tên tài liệu"
                  formControlName="documentName"
                />
                <div
                  *ngIf="
                  documentFirstNameControls?.invalid &&
                  (documentFirstNameControls?.touched || documentFirstNameControls?.dirty)
                "
                >
                <span
                  *ngIf="documentFirstNameControls?.errors?.['whitespace'] ||documentFirstNameControls?.errors?.['required']"
                  class="p-error"
                >
                  Vui lòng điền tên tài liệu
                </span>
                  <span
                    *ngIf="documentFirstNameControls?.errors?.['maxlength']"
                    class="p-error"
                  >
                  Tên tài liệu quá dài
                </span>
                </div>
              </div>
              <div class="col-md-3 pe-3">
                <label class="fw-medium mb-1">Loại tài liệu<span class="p-error">*</span></label>
                <p-dropdown [options]="filterOptions(docTypes_select_1, selectedValue_2, selectedValue_3)"
                            placeholder="Chọn loại tài liệu"
                            (onChange)="onChange1($event)">
                </p-dropdown>
                <div
                  *ngIf="
                  documentFirstTypeControls?.invalid &&
                  (documentFirstTypeControls?.touched || documentFirstTypeControls?.dirty)
                "
                >
                <span
                  *ngIf="documentFirstTypeControls?.errors?.['required']"
                  class="p-error"
                >
                  Vui lòng chọn loại
                </span>
                </div>
              </div>
              <div class="col-md-3">
                <label class="fw-medium mb-1">Mã tài liệu<span class="p-error">*</span></label>
                <input
                  pInputText
                  placeholder="Điền mã tài liệu"
                  formControlName="documentCode"
                  (keyup)="checkDuplicateDocumentCode()"
                />
                <div
                  *ngIf="
                  documentFirstCodeControls?.invalid &&
                  (documentFirstCodeControls?.touched || documentFirstCodeControls?.dirty)
                "
                >
                <span
                  *ngIf="documentFirstCodeControls?.errors?.['required']"
                  class="p-error"
                >
                  Vui lòng điền mã
                </span>
                  <span
                    *ngIf="documentFirstCodeControls?.errors?.['duplicate']"
                    class="p-error"
                  >
                  Mã tài liệu trùng
                </span>
                  <span
                    *ngIf="documentFirstCodeControls?.errors?.['maxlength']"
                    class="p-error"
                  >
                  Mã tài liệu quá dài
                </span>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <label class="fw-medium mb-1">Tài liệu<span class="p-error">*</span></label>
              <div class="input-file">
                <input
                  type="file"
                  #fileInput_1
                  style="display: none"
                  (change)="handleFileInputChange(fileInput_1, 1)"
                />
                <input pInputText readonly class="col-md-9"
                       placeholder="{{fileInputPlaceholders[0] ? fileInputPlaceholders[0] : 'Chọn file để tải lên'}}"/>
                <button
                  type="button"
                  pButton
                  label="Chọn tệp"
                  (click)="fileInput_1.click()"
                  class="col-md-3"
                ></button>
              </div>
              <div
                *ngIf="
                  documentFirstFileControls?.invalid &&
                  (documentFirstFileControls?.touched || documentFirstFileControls?.dirty)
                "
              >
                <span
                  *ngIf="documentFirstFileControls?.errors?.['required']"
                  class="p-error"
                >
                  Vui lòng chọn tài liệu công văn
                </span>
              </div>
            </div>
          </div>
          <div class="row document-item mb-4 border-top rounded py-2 mx-0" formGroupName="issueDoc_2">
            <div class="col-md-12 d-flex flex-row">
              <div class="col-md-6 pe-3">
                <label class="fw-medium mb-1">Tên tài liệu<span class="p-error">*</span></label>
                <input
                  pInputText
                  placeholder="Điền tên tài liệu"
                  formControlName="documentName"
                />
                <div
                  *ngIf="
                  documentSecondNameControls?.invalid &&
                  (documentSecondNameControls?.touched || documentSecondNameControls?.dirty)
                "
                >
                <span
                  *ngIf="documentSecondNameControls?.errors?.['whitespace'] ||documentSecondNameControls?.errors?.['required']"
                  class="p-error"
                >
                  Vui lòng điền tên tài liệu
                </span>
                  <span
                    *ngIf="documentSecondNameControls?.errors?.['maxlength']"
                    class="p-error"
                  >
                  Tên tài liệu quá dài
                </span>
                </div>
              </div>
              <div class="col-md-3 pe-3">
                <label class="fw-medium mb-1">Loại tài liệu<span class="p-error">*</span></label>
                <p-dropdown [options]="filterOptions(docTypes_select_2, selectedValue_1, selectedValue_3)"
                            placeholder="Chọn loại tài liệu"
                            (onChange)="onChange2($event)">
                </p-dropdown>
                <div
                  *ngIf="
                  documentSecondTypeControls?.invalid &&
                  (documentSecondTypeControls?.touched || documentSecondTypeControls?.dirty)
                "
                >
                <span
                  *ngIf="documentSecondTypeControls?.errors?.['required']"
                  class="p-error"
                >
                  Vui lòng chọn loại
                </span>
                </div>
              </div>
              <div class="col-md-3">
                <label class="fw-medium mb-1">Mã tài liệu<span class="p-error">*</span></label>
                <input
                  pInputText
                  placeholder="Điền mã tài liệu"
                  formControlName="documentCode"
                  (keyup)="checkDuplicateDocumentCode()"
                />
                <div
                  *ngIf="
                  documentSecondCodeControls?.invalid &&
                  (documentSecondCodeControls?.touched || documentSecondCodeControls?.dirty)
                "
                >
                <span
                  *ngIf="documentSecondCodeControls?.errors?.['required']"
                  class="p-error"
                >
                  Vui lòng điền mã
                </span>
                  <span
                    *ngIf="documentSecondCodeControls?.errors?.['duplicate']"
                    class="p-error"
                  >
                  Mã tài liệu trùng
                </span>
                  <span
                    *ngIf="documentSecondCodeControls?.errors?.['maxlength']"
                    class="p-error"
                  >
                  Mã tài liệu quá dài
                </span>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <label class="fw-medium mb-1">Tài liệu<span class="p-error">*</span></label>
              <div class="input-file">
                <input
                  type="file"
                  #fileInput_2
                  style="display: none"
                  (change)="handleFileInputChange(fileInput_2, 2)"
                />
                <input pInputText readonly class="col-md-9"
                       placeholder="{{fileInputPlaceholders[1] ? fileInputPlaceholders[1] : 'Chọn file để tải lên'}}"/>
                <button
                  type="button"
                  pButton
                  label="Chọn tệp"
                  (click)="fileInput_2.click()"
                  class="col-md-3"
                ></button>
              </div>
              <div
                *ngIf="
                  documentSecondFileControls?.invalid &&
                  (documentSecondFileControls?.touched || documentSecondFileControls?.dirty)
                "
              >
                <span
                  *ngIf="documentSecondFileControls?.errors?.['required']"
                  class="p-error"
                >
                  Vui lòng chọn tài liệu công văn
                </span>
              </div>
            </div>
          </div>
          <div class="row document-item border-top rounded py-2 mx-0" formGroupName="issueDoc_3">
            <div class="col-md-12 d-flex flex-row">
              <div class="col-md-6 pe-3">
                <label class="fw-medium mb-1">Tên tài liệu<span class="p-error">*</span></label>
                <input
                  pInputText
                  placeholder="Điền tên tài liệu"
                  formControlName="documentName"
                />
                <div
                  *ngIf="
                  documentThirdNameControls?.invalid &&
                  (documentThirdNameControls?.touched || documentThirdNameControls?.dirty)
                "
                >
                <span
                  *ngIf="documentThirdNameControls?.errors?.['whitespace'] ||documentThirdNameControls?.errors?.['required']"
                  class="p-error"
                >
                  Vui lòng điền tên tài liệu
                </span>
                  <span
                    *ngIf="documentThirdNameControls?.errors?.['maxlength']"
                    class="p-error"
                  >
                  Tên tài liệu quá dài
                </span>
                </div>
              </div>
              <div class="col-md-3 pe-3">
                <label class="fw-medium mb-1">Loại tài liệu<span class="p-error">*</span></label>
                <p-dropdown [options]="filterOptions(docTypes_select_3, selectedValue_1, selectedValue_2)"
                            placeholder="Chọn loại tài liệu"
                            (onChange)="onChange3($event)">
                </p-dropdown>
                <div
                  *ngIf="
                  documentThirdTypeControls?.invalid &&
                  (documentThirdTypeControls?.touched || documentThirdTypeControls?.dirty)
                "
                >
                <span
                  *ngIf="documentThirdTypeControls?.errors?.['required']"
                  class="p-error"
                >
                  Vui lòng chọn loại
                </span>
                </div>
              </div>
              <div class="col-md-3">
                <label class="fw-medium mb-1">Mã tài liệu<span class="p-error">*</span></label>
                <input
                  pInputText
                  placeholder="Điền mã tài liệu"
                  formControlName="documentCode"
                  (keyup)="checkDuplicateDocumentCode()"
                />
                <div
                  *ngIf="
                  documentThirdCodeControls?.invalid &&
                  (documentThirdCodeControls?.touched || documentThirdCodeControls?.dirty)
                "
                >
                <span
                  *ngIf="documentThirdCodeControls?.errors?.['required']"
                  class="p-error"
                >
                  Vui lòng điền mã
                </span>
                  <span
                    *ngIf="documentThirdCodeControls?.errors?.['duplicate']"
                    class="p-error"
                  >
                  Mã tài liệu trùng
                </span>
                  <span
                    *ngIf="documentThirdCodeControls?.errors?.['maxlength']"
                    class="p-error"
                  >
                  Mã tài liệu quá dài
                </span>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <label class="fw-medium mb-1">Tài liệu<span class="p-error">*</span></label>
              <div class="input-file">
                <input
                  type="file"
                  #fileInput_3
                  style="display: none"
                  (change)="handleFileInputChange(fileInput_3, 3)"
                />
                <input pInputText readonly class="col-md-9"
                       placeholder="{{fileInputPlaceholders[2] ? fileInputPlaceholders[2] : 'Chọn file để tải lên'}}"/>
                <button
                  type="button"
                  pButton
                  label="Chọn tệp"
                  (click)="fileInput_3.click()"
                  class="col-md-3"
                ></button>
              </div>
              <div
                *ngIf="
                  documentThirdFileControls?.invalid &&
                  (documentThirdFileControls?.touched || documentThirdFileControls?.dirty)
                "
              >
                <span
                  *ngIf="documentThirdFileControls?.errors?.['required']"
                  class="p-error"
                >
                  Vui lòng chọn tài liệu công văn
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-start flex-column align-items-center">
        <app-issue-inspector-list
          class="w-100 h-100"
          [listEditable]="true"
          [selectedInspectors]="selectedInspectors"
          (toggleIssueListPopup)="changeInspectorVisible()"
          (resetList)="onResetList()"
          (inspectorList)="getInspectorIds($event)"
          (recreateInspectorList)="resetInspectorList()"
        >
        </app-issue-inspector-list>
        <div
          class="mt-1"
          *ngIf="issueForm.controls?.['inspectorId']?.invalid && (issueForm.controls?.['inspectorId']?.touched ||issueForm.controls?.['inspectorId']?.dirty)"
        >
          <span
            *ngIf="issueForm.controls?.['inspectorId']?.errors?.['required']"
            class="p-error"
          >
            Vui lòng chọn danh sách đoàn kiểm tra
          </span>
        </div>
      </div>
      <div class="col-md-12 mt-2 text-center save-button w-100 mb-3">
        <button class="btn text-white">Lưu kế hoạch</button>
      </div>
    </form>
  </div>
</div>




