<div class="container-fluid">
  <tui-breadcrumbs
    size="l"
  >
    <ng-container *ngFor="let item of breadCrumb">
      <a
        *tuiItem
        tuiLink
        [routerLink]="item.routerLink"
      >
        {{ item.caption }}
      </a>
    </ng-container>
  </tui-breadcrumbs>
  <h5 class="mat-headline-5 fw-medium">Tạo trường</h5>
  <form [formGroup]="saveSchoolForm" class="row">
    <div class="col-md-6">
      <h6 class="mat-headline-6 fw-medium">Thông tin trường</h6>
      <div class="col-md-10">
        <div class="mb-2">
          <label class="fw-medium mb-1"
            >Tên trường<span class="p-error">*</span></label
          >
          <input
            pInputText
            type="text"
            formControlName="schoolName"
            placeholder="(VD): Trường mầm non Ánh sao"
          />
          <span *ngIf="check('schoolName','whitespace')" class="p-error">Tên trường không được để trống</span>
          <span
            *ngIf="saveSchoolForm.get('schoolName')?.hasError('notUnique')"
            class="p-error"
            >Tên trường này đã tồn tại</span
          >
          <span
                  *ngIf="saveSchoolForm.get('schoolName')?.hasError('maxlength')"
                  class="p-error"
          >Tên trường không được vượt quá 254 ký tự</span
          >
        </div>
      </div>
      <div class="col-md-10">
        <div class="mb-2">
          <label class="fw-medium mb-1"
            >Địa chỉ<span class="p-error">*</span></label
          >
          <input
            pInputText
            type="text"
            formControlName="exactAddress"
            placeholder="(VD): Số 32, Phường A, Quận Cầu Giấy"
          />
          <span *ngIf="check('exactAddress','whitespace')" class="p-error">Địa chỉ trường không được để trống</span>

          <span
                  *ngIf="saveSchoolForm.get('exactAddress')?.hasError('maxlength')"
                  class="p-error"
          >Địa chỉ trường không được vượt quá 254 ký tự</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h6 class="mat-headline-6 fw-medium">Thông tin hiệu trưởng</h6>
      <div class="col-md-10">
        <div class="mb-2">
          <label class="fw-medium mb-1"
            >Email<span class="p-error">*</span>
          </label>
          <input
            pInputText
            type="text"
            formControlName="email"
            placeholder="(VD): nguyenvan-a@mamnon.edu.vn"
          />
          <span class="p-error" *ngIf="isBlank('email')"
            >Email hiệu trưởng không được để trống</span
          >
          <span
            class="p-error"
            *ngIf="saveSchoolForm.get('email')?.hasError('email')"
            >Sai định dạng gmail</span
          >
          <span
            class="p-error"
            *ngIf="saveSchoolForm.get('email')?.hasError('notUnique')"
          >
            Email này đã tồn tại, vui lòng chọn email khác
          </span>
        </div>
      </div>

      <div class="col-md-10">
        <div class="mb-2">
          <label class="fw-medium mb-1"
            >Tên<span class="p-error">*</span>
          </label>
          <input
            pInputText
            type="text"
            formControlName="fullName"
            placeholder="(VD): Nguyen Van A"
          />
          <span class="p-error" *ngIf="checkError('fullName', 'whitespace')">
            Tên hiệu trưởng không được để trống</span
          >
          <span
                  *ngIf="saveSchoolForm.get('fullName')?.hasError('maxlength')"
                  class="p-error"
          >Tên không được vượt quá 254 ký tự</span
          >
        </div>
      </div>

      <div class="col-md-10 row info">
        <div class="col-md-5">
          <div class="mb-2">
            <label class="fw-medium mb-1">Giới tính</label>
            <p-dropdown [options]="genders" formControlName="gender">
            </p-dropdown>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <div class="mb-2">
            <label class="fw-medium mb-1">Ngày sinh</label>
            <tui-input-date
              tuiTextfieldSize="m"
              class="tui-date"
              formControlName='dob'
              [max]="today"
              tuiUnfinishedValidator="Vui lòng điền ngày sinh (ngày sinh không thể là tương lai)"
            >
            </tui-input-date>
            <span class="p-error" *ngIf="checkError('dob', 'invalidDate')">
              Ngày sinh không thể là tương lai
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-10">
        <div class="mb-2">
          <label class="fw-medium mb-1">Số điện thoại</label>
          <input
            pInputText
            type="text"
            formControlName="phoneNumber"
            placeholder="(VD): 0123456789"
          />
          <span class="p-error" *ngIf="checkError('phoneNumber', 'pattern')">
            Sai định dạng số điện thoại
          </span>
        </div>
      </div>
    </div>
  </form>
  <div class="mt-4 col-md-12 text-center">
    <button pButton class="mb-2" (click)="confirm()" type="submit">
      Tạo trường mầm non
    </button>
  </div>
  <p-toast position="top-right" key="error"></p-toast>
  <p-confirmDialog
    key="updateConfirm"
    [style]="{ width: '50vw' }"
  ></p-confirmDialog>
  <app-loading-complete-dialog
    [visible]="isLoading"
    [completed]="submitCompleted"
    [header]="'Tạo mới trường học'"
    [progress]="'Đang tạo mới trường học'"
    [complete]="'Tạo mới trường học thành công'"
  ></app-loading-complete-dialog>
</div>
<p-toast key="toastSchoolCreate" position="top-right"></p-toast>
