@import "../../../../../../assets/scss/base";
@import "../../../../../../assets/scss/prime-custom";
:host ::ng-deep {
  .p-button {
    background-color: $primary;
    border-radius: 8px;
    border: solid 1px $primary;
    transition: all 0.5s ease;
    margin-right: 20px;
    &:hover {
      background-color: $primary-hover;
      border-color: $primary-hover;
    }
  }
}

.skeleton-button{
  border: none;
}

.non-popup{
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  border: none;
}
