<div class="container-fluid min-vh-100 outer-box d-flex justify-content-center align-items-center">
  <div class="container-fluid inner-box rounded-3 h-75">
    <div class="row">
      <div class="col py-3 pe-4 ms-5 me-4 mt-5">
        <router-outlet></router-outlet>
      </div>
      <div class="col right-inner-box rounded-3 my-4 me-4">
        <p class="fs-2 fw-bold text-white mx-3 mt-5">Hệ thống Quản lý <br> cấp Quận <br> các Trường Mầm Non</p>
        <div class="mx-3 my-5">
          <img src="assets/pictures/login.png" alt="" class="rounded w-100 h-100">
        </div>
      </div>
    </div>
  </div>
</div>
