<form [formGroup]="assignmentForm">
  <p-dialog
    [header]="action === 'update' ? 'Cập nhật công việc' : 'Tạo mới công việc'"
    [(visible)]="assignmentVisible"
    [style]="{ width: '1400px' }"
    [draggable]="false"
    [resizable]="false"
    (onHide)="assignmentPopuptHideEvent()"
  >
    <div *ngIf="selectedAssignment && action == 'addchild'" class="mb-2">
      <label class="mb-1 fw-medium">Thuộc</label>
      <br />
      <span class="text-black-50">{{ selectedAssignment.assignmentName }}</span>
    </div>
    <div class="mb-2">
      <label class="mb-1 fw-medium"
        >Tên công việc<span class="p-error">*</span></label
      >
      <br />
      <input
        class="mb-1"
        pInputText
        type="text"
        formControlName="assignmentName"
        placeholder="Điền tên công việc"
      />
      <div
        *ngIf="assignmentForm.controls?.['assignmentName']?.invalid && (assignmentForm.controls?.['assignmentName']?.touched || assignmentForm.controls?.['assignmentName']?.dirty)"
      >
        <span
          *ngIf="assignmentForm.controls?.['assignmentName']?.errors?.['required'] || assignmentForm.controls?.['assignmentName']?.errors?.['whitespace']"
          class="p-error"
        >
          Vui lòng điền tên công việc
        </span>
        <span
          *ngIf="assignmentForm.controls?.['assignmentName']?.errors?.['maxlength']"
          class="p-error"
        >
          Tên công việc quá dài
        </span>
      </div>
    </div>
    <div class="mb-5">
      <label class="fw-medium mb-1">Mô tả chi tiết</label>
      <br />
      <textarea
        class="mb-1"
        rows="5"
        pInputTextarea
        formControlName="description"
        placeholder="Điền chi tiết công việc"
      ></textarea>
      <div
        *ngIf="assignmentForm.controls?.['description']?.invalid && (assignmentForm.controls?.['description']?.touched || assignmentForm.controls?.['description']?.dirty)"
      >
        <span
          *ngIf="assignmentForm.controls?.['description']?.errors?.['required'] || assignmentForm.controls?.['description']?.errors?.['whitespace']"
          class="p-error"
        >
          Vui lòng điền chi tiết công việc
        </span>
        <span
          *ngIf="assignmentForm.controls?.['description']?.errors?.['maxlength']"
          class="p-error"
        >
          Chi tiết công việc quá dài
        </span>
      </div>
    </div>
    <!-- <div class="mb-5">
      <span class="mb-1">Hạn nộp</span><br />
      <input pInputText type="date" formControlName="deadline" />
    </div> -->
    <button *ngIf="action == 'update'" pButton (click)="update()">
      Cập nhật
    </button>
    <button
      *ngIf="action == 'addroot' || action == 'addchild'"
      pButton
      (click)="add()"
    >
      Thêm mới
    </button>
  </p-dialog>
  <p-toast></p-toast>
  <p-confirmDialog
    [style]="{ width: '50vw' }"
    acceptLabel="Đồng ý"
    rejectLabel="Hủy"
    key="confirm"
  ></p-confirmDialog>
  <h5 class="mat-headline-5 fw-medium">
    Tạo mẫu công việc cho các trường mầm non
  </h5>
  <div class="card">
    <p-treeTable
      [value]="assignments"
      [scrollable]="true"
      [style]="{ 'min-width': '50rem' }"
      [scrollable]="true"
      scrollHeight="600px"
    >
      <ng-template pTemplate="caption">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <h6 class="mat-headline-6">Danh sách công việc</h6>
          </div>
          <div>
<!--            <button-->
<!--              [disabled]="assignments.length != 0 || issueNotFound"-->
<!--              pButton-->
<!--              (click)="openDetail(null, 'addroot')"-->
<!--            >-->
<!--              Tạo mới-->
<!--            </button>-->
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Công việc</th>
          <!-- <th>Người tạo</th>
      <th>Hạn nộp</th> -->
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowNode>
        <tr [ttRow]="rowNode" class="d-flex justify-content-between row-node">
          <td class="folder">
            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            <i class="bi bi-folder-fill"></i>
            {{ rowData.node.assignmentName }}
          </td>
          <!-- <td>{{ rowData.node.assigner.user.fullName }}</td> -->
          <!-- <td>{{ rowData.node.deadline | date : "dd/MM/yyyy" }}</td> -->
          <ng-container>
            <td class="d-flex">
              <div
                class="action-item d-flex justify-content-center align-items-center mx-2"
                (click)="openDetail(rowData.node, 'addchild')"
                pTooltip="Tạo"
                tooltipPosition="top"
              >
                <i class="bi bi-plus-circle-fill"></i>
              </div>
              <div
                class="action-item d-flex justify-content-center align-items-center mx-2"
                (click)="openDetail(rowData.node, 'update')"
                pTooltip="Chỉnh sửa"
                tooltipPosition="top"
              >
                <i class="bi bi-pencil-fill"></i>
              </div>
              <div
                class="action-item d-flex justify-content-center align-items-center mx-2"
                (click)="deleteNode(rowData.node)"
                pTooltip="Xóa"
                tooltipPosition="top"
              >
                <i class="bi bi-x-circle-fill"></i>
              </div>
            </td>
          </ng-container>
          <ng-template #td>
            <td></td>
          </ng-template>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="p-2">
          <button [disabled]="assignments.length == 0 || issueNotFound" pButton (click)="sendToSchools()">Gửi template</button>
        </div>
      </ng-template>
    </p-treeTable>
  </div>
</form>
