@import "../../../../../assets/scss/base";
.p-button {
    background-color: $primary;
    border-radius: 8px;
    border: solid 1px $primary;
    transition: all 0.5s ease;
    margin-right: 20px;
    &:hover {
        background-color: $primary-hover;
        border-color: $primary-hover;
    }
}
.p-inputtext,
.p-inputtextarea {
    border-radius: 8px;
    width: 100%;
}
.action-item {
    width: 50px;
    height: 50px;
    background-color: $primary;
    border-color: $primary;
    border-radius: 50%;
    font-size: 20px;
    &:hover {
        background-color: $primary-hover;
        border-color: $primary-hover;
    }
    i {
        color: #fff;
        align-items: center;
    }
}
.folder {
    i {
        color: rgb(255, 196, 0);
    }
}
:host ::ng-deep {
    .p-button {
        background-color: $primary;
        border-radius: 8px;
        border: solid 1px $primary;
        transition: all 0.5s ease;
        margin-right: 20px;
        &:hover {
            background-color: $primary-hover;
            border-color: $primary-hover;
        }
    }
}
