<div class="container-fluid mt-2 mb-1">
  <h5 class="mat-headline-5 mb-2">Chi tiết quyết định kiểm tra</h5>
  <div class="row">
    <div class="row" *ngIf="inspection">
      <div class="form-content col-md-8 d-flex flex-column justify-content-between">
        <div class="row mb-2">
          <div class="col-md-9">
            <div class="inspection-plan-name">
              <label class="span-heading-color mb-2">Tên phiên kiểm tra</label>
              <p class="fw-medium">{{inspection.inspectionName}}</p>
            </div>
          </div>
          <div class="col-md-3">
            <label  class="span-heading-color mb-2">Ngày bắt đầu</label>
            <p class="fw-medium">{{inspection.startDate | date: "dd/MM/yyyy"}}</p>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-9">
            <div class="inspection-plan-name mb-2">
              <label class="span-heading-color mb-2">Tên trường</label>
              <p class="fw-medium">{{inspection.schoolName}}</p>
            </div>
          </div>
          <div class="col-md-3">
            <label class="span-heading-color mb-2">Ngày kết thúc</label>
            <p class="fw-medium">{{inspection.endDate | date: "dd/MM/yyyy"}}</p>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-3">
            <label class="span-heading-color mb-2 w-100">Trạng thái</label>
            <p-tag
              class="status"
              [severity]="getStatusSeverity(inspection.statusName)"
              [rounded]="true"
            >
              {{ inspection.statusName }}
            </p-tag>
          </div>
        </div>
        <h6 class="mat-headline-6 mb-1">Tài liệu công văn</h6>
        <p-tabMenu [model]="tabs" [activeItem]="activeTab" class="mb-2"></p-tabMenu>
        <div class="file-item-container">
          <div *ngIf="issueDocumentVisibility" class="h-100">
            <div *ngFor="let doc of inspection.issueDocuments; let i = index" class="mt-2">
              <app-file-item [document]="inspection.issueDocuments[i]"></app-file-item>
            </div>
          </div>
          <div *ngIf="initiationDocumentVisibility">
            <app-file-item [document]="inspection.iniDocument"></app-file-item>
          </div>
          <div *ngIf="inspectionPlanDocumentVisibility">
            <app-file-item [document]="inspection.inspectionPlanDocument"></app-file-item>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center h-100">
        <app-inspection-plan-inspector-list
          class="w-100 h-100"
          [screen]="issueDocumentVisibility ? 'inspection-information' : 'detail'"
          [listEditable]="false"
          [selectedInspectors]="inspection.inspectorDtos">
        </app-inspection-plan-inspector-list>
      </div>
    </div>
  </div>
</div>

