@import "../../../../../assets/scss/base";

* {
  font-size: 16px;
}

:host ::ng-deep .p-tabmenu-nav {
  .p-menuitem {
    text-decoration: none;
    color: $primary;
  }

  .p-menuitem-text {
    color: $primary;
  }

  .p-highlight {
    a {
      border-bottom-color: $primary;
    }
  }
}
