<div class="sticky-top sidebar-content d-flex flex-column justify-content-between h-100 w-100 fixed-sidebar">
  <div class="sidebar-content-top">
    <div class="logo mt-2 mb-3">
      <div class="sidebar-logo">
        <img src="../../../assets/img/PGD-logo.svg" />
      </div>
    </div>
    <div>
      <ul>
        <li
          class="p-2 rounded"
          routerLinkActive="active"
        >
          <a routerLink="" [routerLink]="['/dashboard']" *ngIf="!isAdmin">
            <div>
              <i class="bi bi-bar-chart"></i>
              &nbsp; Trang chủ
            </div>
          </a>
        </li>
        <li
          class="p-2 rounded"
          routerLinkActive="active"
          *ngIf="isPrincipal || isDirector || isSchoolNormalEmp"
        >
          <a class="" [routerLink]="['/issue']">
            <div>
              <i class="bi bi-list-check"></i>
              &nbsp; Kế hoạch kiểm tra
            </div>
          </a>
        </li>
        <li
          class="p-2 rounded"
          routerLinkActive="active"
          *ngIf="isDirector || isPrincipal"
        >
          <a class="" [routerLink]="['/schoolinitiationplan']">
            <div>
              <i class="bi bi-clock"></i>
              &nbsp; Kế hoạch thực hiện
            </div>
          </a>
        </li>
        <li
          class="p-2 rounded"
          routerLinkActive="active"
          *ngIf="isPrincipal || isDirector"
        >
          <a class="" [routerLink]="['/inspection_plan']">
            <div>
              <i class="bi bi-file-earmark-person"></i>
              &nbsp; Thanh tra
            </div>
          </a>
        </li>
        <li
          class="p-2 rounded"
          routerLinkActive="active"

        >
          <a class="" [routerLink]="['/guidanceDocument']" *ngIf="!isAdmin">
            <div>
              <i class="bi bi-clipboard2-check"></i>
              &nbsp; Văn bản bổ sung
            </div>
          </a>
        </li>
        <li class="p-2 rounded" routerLinkActive="active" *ngIf="isDirector">
          <a class="" [routerLink]="['/createtemplate']">
            <div>
              <i class="bi bi-folder-plus"></i>
              &nbsp; Tạo template
            </div>
          </a>
        </li>
        <li
          class="p-2 rounded"
          routerLinkActive="active"
          *ngIf="isPrincipal || isSchoolNormalEmp"
        >
          <a class="" [routerLink]="['/assignassignment/' + issueId]">
            <div>
              <i class="bi bi-list-check"></i>
              &nbsp; Danh sách công việc
            </div>
          </a>
        </li>
        <li
          class="p-2 rounded"
          routerLinkActive="active"
          *ngIf="isDirector || isPrincipal || isSchoolNormalEmp"
        >
          <a class="" [routerLink]="['/listAssignment']">
            <div>
              <i class="bi bi-list-check"></i>
              &nbsp; Hồ sơ các năm
            </div>
          </a>
        </li>
        <li
          class="p-2 rounded"
          routerLinkActive="active"
          *ngIf="isDirector || isAdmin || isViceDirector || isSpecialist "
        >
          <a class="" [routerLink]="['/schoolList']">
            <div>
              <i class="bi bi-building"></i>
              &nbsp; Danh sách trường
            </div>
          </a>
        </li>
        <li class="p-2 rounded" routerLinkActive="active" *ngIf="isPrincipal || isSchoolNormalEmp">
          <a class="" [routerLink]="['/school/'] + schoolId">
            <div>
              <i class="bi bi-building"></i>
              &nbsp; Đơn vị hiện tại
            </div>
          </a>
        </li>

        <li
          class="p-2 rounded"
          routerLinkActive="active"
          *ngIf="isPrincipal || isDirector || isAdmin"
        >
          <a class="" [routerLink]="['/userList']">
            <div>
              <i class="bi bi-people"></i>
              &nbsp; Danh sách người dùng
            </div>
          </a>
        </li>




        <!-- <li class="p-2 rounded" routerLinkActive="active" *ngIf="isPrincipal">
          <a class="" [routerLink]="['/submitassignment']">
            <div>
              <i class="bi bi-folder-plus"></i>
              &nbsp; Nộp tài liệu
            </div>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
  <div>
    <ul>
      <li class="p-2 rounded">
        <a class="" (click)="logout()">
          <div>
            <i class="bi bi-box-arrow-left"></i>
            &nbsp; Đăng xuất
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
