<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">

<h4>Danh sách kế hoạch thanh tra</h4>

<p-toast key="error" position="top-right"></p-toast>
<div class="row mt-4">
  <div class="form-group col-md-7" *ngIf="!advanceSearch">
    <input type="text"
           name="globalSearch"
           id="globalSearch"
           class="form-control small-input fontAwesome mb-3"
           [(ngModel)]="planName"
           (keyup)="loadDocuments()"
           placeholder="&#xF002; Tra cứu nhanh theo tên kế hoạch"
    >
  </div>
  <div *ngIf="advanceSearch" class="col-md-10">
    <p-dropdown [options]="issueDropDowns"
                [(ngModel)]="currentIssueSelected"
                optionLabel="issueName" [filter]="true"
                filterBy="issueName"
                [showClear]="true"
                placeholder="Chọn 1 kế hoạch kiểm tra"
                (onChange)="loadDocuments()"
    >
      <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2" *ngIf="currentIssueSelected">
          <div>{{ currentIssueSelected.issueName }}</div>
        </div>
      </ng-template>
      <ng-template let-issue pTemplate="item">
        <div class="flex align-items-center gap-2">
          <div>{{ issue.issueName }}</div>
        </div>
      </ng-template>
    </p-dropdown>
    <p-dropdown [options]="schools"
                [(ngModel)]="selectedSchool"
                optionLabel="schoolName" [filter]="true"
                filterBy="schoolName"
                [showClear]="true"
                placeholder="Chọn 1 trường"
                (onChange)="loadDocuments()"

    >
      <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2" *ngIf="selectedSchool">
          <div>{{ selectedSchool.schoolName }}</div>
        </div>
      </ng-template>
      <ng-template let-school pTemplate="item">
        <div class="flex align-items-center gap-2">
          <div>{{ school.schoolName }}</div>
        </div>
      </ng-template>
    </p-dropdown>
    <p-dropdown
      placeholder="Chọn 1 trạng thái"
      [options]="statuses"
      [(ngModel)]="selectedStatus"
      [showClear]="true"
      (onChange)="loadDocuments()"

    ></p-dropdown>
    <div class="row mt-3">

      <div class="col-md-5">
        <label>Tên kế hoạch</label>
        <input class="form-control"
               [(ngModel)]="planName"
               name="planName"
               id="planName"
               (keyup)="loadDocuments()"
               placeholder="(VD): Kế hoạch của Trường Mầm Non Ánh Sao"
        >
      </div>
      <div class="col-md-3">
        <label>Ngày khởi tạo bắt đầu</label>
        <input class="form-control"
               [(ngModel)]="creationStartDateTime"
               name="startDateTime"
               id="startDateTime"
               type="date"
               (change)="loadDocuments()"

        >
      </div>
      <div class="col-md-3">
        <label>Ngày khởi tạo kết thúc</label>
        <input class="form-control"
               [(ngModel)]="creationEndDateTime"
               name="endDateTime"
               id="endDateTime"
               type="date"
               (change)="loadDocuments()"

        >
        <span class="p-error" *ngIf="creationDateError">Ngày kết thúc không thể nhỏ hơn ngày bắt đầu</span>

      </div>
      <div class="col-md-5">

      </div>
      <div class="col-md-3">

        <label>Ngày deadline bắt đầu</label>
        <input class="form-control"
               [(ngModel)]="deadlineStartDateTime"
               type="date"
               (change)="loadDocuments()"

        >
      </div>
      <div class="col-md-3">
        <label>Ngày deadline kết thúc</label>
        <input class="form-control"
               [(ngModel)]="deadlineEndDateTime"
               type="date"
               (change)="loadDocuments()"

        >
        <span class="p-error" *ngIf="deadlineDateError">Ngày kết thúc không thể nhỏ hơn ngày bắt đầu</span>

      </div>

    </div>
  </div>
  <div class="col-md-2">
    <button (click)="onAdvanceSearch()" class="btn btn-primary">{{advanceSearchButtonText}}</button>
  </div>
</div>
