<div class="container-fluid">
  <tui-breadcrumbs size="l">
    <ng-container *ngFor="let item of breadCrumb">
      <a *tuiItem tuiLink [routerLink]="item.routerLink">
        {{ item.caption }}
      </a>
    </ng-container>
  </tui-breadcrumbs>
  <h5 class="mat-headline-5 fw-medium">Cập nhật trường</h5>
  <form [formGroup]="updateForm" class="row">
    <div class="col-md-6" *ngIf="school">
      <label class="fw-medium p-content-fs mb-4">Thông tin trường</label>
      <div class="mb-3">
        <label class="fw-medium mb-1"
          >Tên trường<span class="p-error">*</span></label
        >
        <br />
        <input pInputText type="text" formControlName="schoolName" />
        <span *ngIf="check('schoolName', 'whitespace')" class="p-error"
          >Không được để trống mục này</span
        >
        <span
          *ngIf="updateForm.get('schoolName')?.hasError('notUnique')"
          class="p-error"
          >Tên trường này đã tồn tại</span
        >
      </div>
      <div class="mb-3">
        <label class="fw-medium mb-1"
          >Địa chỉ<span class="p-error">*</span></label
        >
        <br />
        <input pInputText type="text" formControlName="address" />
        <span *ngIf="check('address', 'whitespace')" class="p-error"
          >Không được để trống mục này</span
        >
      </div>
      <div class="mb-3">
        <label class="fw-medium mb-1"
          >Trạng thái <span class="p-error">*</span></label
        >
        <p-dropdown [options]="isActive" formControlName="isActive">
        </p-dropdown>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <button pButton type="submit" (click)="confirm()">Cập nhật</button>
      </div>

      <!--        <button class="m-3 btn btn-primary" (click)="onBack()" >Quay lại</button>-->
    </div>
    <div class="col-md-6">
      <div>
        <div class="d-flex justify-content-start">
          <label class="fw-medium p-content-fs">Thông tin hiệu trưởng</label>

          <!-- <i
            [ngClass]="
              isUpdatePrincipalEmail ? 'icon bi bi-x' : 'icon bi bi-pencil-fill'
            "
          ></i> -->
        </div>
      </div>

      <ng-container>
        <ng-container *ngIf="!principal">
          <div class="mb-4">
            <div class="m-3">
              <p class="text-black-50">Email</p>
            </div>
            <div class="m-3">
              <p class="font-weight-bold">Chưa có hiệu trưởng</p>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="principal">
          <div class="row d-flex justify-content-center align-items-center">
            <tui-avatar
              text="{{ this.avatar }}"
              [rounded]="true"
              [autoColor]="true"
              [size]="'xl'"
            ></tui-avatar>
          </div>
          <div class="my-4">
            <div class="row mb-3">
              <div class="col-md-3"></div>
              <div class="col-md-3">
                <label class="fw-medium p-content-fs">Tên</label>
              </div>
              <div class="col-md-6">
                <span class="p-content-fs">{{ principal.user?.fullName }}</span>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-3"></div>
              <div class="col-md-3">
                <label class="fw-medium p-content-fs">Email</label>
              </div>
              <div class="col-md-6">
                <span class="p-content-fs">{{ principal.email }}</span>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-3"></div>
              <div class="col-md-3">
                <label class="fw-medium p-content-fs">Giới tính</label>
              </div>
              <div class="col-md-6">
                <span class="p-content-fs">{{
                  principal.user?.gender == "MALE" ? "Nam" : "Nữ"
                }}</span>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-3"></div>
              <div class="col-md-3">
                <label class="fw-medium p-content-fs">Ngày sinh</label>
              </div>
              <div class="col-md-6">
                <span class="p-content-fs">{{
                  principal.user?.dob == null
                    ? "Chưa nhập ngày sinh"
                    : principal.user?.dob
                }}</span>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-3"></div>
              <div class="col-md-3">
                <label class="fw-medium p-content-fs">Số điện thoại</label>
              </div>
              <div class="col-md-6">
                <span class="p-content-fs">{{
                  principal.user?.dob == null
                    ? "Chưa nhập ngày sinh"
                    : principal.user?.dob
                }}</span>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <div class="d-flex justify-content-center align-items-center">
        <button pButton (click)="showDialog()">Thay thế hiệu trưởng</button>
      </div>
    </div>

    <p-dialog
      header="Thay thế hiệu trưởng"
      [(visible)]="visible"
      [modal]="true"
      [style]="{ width: '50vw' }"
      [draggable]="false"
      [resizable]="false"
      (onHide)="reset()"
    >
      <ng-container>
        <div class="col-md-10">
          <div class="m-3">
            <label>Email<span class="p-error">*</span></label>
          </div>
          <div class="m-3">
            <input
              class="form-control"
              type="text"
              formControlName="principalEmail"
              placeholder="(VD): nguyenvan-a@mamnon.edu.vn"
            />
            <span class="p-error" *ngIf="isBlank('principalEmail')"
              >Không được để trống email của hiệu trưởng</span
            >
            <span
              class="p-error"
              *ngIf="updateForm.get('principalEmail')?.hasError('email')"
              >Sai định dạng gmail</span
            >
            <span
              class="p-error"
              *ngIf="updateForm.get('principalEmail')?.hasError('notUnique')"
            >
              Email này đã tồn tại vui lòng chọn email khác
            </span>
          </div>
        </div>

        <div class="col-md-10">
          <div class="m-3">
            <label>Tên<span class="p-error">*</span></label>
          </div>
          <div class="m-3">
            <input
              class="form-control"
              type="text"
              formControlName="fullName"
              placeholder="(VD): Nguyen Van A"
            />
            <span class="p-error" *ngIf="check('fullName', 'whitespace')">
              Không được để trống tên</span
            >
          </div>
        </div>

        <div class="col-md-10">
          <div class="m-3">
            <label>Giới tính</label>
          </div>
          <div class="m-3">
            <p-dropdown [options]="genders" formControlName="gender">
            </p-dropdown>
          </div>
        </div>

        <div class="col-md-10">
          <div class="m-3">
            <label>Ngày sinh</label>
          </div>
          <div class="m-3">
            <input class="form-control" type="date" formControlName="dob" />
            <span class="p-error" *ngIf="check('dob', 'invalidDate')">
              Ngày sinh không thể là tương lai
            </span>
          </div>
        </div>

        <div class="col-md-10">
          <div class="m-3">
            <label>Số điện thoại</label>
          </div>
          <div class="m-3">
            <input
              class="form-control"
              type="text"
              formControlName="phoneNumber"
              placeholder="(VD): 0123456789"
            />
            <span class="p-error" *ngIf="check('phoneNumber', 'pattern')">
              Sai định dạng số điện thoại
            </span>
          </div>
        </div>
        <button class="m-3 btn btn-primary" (click)="onSubmitPrincipal()">
          Cập nhật hiệu trưởng
        </button>
      </ng-container>
    </p-dialog>
  </form>
  <p-toast position="top-right" key="error"></p-toast>
  <p-confirmDialog
    key="updateSchoolConfirm"
    [style]="{ width: '50vw' }"
  ></p-confirmDialog>

  <app-loading-complete-dialog
    [visible]="isLoading"
    [completed]="submitCompleted"
    [header]="'Cập nhật trường học'"
    [progress]="'Đang cập nhật trường học'"
    [complete]="'Cập nhật trường học thành công'"
  ></app-loading-complete-dialog>
</div>
