<div class="container-fluid">
  <!-- confirm and message -->
  <p-toast></p-toast>
  <p-confirmDialog
    [style]="{ width: '50vw' }"
    acceptLabel="Đồng ý"
    rejectLabel="Hủy"
    key="confirmAssignment"
  ></p-confirmDialog>
  <app-file-loading
    [visible]="isFileLoading"
    [progress]="''"
  ></app-file-loading>
  <!-- file preview -->
  <p-dialog
    [(visible)]="pdfLoaded"
    [style]="{ width: '80vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <ngx-doc-viewer [url]="fileUrl"></ngx-doc-viewer>
    <div *ngIf="documentContent">
      <div [innerHTML]="documentContent"></div>
    </div>
    <!-- app.component.html -->
    <!-- <app-document-viewer></app-document-viewer> -->

    <!-- <div *ngIf="pdfLoaded">
    <iframe [src]="safePdfUrl" width="100%" height="500px"></iframe>
  </div> -->
  </p-dialog>
  <!-- menu -->
  <p-menu
    #menu
    [model]="items"
    [popup]="true"
    [style.display]="menuVisible ? 'block' : 'none'"
  >
  </p-menu>
  <!-- popup file upload -->
  <p-dialog
    header="Tải file"
    [(visible)]="fileVisible"
    [style]="{ width: '40vw', height: '500px' }"
    [draggable]="false"
    [resizable]="false"
  >
    <form [formGroup]="fileInputForm">
      <div class="row">
        <div>
          <label class="fw-medium mb-1"
            >Mã tài liệu<span class="p-error">*</span></label
          >
          <br />
          <input
            formControlName="documentCode"
            class="form-control"
            type="text"
            placeholder="Điền mã tài liệu"
          />
          <br />
        </div>
        <div>
          <label class="fw-medium mb-1"
            >Tên tài liệu<span class="p-error">*</span></label
          >
          <br />
          <input
            formControlName="documentName"
            class="form-control"
            type="text"
            placeholder="Điền tên tài liệu"
          />
          <br />
          <span
            *ngIf="fileInputForm.get('documentName')?.dirty && fileInputForm.controls.documentName.errors?.['whitespace']"
            class="p-error"
            >Vui lòng điền tên tài liệu</span
          >
        </div>
        <div class="file-input">
          <label class="fw-medium mb-1"
            >Tệp tài liệu<span class="p-error">*</span></label
          >
          <br />
          <input
            type="file"
            #fileInput
            style="display: none"
            (change)="handleFileInputChange(fileInput)"
          />
          <input
            pInputText
            readonly
            class="col-md-9"
            placeholder="{{
              fileInputPlaceholders
                ? fileInputPlaceholders
                : 'Chọn file để tải lên'
            }}"
          />
          <button
            type="button"
            pButton
            label="Chọn tệp"
            (click)="fileInput.click()"
          ></button>
        </div>
        <div class="mt-3">
          <button
            pButton
            (click)="uploadFiles()"
            [disabled]="fileInputForm.get('file')?.value == '' || fileInputForm.controls.documentName.errors?.['whitespace'] "
          >
            Nộp tài liệu
          </button>
        </div>
      </div>
    </form>
  </p-dialog>
  <form [formGroup]="assignmentForm">
    <!-- Popup detail/update -->
    <p-dialog
      [header]="
        action === 'update' ? 'Cập nhật công việc' : 'Chi tiết công việc'
      "
      [(visible)]="detailVisible"
      [style]="{ width: '70vw', height: '1080px' }"
      [draggable]="false"
      [resizable]="false"
      (onHide)="assignmentPopuptHideEvent()"
    >
      <div *ngIf="selectedAssignment" class="row assignment-container">
        <div class="col-md-8 left-box">
          <ng-container
            *ngIf="
              action === 'update' &&
                hasAuthority('canModifyFolderAsmMetaData') &&
                !selectedAssignment.template;
              else cannotEdit
            "
          >
            <div class="height-100">
              <label class="span-heading-color mb-1">Tên công việc</label>
              <br />
              <input
                *ngIf="
                  action === 'update' &&
                  hasAuthority('canModifyFolderAsmMetaData') &&
                  !selectedAssignment.template
                "
                pInputText
                type="text"
                formControlName="assignmentName"
              />
            </div>
            <div class="height-100">
              <label class="span-heading-color mb-1">Chi tiết công việc</label>
              <br />
              <textarea pInputTextarea formControlName="description"></textarea>
            </div>
          </ng-container>
          <ng-template #cannotEdit>
            <div class="height-100">
              <span class="span-heading-color">Tên công việc</span>
              <br />
              <span class="font-weight-bold mt-1">{{
                selectedAssignment.assignmentName
              }}</span>
            </div>
            <div class="height-100">
              <label class="span-heading-color mb-1">Chi tiết công việc</label>
              <br />
              <span class="fw-medium">{{
                selectedAssignment.description
              }}</span>
            </div>
          </ng-template>

          <div class="height-100">
            <label class="span-heading-color mb-1">Hạn nộp</label>
            <br />
            <span
              *ngIf="
                action === 'info' ||
                (action === 'update' &&
                  !hasAuthority('canModifyFolderAsmMetaData'))
              "
              class="fw-medium"
              >{{
                selectedAssignment.deadline
                  ? (selectedAssignment.deadline | date : "dd/MM/yyyy")
                  : "Chưa có hạn nộp"
              }}</span
            >
            <input
              pInputText
              *ngIf="
                action === 'update' &&
                hasAuthority('canModifyFolderAsmMetaData')
              "
              type="date"
              formControlName="deadline"
            />
          </div>
          <div
            *ngIf="
              action === 'update' && hasAuthority('canModifyFolderAsmMetaData')
            "
          >
            <div class="mt-3">
              <button pButton label="Lưu" (click)="update()"></button>
            </div>
          </div>

          <!-- file -->
          <div
            class="mt-2"
            *ngIf="selectedAssignment.task && action === 'info'"
          >
            <ng-container
              *ngIf="
                hasAuthority('canUploadDocument') ||
                  hasAuthority('canDeleteDocument');
                else fileTemplate
              "
            >
              <div>
                <div class="d-flex justify-content-between">
                  <div>
                    <label class="fw-medium mb-1">Tài liệu</label>
                  </div>
                  <div
                    class="add-file-item d-flex align-items-center justify-content-center"
                    (click)="showFilePopup()"
                  >
                    <i class="bi bi-plus-circle-fill"></i>
                  </div>
                </div>
                <ng-container *ngIf="hasAuthority('canSubmit')">
                  <ng-container
                    *ngFor="
                      let item of selectedAssignment.documents;
                      let i = index
                    "
                  >
                    <div class="row mb-3">
                      <div class="col-md-11">
                        <!-- <div (click)="openNewTab(item.documentLink)"> -->
                        <div
                          (click)="
                            previewFile(item.documentLink, item.fileExtension)
                          "
                        >
                          <div class="file-item px-3 py-1 row">
                            <div
                              class="col-md-2 file-item-icon ml-5 d-flex justify-content-center align-items-center"
                            >
                              <img
                                [src]="getIconFileType(item.fileExtension)"
                                alt=""
                              />
                            </div>
                            <div class="col-md-10 file-item-content">
                              <div class="row ms-2">
                                <div class="col-md-9">
                                  <span class="font-weight-bold font-size-18">{{
                                    item.documentName
                                  }}</span>
                                  <br />
                                  <span
                                    ><span class="font-weight-bold">Mã:</span>
                                    {{ item.documentCode }}</span
                                  >
                                </div>
                                <div class="col-md-3">
                                  <span class="text-black-50">{{
                                    item.sizeFormat || item.file.size
                                  }}</span>
                                  <br />
                                  <span class="text-black-50">{{
                                    item.uploadedDate | date : "MM/dd/yyyy"
                                  }}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="col-md-1 d-flex justify-content-center align-items-center delete-file-item"
                        (click)="removeDoc(i, item.documentId)"
                      >
                        <i class="bi bi-x-lg"></i>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container
                    *ngIf="
                      selectedAssignment.documents.length != 0 &&
                      hasAuthority('canSubmit')
                    "
                  >
                    <button pButton (click)="submit()">Xác nhận nộp</button>
                  </ng-container>
                </ng-container>
              </div>
            </ng-container>
            <ng-template #fileTemplate>
              <div>
                <div class="d-flex justify-content-between">
                  <div class="mb-1">
                    <span class="text-black-50">Tài liệu</span>
                  </div>
                </div>
                <!-- <br /> -->
                <div *ngIf="selectedAssignment.documents.length == 0">
                  <span class="font-weight-bold"
                    >Hiện tại chưa có tài liệu</span
                  >
                </div>
                <div *ngIf="selectedAssignment.documents.length > 0">
                  <ng-container
                    *ngFor="
                      let item of selectedAssignment.documents;
                      let i = index
                    "
                  >
                    <div class="row mb-3">
                      <div
                        (click)="
                          previewFile(item.documentLink, item.fileExtension)
                        "
                      >
                        <div class="file-item px-3 py-1 row">
                          <div
                            class="col-md-1 file-item-icon ml-5 d-flex justify-content-center align-items-center"
                          >
                            <img
                              [src]="getIconFileType(item.fileExtension)"
                              alt=""
                            />
                          </div>
                          <div class="col-md-11 file-item-content">
                            <div class="row ms-2">
                              <div class="col-md-8">
                                <span class="font-weight-bold font-size-18"
                                  >{{ item.documentName }}.{{
                                    getFileExtension(item.fileExtension)
                                  }}</span
                                >
                                <br />
                                <span
                                  ><span class="font-weight-bold">Mã:</span>
                                  {{ item.documentCode }}</span
                                >
                              </div>
                              <div class="col-md-4">
                                <span class="text-black-50">{{
                                  item.sizeFormat || item.file.size
                                }}</span>
                                <br />
                                <span class="text-black-50">{{
                                  item.uploadedDate | date : "MM/dd/yyyy"
                                }}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <ng-container
                  *ngIf="
                    selectedAssignment.documents.length != 0 &&
                    hasAuthority('canUnSubmit') &&
                    action === 'info'
                  "
                >
                  <button pButton (click)="cancel()">Hủy</button>
                </ng-container>
              </div>
            </ng-template>
          </div>
          <div
            class="mt-2"
            *ngIf="
              !selectedAssignment.task &&
              selectedAssignment.children.length > 0 &&
              action === 'info'
            "
          >
            <label class="fw-medium">Danh sách công việc con</label>
            <ul class="mt-1" *ngFor="let item of selectedAssignment.children">
              <div
                class="row children d-flex justify-content-center align-items-center"
              >
                <div class="col-md-1">
                  <ng-container *ngIf="item.task">
                    <i class="bi bi-file-earmark-check-fill file-icon"></i>
                  </ng-container>
                  <ng-container *ngIf="!item.task">
                    <i class="bi bi-file-earmark-text file-icon"></i>
                  </ng-container>
                </div>
                <div class="col-md-7">
                  {{ item.assignmentName }}
                </div>
                <div class="col-md-4">
                  <p-tag
                    [rounded]="true"
                    [severity]="getStatusSeverity(item.status.statusId)"
                  >
                    {{ item.status.statusName }}
                  </p-tag>
                </div>
              </div>
            </ul>
          </div>

          <!-- comment and history -->
          <ng-container *ngIf="action === 'info'">
            <p-tabMenu [model]="tabs" [activeItem]="activeTab"></p-tabMenu>
            <!-- <div class="tab mt-5">
            <button
              pButton
              (click)="showComment = true"
              [ngClass]="{ active: showComment }"
            >
              Bình luận
            </button>
            <button
              pButton
              (click)="showComment = false"
              [ngClass]="{ active: !showComment }"
            >
              Lịch sử
            </button>
          </div> -->
            <ng-container *ngIf="showComment; else showHistory">
              <div class="height-100">
                <br />
                <form [formGroup]="commentForm">
                  <div class="comment d-flex">
                    <input
                      formControlName="content"
                      pInputText
                      type="text"
                      placeholder="Gửi bình luận"
                      (keydown)="onKeyPress($event)"
                    />
                    <div
                      class="d-flex justify-content-center align-items-center p-2"
                      (click)="sendComment()"
                    >
                      <i class="bi bi-send"></i>
                    </div>
                  </div>
                </form>
              </div>
              <div *ngIf="comments" class="comment-content pt-2">
                <div
                  *ngFor="let item of comments"
                  class="comment-item row mb-1"
                >
                  <div
                    class="comment-item-person col-md-1 d-flex justify-content-center align-items-center"
                  >
                    <img
                      src="../../../../../../assets/img/user_icon.svg"
                      alt=""
                    />
                  </div>
                  <div class="comment-item-content col-md-10">
                    <span class="font-weight-bold font-size-18"
                      >{{ item.creator.user.fullName }}
                    </span>
                    <span class="text-black-50 comment-date">{{
                      item.createdDate | date : "dd/MM/yyyy HH:mm"
                    }}</span>

                    <br />
                    <span>{{ item.content }}</span>
                  </div>
                  <div
                    *ngIf="this.user === item.creator.email"
                    class="col-md-1 d-flex justify-content-center align-items-center"
                    (click)="toggleMenu(item.commentId, $event)"
                  >
                    <i class="bi bi-three-dots-vertical"></i>
                  </div>
                </div></div
            ></ng-container>
            <ng-template #showHistory>
              <ng-container *ngIf="historyDtos.length == 0">
                <span class="font-weight-bold">Không có lịch sử</span>
              </ng-container>
              <ng-container *ngFor="let item of historyDtos" class="mt-3">
                <div class="history-item row mt-2">
                  <div
                    class="history-item-ava col-md-1 d-flex justify-content-center align-items-center"
                  >
                    <img
                      src="../../../../../../assets/img/user_icon.svg"
                      alt=""
                    />
                  </div>
                  <div class="col-md-11 history-item-content">
                    <span>
                      {{ item.actionDescription }}
                    </span>
                    <br />
                    <span class="text-black-50 history-date">
                      {{ item.createdDate | date : "dd/MM/yyyy  HH:mm" }}
                    </span>
                  </div>
                </div>
              </ng-container>
            </ng-template>
          </ng-container>
        </div>

        <div class="col-md-4 right-box">
          <div class="height-100">
            <label class="span-heading-color mb-1">Người giao</label>
            <br />
            <div class="row">
              <div
                class="comment-item-person col-md-2 d-flex justify-content-center align-items-center"
              >
                <img src="../../../../../../assets/img/user_icon.svg" alt="" />
              </div>
              <div class="col-md-10 d-flex align-items-center">
                <span class="font-weight-bold">{{
                  selectedAssignment.assigner?.user.fullName
                }}</span>
              </div>
            </div>
          </div>
          <div class="height-100">
            <label class="span-heading-color mb-1">Người làm</label>
            <br />
            <p-dropdown
              class="assignee-dropdown"
              [options]="listOfPossibleAssignees"
              [filter]="true"
              filterBy="user.fullName"
              *ngIf="action === 'info' && hasAuthority('canChangeAssignee')"
              (onChange)="[onChangeAssignee($event), onPatchAssigneeId()]"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="selectedAssignee"
            >
              <ng-template pTemplate="selectedItem">
                <div class="row">
                  <div
                    class="comment-item-person col-md-2 d-flex justify-content-center align-items-center"
                  >
                    <img
                      src="../../../../../../assets/img/user_icon.svg"
                      alt=""
                    />
                  </div>
                  <div class="col-md-10 d-flex align-items-center">
                    <span class="font-weight-bold">{{
                      selectedAssignee?.user.fullName
                    }}</span>
                  </div>
                </div>
              </ng-template>
              <ng-template let-option pTemplate="item">
                <!-- <div>
                {{ option?.user.fullName }}
              </div> -->
                <div class="row">
                  <div
                    class="comment-item-person col-md-2 d-flex justify-content-center align-items-center"
                  >
                    <img
                      src="../../../../../../assets/img/user_icon.svg"
                      alt=""
                    />
                  </div>
                  <div class="col-md-10 d-flex align-items-center">
                    <span class="font-weight-bold">{{
                      option?.user.fullName
                    }}</span
                    >&nbsp;
                    <span class="text-black-50 font-size-14">
                      {{ option?.email }}</span
                    >
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <div
              class="row"
              *ngIf="action === 'update' || !hasAuthority('canChangeAssignee')"
            >
              <ng-container
                *ngIf="selectedAssignment.assignee; else noAssignee"
              >
                <div
                  class="comment-item-person col-md-2 d-flex justify-content-center align-items-center"
                >
                  <img
                    src="../../../../../../assets/img/user_icon.svg"
                    alt=""
                  />
                </div>
                <div class="col-md-10 d-flex align-items-center">
                  <span class="font-weight-bold">{{
                    selectedAssignment.assignee?.user.fullName
                  }}</span>
                </div>
              </ng-container>
              <ng-template #noAssignee>
                <span class="font-weight-bold">Chưa có người làm</span>
              </ng-template>
            </div>
          </div>

          <div class="height-100">
            <label class="span-heading-color mb-1">Trạng thái</label>
            <br />
            <p-tag
              [rounded]="true"
              [severity]="getStatusSeverity(selectedAssignment.status.statusId)"
            >
              {{ selectedAssignment.status.statusName }}
            </p-tag>

            <!-- </form> -->
          </div>
          <div class="height-100">
            <span class="text-black-50">Ngày tạo</span>
            <br />
            <span class="font-weight-bold mt-1">{{
              selectedAssignment.createdDate | date : "dd/MM/yyyy"
            }}</span>
          </div>
          <div
            *ngIf="action === 'info' && hasAuthority('canCompleteConfirm')"
            class="height-100"
          >
            <span class="font-weight-bold">Xác nhận hoàn thành</span>
            <br />
            <button pButton (click)="completeOrCancelCF(true)">Xác nhận</button>
          </div>
          <div
            *ngIf="action === 'info' && hasAuthority('canCancelConfirm')"
            class="height-100"
          >
            <span class="font-weight-bold">Hủy xác nhận hoàn thành</span>
            <br />
            <button pButton (click)="completeOrCancelCF(false)">Hủy</button>
          </div>
          <div
            *ngIf="
              selectedAssignment.task &&
              hasAuthority('canEvaluate') &&
              action === 'info'
            "
            class="height-100 approvement"
          >
            <h6 class="mat-headline-6">Đánh giá</h6>
            <div class="d-flex justify-content-between">
              <div
                *ngIf="
                  selectedAssignment.status.statusId == 16 ||
                  selectedAssignment.status.statusId == 17
                "
              >
                <button pButton (click)="evaluate(false)">
                  Không phê duyệt
                </button>
              </div>
              <div
                *ngIf="
                  selectedAssignment.status.statusId == 16 ||
                  selectedAssignment.status.statusId == 18
                "
              >
                <button class="approve" (click)="evaluate(true)" pButton>
                  Phê duyệt
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-dialog>
    <!-- Popup addroot/addchild -->
    <p-dialog
      header="Tạo mới công việc"
      [(visible)]="assignmentVisible"
      [style]="{ width: '70vw', height: '600px' }"
      [draggable]="false"
      [resizable]="false"
      (onHide)="assignmentPopuptHideEvent()"
    >
      <div *ngIf="selectedAssignment" class="row assignment-container">
        <div class="col-md-8 left-box">
          <div class="height-100">
            <label class="mb-1 fw-medium"
              >Tên công việc<span class="p-error">*</span></label
            >
            <br />
            <input
              class="mb-1"
              pInputText
              type="text"
              formControlName="assignmentName"
            />
          </div>
          <div class="height-100">
            <label class="mb-1 fw-medium">Mô tả chi tiết</label>
            <br />
            <textarea
              class="mb-1"
              pInputTextarea
              formControlName="description"
            ></textarea>
          </div>
          <div class="height-100">
            <label class="mb-1 fw-medium"
              >Hạn nộp<span class="p-error">*</span></label
            ><br />
            <input pInputText type="date" formControlName="deadline" />
          </div>
        </div>

        <div class="col-md-4 right-box">
          <div class="height-100">
            <label class="mb-1 fw-medium">Thuộc</label>
            <br />
            <span class="text-black-50">{{
              selectedAssignment.assignmentName
            }}</span>
          </div>
          <div class="height-100">
            <label class="mb-1 fw-medium"
              >Người làm<span class="p-error">*</span></label
            >
            <br />
            <p-dropdown
              class="assignee-dropdown"
              [options]="listOfPossibleAssignees"
              [filter]="true"
              filterBy="user.fullName"
              (onChange)="[onPatchAssigneeId()]"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="selectedAssignee"
            >
              <ng-template let-option pTemplate="selectedItem">
                <div class="row">
                  <div
                    class="comment-item-person col-md-2 d-flex justify-content-center align-items-center"
                  >
                    <img
                      src="../../../../../../assets/img/user_icon.svg"
                      alt=""
                    />
                  </div>
                  <div class="col-md-10 d-flex align-items-center">
                    <span class="font-weight-bold">{{
                      option?.user.fullName
                    }}</span>
                  </div>
                </div>
              </ng-template>
              <ng-template let-option pTemplate="item">
                <div class="row">
                  <div
                    class="comment-item-person col-md-2 d-flex justify-content-center align-items-center"
                  >
                    <img
                      src="../../../../../../assets/img/user_icon.svg"
                      alt=""
                    />
                  </div>
                  <div class="col-md-10 d-flex align-items-center">
                    <span class="font-weight-bold">{{
                      option?.user.fullName
                    }}</span
                    >&nbsp;
                    <span class="text-black-50 font-size-14">
                      {{ option?.email }}</span
                    >
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="height-100">
            <label class="mb-1 fw-medium"
              >Loại công việc<span class="p-error">*</span></label
            >
            <br />
            <p-dropdown
              [options]="typeAssignmentOptions"
              formControlName="isTask"
            ></p-dropdown>
          </div>
        </div>
      </div>
      <ng-template pTemplate="footer">
        <button
          *ngIf="action == 'addchild'"
          pButton
          (click)="add()"
          [disabled]="assignmentForm.controls.assignmentName.errors?.['whitespace'] ||
        assignmentForm.controls.assigneeId.errors?.['required'] ||
        assignmentForm.controls.deadline.errors?.['required']
        "
        >
          Tạo mới
        </button>
      </ng-template>
    </p-dialog>
  </form>
  <!-- Popup file preview -->
  <p-dialog
    [(visible)]="pdfLoaded"
    [style]="{ width: '90vw', height: '1080px' }"
    [draggable]="false"
    [resizable]="false"
  >
    <div *ngIf="pdfLoaded">
      <iframe [src]="safePdfUrl" width="100%" height="650px"></iframe>
    </div>
  </p-dialog>

  <h5 class="mat-headline-5 fw-medium">Danh sách công việc</h5>
  <div class="card">
    <p-treeTable
      #treeTable
      [value]="assignments"
      [scrollable]="true"
      [style]="{ 'min-width': '50rem' }"
      scrollHeight="600px"
      class="tree-table"
    >
      <ng-template pTemplate="caption">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <h6 class="mat-headline-6">Chi tiết danh sách công việc</h6>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th class="width-30">Công việc</th>
          <!-- <th>Người giao</th> -->
          <th>Người làm</th>
          <th>Hạn nộp</th>
          <th>Trạng thái</th>
          <th class="width-200"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowNode>
        <tr [ttRow]="rowNode">
          <td class="folder width-30">
            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            <ng-container *ngIf="rowData.node.task">
              <i class="bi bi-file-earmark-check-fill file-icon"></i>
            </ng-container>
            <ng-container *ngIf="!rowData.node.task">
              <i class="bi bi-file-earmark-text file-icon"></i>
            </ng-container>
            <span>
              {{ rowData.node.assignmentName }}
            </span>
          </td>
          <!-- <td>{{ rowData.node.assigner?.user.fullName }}</td>   -->
          <td>
            <div
              *ngIf="rowData.node.assignee?.user.fullName; else noAssignee"
              class="row"
            >
              <div
                class="comment-item-person col-md-2 d-flex justify-content-center align-items-center"
              >
                <img src="../../../../../../assets/img/user_icon.svg" alt="" />
              </div>
              <div class="col-md-10 d-flex align-items-center">
                <span class="font-weight-bold">{{
                  rowData.node.assignee?.user.fullName
                }}</span>
              </div>
            </div>
            <ng-template #noAssignee>
              <span class="font-weight-bold">Chưa có người làm</span>
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="rowData.node?.deadline; else noDeadline">
              {{ rowData.node.deadline | date : "dd/MM/yyyy" }}
            </ng-container>
            <ng-template #noDeadline>
              <span class="font-weight-bold">Chưa có hạn nộp</span>
            </ng-template>
          </td>
          <td>
            <p-tag
              [rounded]="true"
              [severity]="getStatusSeverity(rowData.node?.status.statusId)"
            >
              {{ rowData.node?.status.statusName }}
            </p-tag>
          </td>
          <td class="d-flex justify-content-around align-items-center width-200">
            <div
              pTooltip="Chi tiết"
              tooltipPosition="top"
              class="action-item action-item-active d-flex justify-content-center align-items-center mx-2"
              (click)="openDetailRowNode(rowData.node, 'info')"
            >
              <i class="bi bi-info-circle-fill"></i>
            </div>
            <div
              pTooltip="Tạo"
              tooltipPosition="top"
              class="action-item d-flex justify-content-center align-items-center mx-2"
              (click)="
                hasAuthorityByRowNode('canCreateFolderAsm', rowData.node) &&
                  openDetail(rowData.node, 'addchild')
              "
              [ngClass]="{
                'action-item-active': hasAuthorityByRowNode(
                  'canCreateFolderAsm',
                  rowData.node
                )
              }"
            >
              <i class="bi bi-plus-circle-fill"></i>
            </div>

            <div
              pTooltip="Chỉnh sửa"
              tooltipPosition="top"
              class="action-item d-flex justify-content-center align-items-center mx-2"
              [ngClass]="{
                'action-item-active':
                  hasAuthorityByRowNode(
                    'canModifyFolderAsmMetaData',
                    rowData.node
                  ) || hasAuthorityByRowNode('canChangeAssignee', rowData.node)
              }"
              (click)="
                (hasAuthorityByRowNode(
                  'canModifyFolderAsmMetaData',
                  rowData.node
                ) ||
                  hasAuthorityByRowNode('canChangeAssignee', rowData.node)) &&
                  openDetailRowNode(rowData.node, 'update')
              "
            >
              <i class="bi bi-pencil-fill"></i>
            </div>

            <div
              pTooltip="Xóa"
              tooltipPosition="top"
              class="action-item d-flex justify-content-center align-items-center mx-2"
              [ngClass]="{
                'action-item-active':
                  hasAuthorityByRowNode('canDeleteFolder', rowData.node) ||
                  hasAuthorityByRowNode('canDeleteAsm', rowData.node)
              }"
              (click)="
                (hasAuthorityByRowNode('canDeleteFolder', rowData.node) ||
                  hasAuthorityByRowNode('canDeleteAsm', rowData.node)) &&
                  deleteNode(rowData.node)
              "
            >
              <i class="bi bi-x-circle-fill"></i>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</div>
