@import "../../../../../../assets/scss/base";
.p-button {
    background-color: $primary;
    border-radius: 8px;
    border: solid 1px $primary;
    transition: all 0.5s ease;
    &:hover {
        background-color: $primary-hover;
        border-color: $primary-hover;
    }
}
.p-inputtext,
.p-inputtextarea {
    border-radius: 8px;
    width: 100%;
}
.action-item {
    width: 40px;
    height: 40px;
    background-color: $primary;
    border-color: $primary;
    border-radius: 50%;
    font-size: 16px;
    &:hover {
        background-color: $primary-hover;
        border-color: $primary-hover;
        cursor: pointer;
    }
    i {
        color: #fff;
        align-items: center;
    }
}
.folder-icon {
    color: rgb(255, 196, 0);
}
.file-icon {
    color: $primary;
}

:host ::ng-deep {
    .p-button {
        background-color: $primary;
        border-radius: 8px;
        border: solid 1px $primary;
        transition: all 0.5s ease;
        // margin-right: 20px;
        &:hover {
            background-color: $primary-hover;
            border-color: $primary-hover;
        }
    }
    .p-dropdown {
        width: 100%;
        border-radius: 8px;
    }
    ul {
        padding: 0;
        margin-bottom: 0;
    }
    // .p-dialog-footer {
    //     text-align: left;
    // }
    .p-confirm-dialog-reject {
        margin-right: 20px;
    }
    .p-menuitem-link {
        text-decoration-line: none;
    }
    .p-menu {
        padding: 0;
    }
    .p-dropdown {
        height: 52px;
    }
}
.font-weight-bold {
    font-weight: 500;
}
.font-size-18 {
    font-size: 18px;
}
.submit-assignment {
    font-size: 16px;
}
select {
    width: 100%;
    font-size: 1rem;
    color: #495057;
    background: #ffffff;
    padding: 0.5rem 0.5rem;
    border: 1px solid #ced4da;
    transition:
        background-color 0.2s,
        color 0.2s,
        border-color 0.2s,
        box-shadow 0.2s;
    border-radius: 8px;
}
input,
textarea {
    width: 100%;
    border-radius: 8px;
}
.p-button {
    background-color: $primary;
    border-radius: 8px;
    border: solid 1px $primary;
    transition: all 0.5s ease;
    &:hover {
        background-color: $primary-hover;
        border-color: $primary-hover;
    }
}
.font-weight-bold {
    font-weight: 500;
}
.font-size-18 {
    font-size: 18px;
}
.height-100 {
    height: 100px;
}
ul {
    padding: 0;
}
:host ::ng-deep {
    .p-dropdown {
        width: 100%;
    }
    ul {
        padding: 0;
    }
}
.comment-content {
    border-top: 0.5px solid $primary;
}
.comment-item {
    background-color: #ffffff;
    height: 60px;
    .comment-item-person {
        img {
            width: 40px;
            height: 40px;
        }
    }
    .comment-item-content {
        padding-left: 20px;
        .comment-date {
            font-size: 14px;
        }
    }
}
.history-item {
    .history-item-ava {
        img {
            width: 40px;
            height: 40px;
        }
    }
    .history-item-content {
        padding-left: 20px;
        .history-date {
            font-size: 14px;
        }
    }
}
.font-size-12 {
    font-size: 12px;
}
.col-md-1 {
    padding: 0;
}

.comment-item-person {
    img {
        width: 40px;
        height: 40px;
    }
}
.assignment-container {
    height: 100%;
    padding: 0px;
    // display: flex;
    // flex-direction: column;
    .right-box {
        height: 100%;
        padding: 0 60px;
        // border: #495057 solid 1px;

        // // background-color: #f8f9fa;
    }
    .left-box {
        overflow: auto;
        height: 100%;

        // height: 600px;
    }
}
.file-input {
    input {
        width: 75%;
        border-radius: 8px 0 0 8px;
    }
    button {
        width: 25%;
        border-radius: 0 8px 8px 0;
    }
}
.delete-file-item {
    font-size: 30px;
    color: #b42318;
    transition: all 0.5s ease;
    &:hover {
        color: #bc6761;
    }
}
.add-file-item {
    font-size: 30px;
    font-weight: 500;
    color: $primary;
    transition: all 0.5s ease;
    &:hover {
        color: $primary-hover;
    }
}
.file-item {
    background-color: #f9fafb;
    height: 100%;
    // border: 0.8px solid rgb(169, 169, 169);
    border-radius: 10px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    .file-item-content {
        span {
            max-width: 100%;
            white-space: wrap; /* Prevent text from wrapping */
            overflow: hidden; /* Hide overflowing text */
            text-overflow: ellipsis; /* Display ellipsis for overflowing text */
        }
    }
    .file-item-icon {
        img {
            width: 40px;
            height: 40px;
        }
    }
    &:hover {
        cursor: pointer;
        background-color: rgb(244, 244, 244);
    }
}
ul {
    margin-bottom: 0;
}
.children {
    height: 40px;
}
.row {
    margin: 0;
    // div {
    //     padding: 0;
    // }
}
.tab {
    .p-button {
        color: $primary-hover;
        font-size: 16px;
        margin-right: 10px;
        border-radius: 25px;
        border: 0.5px solid $primary-hover;
        background-color: #fff;
        padding: 10px 40px;
        &:hover {
            background-color: $primary-hover;
            color: white;
        }
    }
    .active {
        background-color: $primary-hover;
        color: white;
    }
}
.approvement {
    font-size: 14px;
}
.width-40 {
    width: 40%;
}
.width-10 {
    width: 10%;
}
.width-30 {
    width: 30%;
}
.width-200 {
    width: 200px;
}
a {
    text-decoration: none;
}
.tree-table {
    width: 100%;
}
td,
th {
    font-size: 16px;
}
