<app-loading-complete-dialog
  [visible]="isLoading"
  [completed]="submitCompleted"
  [header]="'Tạo mới văn bản bổ sung'"
  [progress]="'Đang tạo mới văn bản bổ sung'"
  [complete]="'Tạo mới văn bản bổ sung thành công'"
></app-loading-complete-dialog>
<div class="container-fluid">
  <h5 class="mat-headline-5 fw-medium">Tạo văn bản bổ sung</h5>
  <form [formGroup]="guidanceForm">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label class="fw-medium mb-1">Kế hoạch kiểm tra</label>
          <br />
          <span *ngIf="issue">{{ issue.issueName }} </span>
        </div>
        <div class="mb-3">
          <label class="mb-1 fw-medium"
            >Tiêu đề<span class="p-error">*</span></label
          >
          <br />
          <input
            type="text"
            formControlName="guidanceDocumentName"
            pInputText
            class="w-100"
          />
          <br />
          <span *ngIf="check('guidanceDocumentName', this.guidanceForm)" class="p-error"
          >Không được để trống mục này</span
          >
          <span class="p-error" *ngIf="this.guidanceForm.get('guidanceDocumentName')?.hasError('maxlength')">
            Tên tiêu đề không được vượt quá 254 ký tự
          </span>


        </div>
        <div class="mb-3">
          <label class="fw-medium mb-1"
            >Lời nhắn<span class="p-error">*</span></label
          >
          <br />
          <textarea
            class="w-100"
            pInputText
            formControlName="description"
          ></textarea>
          <br />
          <span *ngIf="check('description', this.guidanceForm)" class="p-error"
            >Không được để trống mục này</span
          >
          <span class="p-error" *ngIf="this.guidanceForm.get('description')?.hasError('maxlength')">
            Lời nhắn không được vượt quá 999 ký tự
          </span>

        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-2">
          <label class="fw-medium mb-1">Tài liệu đính kèm</label>
          <br />
          <span>&nbsp;</span>
        </div>
        <ng-container formArrayName="guidanceDocuments">
          <ng-container
            *ngFor="
              let documentForm of guidanceDocuments.controls;
              let i = index
            "
          >
            <div class="row mb-2 file-item py-2" formGroupName="{{ i }}">
              <div class="col-md-11 row">
                <div class="col-md-8 file-info">
                  <div class="mb-2">
                    <label class="fw-medium mb-1"
                      >Tên tài liệu<span class="p-error">*</span></label
                    >
                    <br />
                    <div>
                      <input
                        class="w-100"
                        pInputText
                        formControlName="documentName"
                        class=""
                        type="text"
                        placeholder="Điền tên tài liệu"
                      />
                    </div>
                    <span
                      *ngIf="isBlankForGuidanceDocuments('documentName', i)"

                      class="p-error"
                      >Không được để trống mục này</span
                    >
                    <span
                            *ngIf="isMaxLengthForGuidanceDocuments('documentName', i)"

                            class="p-error"
                    >Tên tài liệu không được vượt quá 254 ký tự</span
                    >
                  </div>
                </div>
                <div class="col-md-4 file-info">
                  <div class="mb-3">
                    <label class="fw-medium mb-1"
                      >Mã tài liệu<span class="p-error">*</span></label
                    >
                    <br />
                    <div>
                      <input
                        class="w-100"
                        pInputText
                        formControlName="documentCode"
                        class=""
                        type="text"
                        placeholder="Điền mã tài liệu"
                      />
                    </div>

                    <span
                      *ngIf="isBlankForGuidanceDocuments('documentCode', i)"
                      class="p-error"
                      >Không được để trống</span
                    >
                    <span
                      class="p-error"
                      *ngIf="
                        isDuplicateDocumentCode(
                          guidanceDocuments.at(i).get('documentCode')?.value,
                          i
                        )
                      "
                      >Trùng lặp mã văn bản</span
                    >
                    <span
                            *ngIf="isMaxLengthForGuidanceDocuments('documentCode', i)"

                            class="p-error"
                    >Mã tài liệu không được vượt quá 254 ký tự</span
                    >
                  </div>
                </div>
                <div class="col-md-12">
                  <label class="fw-medium mb-1"
                    >Tài liệu<span class="p-error">*</span></label
                  >
                  <div class="input-file row">
                    <input
                      type="file"
                      #fileInput
                      style="display: none"
                      (change)="onSubmitFile($event, i)"
                    />
                    <input
                      pInputText
                      readonly
                      class="col-md-9"
                      placeholder="{{
                        fileInputPlaceholders[i]
                          ? fileInputPlaceholders[i]
                          : 'Chọn file để tải lên'
                      }}"
                    />
                    <button
                      type="button"
                      pButton
                      label="Chọn tệp"
                      (click)="fileInput.click()"
                      class="col-md-3"
                    ></button>
                  </div>
                  <ng-container *ngIf="checkValidFile(i)?.value">
                    <span class="p-error">File không được để trống</span>
                  </ng-container>
                </div>

                <!-- <div class="d-flex justify-content-around">
                    <input
                      class="form-control"
                      required
                      (change)="onSubmitFile($event, i)"
                      type="file"
                    />


                  </div> -->
              </div>
              <div
                class="col-md-1 d-flex justify-content-center align-items-center"
              >
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  (click)="removeGuidanceDocument(i)"
                  [ngClass]="{
                    'disable-icon': guidanceDocuments.controls.length === 1
                  }"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-trash-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                    ></path>
                  </svg>
                </button>
              </div>
              <div class="col-md-5 form-group"></div>
            </div>
          </ng-container>
        </ng-container>

        <div class="mt-3 d-flex justify-content-start">
          <button pButton (click)="addGuidanceDocument()" *ngIf="guidanceDocuments.length < 10" type="button">
            Thêm văn bản
          </button>
        </div>
      </div>
    </div>

    <div class="m-2" >
      <button pButton type="submit" (click)="confirm()">Tạo mới</button>
    </div>
  </form>
  <!--<div class="overlay" *ngIf="isLoading">-->
  <!--  <div class="spinner-container">-->
  <!--    <div class="spinner-border" role="status"></div>-->
  <!--  </div>-->
  <!--</div>-->

  <p-toast position="top-right" key="toastGuidanceDocumentCreate"></p-toast>
  <p-confirmDialog
    key="confirmGuidanceDocumentCreate"
    [style]="{ width: '50vw' }"
  ></p-confirmDialog>
</div>
