<form [formGroup]="guidanceForm" >
  <div class="row">
    <div class="form-group col-md-7">
      <div class="m-3">
        <label>Về việc</label>
      </div>
      <div class="m-3">
        <input  type="text" formControlName="guidanceDocumentName" class="form-control">
        <span *ngIf="isBlank('guidanceDocumentName')" class="p-error">Không được để trống mục này</span>
      </div>
    </div>
    <div class="form-group col-md-5">
      <div class="m-3">
        <span class="text-black-50">Kế hoạch kiểm tra</span>
      </div>
      <div class="m-3">
        <span class="font-weight-bold" style="font-weight: bold;">{{issue?.issueName}} </span>
      </div>
    </div>

    <div class="form-group col-md-7">
      <div class="m-3">
        <label>Lời nhắn</label>
      </div>
      <div class="m-3">
        <textarea class="form-control" formControlName="description"></textarea>
        <span *ngIf="isBlank('description')" class="p-error">Không được để trống mục này</span>
      </div>
    </div>
  </div>
  <ng-container formArrayName="guidanceDocuments">
    <ng-container *ngFor="let documentForm of guidanceDocuments.controls; let i = index">
      <div class="row" formGroupName="{{ i}}">
        <div class="col-md-2 form-group">
          <div class="m-2">
            <label>Mã tài liệu</label>
          </div>
          <div class="m-2">
            <input formControlName="documentCode" class="form-control" type="text">
            <span *ngIf="isBlankForGuidanceDocuments('documentCode', i)" class="p-error">Không được để trống mục này</span>
            <span
              class="p-error"
              *ngIf="isDuplicateDocumentCode(guidanceDocuments.at(i).get('documentCode')?.value, i) ">Trùng lặp mã văn bản</span>
          </div>
        </div>
        <div class="col-md-5 form-group">
          <div class="m-2">
            <label>Tên tài liệu</label>
          </div>
          <div class="m-2">
            <input formControlName="documentName" class="form-control" type="text">
            <span *ngIf="isBlankForGuidanceDocuments('documentName', i)" class="p-error">Không được để trống mục này</span>

          </div>

        </div>
        <div class="col-md-5 form-group">
          <div class="m-2">
            <label></label>
          </div>
          <div class="m-2 d-flex justify-content-around">
            <input class="form-control" required (change)="onSubmitFile($event, i)" type="file">
            <button type="button" class="btn btn-outline-danger" (click)="removeGuidanceDocument(i)"
                    [ngClass]="{'disable-icon': guidanceDocuments.controls.length === 1}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
              </svg>
            </button>
            <ng-container *ngIf="checkValidFile(i)?.value">
              <span class="p-error">File không được để trống</span>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <div class="d-flex justify-content-end">
    <button class="btn btn-primary" (click)="addGuidanceDocument()" type="button">Thêm mới</button>
  </div>
  <button class="btn btn-primary" type="submit" (click)="onSubmit()" >Tạo mới</button>

</form>
<div class="overlay" *ngIf="isLoading">
  <div class="spinner-container">
    <div class="spinner-border" role="status"></div>
  </div>
</div>

<p-toast position="top-right" key="error"></p-toast>
