<p class="fw-bold fs-2 mt-5">ĐĂNG NHẬP</p>
<p class="fw-bold">Đăng nhập vào hệ thống sử dụng tài khoản được cấp</p>
<form class="login-form" [formGroup]="signInForm" (ngSubmit)="login()">
  <div>
    <label for="exampleInputEmail1" class="form-label fw-bold fs-5">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
           placeholder="Đăng nhập sử dụng email được cung cấp" formControlName="email">
  </div>
  <div>
    <div class="d-flex justify-content-between">
      <label for="exampleInputPassword1" class="form-label fw-bold fs-5">Mật khẩu</label>
      <a routerLink="/forgot_password">Quên mật khẩu ?</a>
    </div>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mật khẩu" formControlName="password">
  </div>
  <button type="submit" class="btn btn-primary w-100 text-white">Đăng nhập</button>
</form>

