<div *ngIf="notificationItems.notificationListDtos.length > 0; else notificationEmpty">
  <a class="notification-item p-3 mx-1 my-1"
     *ngFor="let notification of notificationItems?.notificationListDtos; let i = index"
     (click)="handleCLickNotificationItem(i)">
    <div class="notification-info">
      <p class="mb-1 fw-bold">{{notification.notificationType}}</p>
      <p class="mb-1">{{notification.message}}</p>
      <p class="mb-1">{{notification.createdOn  | date : "dd/MM/yyyy | hh:mm"}}</p>
    </div>
    <div class="" *ngIf="!notification.isSeen">
      <i class="bi bi-circle-fill"></i>
    </div>
  </a>
</div>
<ng-template #notificationEmpty>
  <div class="text-center notification-item-empty my-3">
    <p>Không có thông báo</p>
  </div>
</ng-template>
