@import "../../../../assets/scss/base";

* {
  scroll-behavior: smooth;
}

.notification-item {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  transition: 0.3s;

  &:hover {
    background-color: #D3D3D3;
  }

  i {
    color: $primary;
    font-size: 0.5rem;
  }
}

.notification-item-empty {
  p {
    font-size: 16px;
  }
}

