<h2>Công việc cần nộp</h2>
<p-toast></p-toast>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  acceptLabel="Đồng ý"
  rejectLabel="Hủy"
></p-confirmDialog>
<!-- PDF preview popup-->
<p-dialog
  [(visible)]="pdfLoaded"
  [style]="{ width: '90vw', height: '1080px' }"
  [draggable]="false"
  [resizable]="false"
>
  <div *ngIf="pdfLoaded">
    <iframe [src]="safePdfUrl" width="100%" height="650px"></iframe>
  </div>
</p-dialog>
<div class="submit-assignment">
  <!-- File upload popup -->
  <p-dialog
    header="Tải file"
    [(visible)]="fileVisible"
    [style]="{ width: '70vw', height: '800px' }"
    [draggable]="false"
    [resizable]="false"
  >
    <form [formGroup]="fileInputForm">
      <div class="row">
        <div>
          <div>
            <span class="text-black-50">Mã tài liệu</span>
            <br />
            <input
              formControlName="documentCode"
              class="form-control"
              type="text"
              placeholder="Điền mã tài liệu"
            />
            <br />
          </div>
          <div>
            <span class="text-black-50">Tên tài liệu</span>
            <br />
            <input
              formControlName="documentName"
              class="form-control"
              type="text"
              placeholder="Điền tên tài liệu"
            />
            <br />
            <ng-container
              *ngIf="fileInputForm.get('documentName')?.dirty && fileInputForm.controls.documentName.errors?.['whitespace']"
            >
              <span class="p-error">Vui lòng điền tên tài liệu</span>
            </ng-container>
          </div>
          <div class="file-input">
            <span class="text-black-50">Tệp tài liệu</span>
            <br />
            <input
              type="file"
              #fileInput
              style="display: none"
              (change)="handleFileInputChange(fileInput)"
            />
            <input
              pInputText
              readonly
              class="col-md-9"
              placeholder="{{
                fileInputPlaceholders
                  ? fileInputPlaceholders
                  : 'Chọn file để tải lên'
              }}"
            />
            <button
              type="button"
              pButton
              label="Chọn tệp"
              (click)="fileInput.click()"
            ></button>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <button
          pButton
          (click)="uploadFiles()"
          [disabled]="fileInputForm.get('file')?.value == '' || fileInputForm.controls.documentName.errors?.['whitespace'] "
        >
          Nộp tài liệu
        </button>
      </div>
    </form>
  </p-dialog>
  <!-- Task detail popup -->
  <p-dialog
    header="Chi tiết công việc"
    [(visible)]="assVisible"
    [style]="{ width: '70vw', height: '800px' }"
    [draggable]="false"
    [resizable]="false"
  >
    <div *ngIf="selectedAssignment" class="row assignment-container">
      <div class="col-md-8 left-box">
        <div class="height-100">
          <span class="text-black-50">Tên công việc</span>
          <br />
          <span class="font-weight-bold mt-1">{{
            selectedAssignment.assignmentName
          }}</span>
        </div>
        <div class="height-100">
          <span class="text-black-50">Chi tiết công việc</span>
          <br />
          <span class="font-weight-bold mt-1">{{
            selectedAssignment.description
          }}</span>
        </div>
        <!-- file -->
        <div>
          <div class="d-flex justify-content-between">
            <div>
              <span class="text-black-50">Tài liệu</span>
            </div>
            <div
              *ngIf="selectedAssignment.status.statusId != 17"
              class="add-file-item d-flex align-items-center justify-content-center"
              (click)="addDocument()"
            >
              <i class="bi bi-plus-circle-fill"></i>
            </div>
          </div>
          <br />
          <div
            *ngIf="
              documents.length > 0 && selectedAssignment.status.statusId != 17
            "
          >
            <ng-container *ngIf="isSubmit; else notSubmit">
              <ng-container *ngFor="let item of documents; let i = index">
                <div class="row mb-3">
                  <div (click)="openNewTab(item.documentLink)">
                    <div class="file-item px-3 py-1 d-flex">
                      <div
                        class="file-item-icon ml-5 d-flex justify-content-center align-items-center"
                      >
                        <img src="../../../../../assets/img/pdf.png" alt="" />
                      </div>
                      <div class="file-item-content">
                        <div class="row ms-2">
                          <div class="col-md-10">
                            <span class="font-weight-bold font-size-18">{{
                              item.documentName
                            }}</span>
                            <br />
                            <span
                              ><span class="font-weight-bold">Mã:</span>
                              {{ item.documentCode }}</span
                            >
                          </div>
                          <!-- <div class="col-md-2">
                            <span class="text-black-50">{{
                              item.sizeFormat || item.file.size
                            }}</span>
                            <br />
                            <span>{{
                              item.uploadedDate | date : "MM/dd/yyyy"
                            }}</span>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <ng-template #notSubmit>
              <ng-container *ngFor="let item of documents; let i = index">
                <div class="row mb-3">
                  <div class="col-md-11">
                    <div
                      (click)="
                        item.documentLink
                          ? openNewTab(item.documentLink)
                          : displayNewFileUpload(item.file)
                      "
                    >
                      <div class="file-item px-3 py-1 d-flex">
                        <div
                          class="file-item-icon ml-5 d-flex justify-content-center align-items-center"
                        >
                          <img src="../../../../../assets/img/pdf.png" alt="" />
                        </div>
                        <div class="file-item-content">
                          <div class="row ms-2">
                            <div class="col-md-10">
                              <span class="font-weight-bold font-size-18">{{
                                item.documentName
                              }}</span>
                              <br />
                              <span
                                ><span class="font-weight-bold">Mã:</span>
                                {{ item.documentCode }}</span
                              >
                            </div>
                            <!-- <div class="col-md-2">
                              <span class="text-black-50">{{
                                item.sizeFormat || item.file.size
                              }}</span>
                              <br />
                              <span>{{
                                item.uploadedDate | date : "MM/dd/yyyy"
                              }}</span>
                            </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-md-1 d-flex justify-content-center align-items-center delete-file-item"
                    (click)="removeDoc(i)"
                  >
                    <i class="bi bi-x-lg"></i>
                  </div>
                </div>
              </ng-container>
            </ng-template>
          </div>
          <div
            *ngIf="
              documents.length > 0 && selectedAssignment.status.statusId == 17
            "
          >
            <ng-container *ngFor="let item of documents; let i = index">
              <div class="row mb-3">
                <div (click)="openNewTab(item.documentLink)">
                  <div class="file-item px-3 py-1 d-flex">
                    <div
                      class="file-item-icon ml-5 d-flex justify-content-center align-items-center"
                    >
                      <img src="../../../../../assets/img/pdf.png" alt="" />
                    </div>
                    <div class="file-item-content">
                      <div class="row ms-2">
                        <div class="col-md-10">
                          <span class="font-weight-bold font-size-18">{{
                            item.documentName
                          }}</span>
                          <br />
                          <span
                            ><span class="font-weight-bold">Mã:</span>
                            {{ item.documentCode }}</span
                          >
                        </div>
                        <!-- <div class="col-md-2">
                            <span class="text-black-50">{{
                              item.sizeFormat || item.file.size
                            }}</span>
                            <br />
                            <span>{{
                              item.uploadedDate | date : "MM/dd/yyyy"
                            }}</span>
                          </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <ng-container
            *ngIf="
              documents.length != 0 && selectedAssignment.status.statusId != 17
            "
          >
            <button *ngIf="!isSubmit" pButton (click)="submit()">
              Xác nhận
            </button>
            <button *ngIf="isSubmit" pButton (click)="cancel()">Hủy</button>
          </ng-container>
        </div>
        <!-- comment -->
        <div class="height-100">
          <br />
          <form [formGroup]="commentForm">
            <div class="comment d-flex">
              <input
                formControlName="content"
                pInputText
                type="text"
                placeholder="Gửi bình luận"
                (keydown)="onKeyPress($event)"
              />
              <div
                class="d-flex justify-content-center align-items-center p-2"
                (click)="sendComment()"
              >
                <i class="bi bi-send"></i>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="selectedAssignment.comments" class="comment-content pt-2">
          <div
            *ngFor="let item of selectedAssignment.comments"
            class="comment-item row"
          >
            <div
              class="comment-item-person col-md-1 d-flex justify-content-center align-items-center"
            >
              <img src="../../../../../../assets/img/user_icon.svg" alt="" />
            </div>
            <div class="comment-item-content col-md-10">
              <span class="font-weight-bold font-size-18"
                >{{ item.userName }}
              </span>
              <span class="text-black-50 comment-date">{{
                item.createdDate | date
              }}</span>

              <br />
              <span>{{ item.content }}</span>
            </div>
            <div
              class="col-md-1 d-flex justify-content-center align-items-center"
            >
              <i class="bi bi-three-dots-vertical"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 right-box">
        <div class="height-100">
          <span class="text-black-50">Người giao</span>
          <br />
          <div class="row mt-1">
            <div
              class="comment-item-person col-md-2 d-flex justify-content-center align-items-center"
            >
              <img src="../../../../../../assets/img/user_icon.svg" alt="" />
            </div>
            <div class="col-md-10 d-flex align-items-center">
              <span class="font-weight-bold">{{
                selectedAssignment.assigner?.user.fullName
              }}</span>
            </div>
          </div>
        </div>
        <div class="height-100">
          <span class="text-black-50">Người làm</span>
          <br />
          <div class="row mt-1">
            <div
              class="comment-item-person col-md-2 d-flex justify-content-center align-items-center"
            >
              <img src="../../../../../../assets/img/user_icon.svg" alt="" />
            </div>
            <div class="col-md-10 d-flex align-items-center">
              <span class="font-weight-bold">{{
                selectedAssignment.assignee?.user.fullName
              }}</span>
            </div>
          </div>
        </div>
        <div class="height-100">
          <span class="text-black-50">Hạn nộp</span>
          <br />
          <span class="font-weight-bold mt-1">{{
            selectedAssignment.deadline | date : "dd/MM/yyyy"
          }}</span>
        </div>
        <div class="height-100">
          <span class="text-black-50">Trạng thái</span>
          <br />
          <span class="mt-1">
            <p-tag
              class="status"
              [severity]="getStatusSeverity(selectedAssignment.status.statusId)"
              [rounded]="true"
            >
              {{ selectedAssignment.status.statusName }}
            </p-tag>
          </span>
        </div>
        <div class="height-100">
          <span class="text-black-50">Ngày tạo</span>
          <br />
          <span class="font-weight-bold mt-1">{{
            selectedAssignment.createdDate | date : "dd/MM/yyyy"
          }}</span>
        </div>
      </div>
    </div>
  </p-dialog>
  <!-- </form> -->
  <p-table
    #dt
    [value]="assignments"
    dataKey="id"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 15, 20]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>
          <div>Id</div>
        </th>
        <th>
          <div>Tên</div>
        </th>
        <th>
          <div>Trạng thái</div>
        </th>
        <th>
          <div>Người giao</div>
        </th>
        <th>Hạn nộp</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-assignment>
      <tr>
        <td>
          {{ assignment.assignmentId }}
        </td>
        <td>
          {{ assignment.assignmentName }}
        </td>
        <td>
          <p-tag
            class="status"
            [severity]="getStatusSeverity(assignment?.status.statusId)"
            [rounded]="true"
          >
            {{ assignment?.status.statusName }}
          </p-tag>
        </td>
        <td>
          <span>{{ assignment.assigner.user.fullName }}</span>
        </td>
        <td>
          <span>
            {{ assignment.deadline | date : "dd/MM/yyyy" }}
          </span>
        </td>
        <td>
          <button pButton (click)="assVisibleToggle(assignment)">
            Chi tiết
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
